.feature-icon-container.col-md-6
  .clearfix
    .feature-icon.pull-left
      %i.fa.fa-user{"aria-hidden" => "true"}
    .feature-content.pull-right
      %h4
        Area of Study: Discovery Short Answer Guide
      - if paid
        %h4 $#{price.round(0)} + 10% GST = $#{price_with_gst.round(0)}
      .text
        %p.u-word-spacing The area of discovery requires students to explore and examine relationships between language and text, and interrelationships among texts. Each student will be provided with a step by step guide on how to tackle the short answer section of HSC English Paper 1. This guide will provide a number of example questions and sample answers of varying quality, allowing you to understand the characteristic of good and bad answers.  In addition, there are 40 sets of questions for you to use as practice (note that the answers you write here will not be marked). 