#feature_Course.feature-icon-container.col-md-6
  .clearfix
    .feature-icon.pull-left
      %i.fa.fa-film{"aria-hidden" => "true"}
    .feature-content.pull-right
      %h4
        Course Videos
      - if paid
        %h4 $#{price.ceil} + 10% GST = $#{price_with_gst.ceil}
      .text 
        %p.u-word-spacing Our videos are broken up into digestible chunks of approximately 10 minutes each. The videos cover all of the fundamental concepts you’ll need to know for the HSC and serve as an excellent starting point for your HSC preparation. Go at your own pace, and clarify any issues you have with our online HSC English tutors. There is no limit on the number of times you may review our videos.

