#english_study_guide.feature-icon-container
  .clearfix
    .feature-icon
      %i.fa.fa-user{"aria-hidden" => "true"}
    .feature-content
      %h4
        Comprehensive study guide for your selected text of study
      .text
        All students will receive the following
        %ul
          %li.u-word-spacing All students will be provided with a comprehensive and detailed study guide specific to the novel/film/poem that has been prescribed to them in their Area of Study. We have detailed material covering the following 12 texts:
          %li.u-word-spacing
            %ul
              %li.u-word-spacing Julius Caesar and The Prince
              %li.u-word-spacing Metropolois and 1984
              %li.u-word-spacing Pride and Prejudice and Letter to Alice
              %li.u-word-spacing Richard III and Looking for Richard
              %li.u-word-spacing The Art of Travel
              %li.u-word-spacing The Cruicble
              %li.u-word-spacing The Great Gatsby and Poetry of E.B Browning
              %li.u-word-spacing The Poetry of Jone Donne and Margaret Edson
              %li.u-word-spacing Away
              %li.u-word-spacing Life of Pi
              %li.u-word-spacing T.S Elliot’s Poetry
              %li.u-word-spacing The Tempest

        Each text-specific guide provides you with an in-depth analysis of the themes, concepts, characters and provides you with a range of annotated essays.
