#Interactive-Teaching-Style.feature-icon-container.col-md-6
  .feature-icon.pull-left
    %i.fa.fa-refresh{"aria-hidden" => "true"}
  .feature-content.pull-right
    %h4
      Interactive Teaching Style
  - if paid
    %h4 $#{price.round(0)} + 10% GST = $#{price_with_gst.round(0)}
    .text 
      %p.u-word-spacing In our small classes of 18, GradReady tutors have plenty of opportunities to clarify your queries and provide you with HSC exam tips.