#feature_MCQs.feature-icon-container.col-md-6
  .clearfix
    .feature-icon.pull-left
      %i.fa.fa-question-circle{"aria-hidden" => "true"}
    .feature-content.pull-right
      %h4
        Online Questions + Tracking System
      .text
        %p.u-word-spacing Our innovative use of Multiple Choice Questions (MCQs) allows the HSC Ready Online Question Bank to incorporate cutting edge web education technology that tracks your performance and targets topics you struggle with. The questions are categorised into subtopics where our MCQ system allows you to create sets of questions based on subtopics of your choosing. We are adding new questions to the bank every week and are constantly updating our technological capabilities. There is no limit to the number of times you may attempt our questions, and explanations for all questions are provided so as to help your HSC preparation in the best way possible.


