#Study-Timeline-Guide.feature-icon-container.col-md-6
  .clearfix
    .feature-icon.pull-left
      %i.fa.fa-book{"aria-hidden" => "true"}
    .feature-content.pull-right
      %h4
        Study Timeline Guide
      %p
        %strong
          %i (included in course book)
      .text 
        %p.u-word-spacing To help you navigate through your HSC prep journey, we have provided a detailed Study Timeline Guide that details how you can best prepare for your exams.