$('#filterrific_with_tags').html("<option>All</option>")
$('#filterrific_with_tags').append("<%= escape_javascript options_from_collection_for_select(@options, :id, :name) %>");
$("#filterrific_with_tags").trigger("chosen:updated");