#featureCourseModal.cstm_secure_modal.modal.fade{:role => "dialog"}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h3 Purchase Course
      .modal-body
        %p Please select at least one feature.
      .modal-footer
