%p
  %b Title:
  = @course.textbooks.present? ? @course.textbooks.first.title : @course.name
  .next_prev_div
    = link_to 'Back to Textbooks', "/dashboard/textbooks", class: "btn btn-default feedback_bth_wdth"

%p
%br
%iframe.embed-responsive-item.auto-hide-navbar{src:"/pdfjs/web/viewer.html?file=#{@course_url}", name: Time.now.to_i, style: "border: 0",width: "100%",height:"800"}

%br
%br
= link_to 'Back', dashboard_textbooks_path, class: 'btn btn-danger'
.div{id: "mod_video_attempt"}


