#student_infographic
  %br
  %br
  %center.main_map_section
    %h2.u-green-big-title.hsc_color
      GradReady Student Infographic GAMSAT
      %sup{ style: "margin-right: -4px;"} ®
      2016
    %h4
      Where our GAMSAT
      %sup{ style: "margin-right: -4px;"} ®
      students were based
    = image_tag("https://gradready.s3.ap-southeast-2.amazonaws.com/static/info/infographic_map-red.jpg")

  .row
    .col-lg-6.col-md-6.col-sm-12
      %table.infographic
        %tr
          %th{:colspan => "2"}
            %h2
              %span.hsc_color Victoria
              %span.u-standard-title (423 students)
        %tr
          %td University of Melbourne
          %td
            .progress-meter.red-meter{:style => "width: 90%;"}
              238
        %tr
          %td Monash University
          %td
            .progress-meter.red-meter{:style => "width: 70%;"}
              101
        %tr
          %td La Trobe University
          %td
            .progress-meter.red-meter{:style => "width: 25%;"}
              36
        %tr
          %td Deakin University
          %td
            .progress-meter.red-meter{:style => "width: 20%;"}
              31
        %tr
          %td Other Universities
          %td
            .progress-meter.red-meter{:style => "width: 12%;"}
              17
    .col-lg-6.col-md-6.col-sm-12
      %table.infographic
        %tr
          %th{:colspan => "2"}
            %h2
              %span.hsc_color  New South Wales
              %span.u-standard-title (365 students)
        %tr
          %td University of Sydney
          %td
            .progress-meter.red-meter{:style => "width: 80%;"}
              187
        %tr
          %td University of New South Wales
          %td
            .progress-meter.red-meter{:style => "width: 75%;"}
              103
        %tr
          %td University of Technology Sydney
          %td
            .progress-meter.red-meter{:style => "width: 26%;"}
              39
        %tr
          %td University of Western Sydney
          %td
            .progress-meter.red-meter{:style => "width: 17%;"}
              22
        %tr
          %td Other Universities
          %td
            .progress-meter.red-meter{:style => "width: 11%;"}
              14
    .col-lg-6.col-md-6.col-sm-12
      %table.infographic
        %tr
          %th{:colspan => "2"}
            %h2
              %span.hsc_color Western Australia
              %span.u-standard-title (143 students)
        %tr
          %td University of Western Australia
          %td
            .progress-meter.red-meter{:style => "width: 75%;"}
              103
        %tr
          %td Other Universities
          %td
            .progress-meter.red-meter{:style => "width: 11%;"}
              23
        %tr
          %td Curtin University
          %td
            .progress-meter.red-meter{:style => "width: 12%;"}
              17
    .col-lg-6.col-md-6.col-sm-12
      %table.infographic
        %tr
          %th{:colspan => "2"}
            %h2
              %span.hsc_color Queensland
              %span.u-standard-title (140 students)
        %tr
          %td University of Queensland
          %td
            .progress-meter.red-meter{:style => "width: 75%;"}
              103
        %tr
          %td Griffith University
          %td
            .progress-meter.red-meter{:style => "width: 18%;"}
              23
        %tr
          %td Other Universities
          %td
            .progress-meter.red-meter{:style => "width: 11%;"}
              14
    .col-lg-6.col-md-6.col-sm-12
      %table.infographic
        %tr
          %th{:colspan => "2"}
            %h2
              %span.hsc_color South Australia
              %span.u-standard-title (90 students)
        %tr
          %td University of Adelaide
          %td
            .progress-meter.red-meter{:style => "width: 30%;"}
              54
        %tr
          %td Flinders University
          %td
            .progress-meter.red-meter{:style => "width: 30%;"}
              24
        %tr
          %td University of South Australia
          %td
            .progress-meter.red-meter{:style => "width: 10%;"}
              12
    .col-lg-6.col-md-6.col-sm-12
      %table.infographic
        %tr
          %th{:colspan => "2"}
            %h2
              %span.u-text-mgreen.hsc_color Other Locations
              %span.u-standard-title (26 students)
        %tr
          %td Other Locations
          %td
            .progress-meter.red-meter{:style => "width: 20%;"}
              26
