#feature_Cross.feature-icon-container.col-md-6
  .clearfix
    .feature-icon.pull-left
      %i.fa.fa-random{"aria-hidden" => "true"}
    .feature-content.pull-right
      %h4 Cross Referencing System
      .text
        %p.u-word-spacing To enable you to better tie together resources across platforms, we have introduced the Cross Referencing system where you will to able to match MCQs to precise videos and notes. So when you get an MCQ wrong, you will now know exactly which videos and notes to review to consolidate your knowledge.