#feature_GetClarity
  .feature-icon-container.col-md-6{:id => "GetClarity System"}
    .clearfix
      .feature-icon.pull-left
        %i.fa.fa-comments{"aria-hidden" => "true"}
      .feature-content.pull-right
        %h4
          GetClarity System
        - if paid
          %h4 $#{price.ceil} + 10% GST = $#{price_with_gst.ceil}
        .text 
          %p.u-word-spacing We believe that the best way to improve is to understand where you went wrong and how you may do better the next time. GetClarity System is a tool that will help you to dissect your weaknesses in even more detail than our standard, but already industry leading, features. The first step in this system is to enable you to easily ask follow-up questions about any content – meaning that you practically have a personal tutor at your fingertips 24/7. The system is currently being applied to our Videos, MCQs and Online Exams.