#feature_teaching.feature-icon-container.col-md-6
  .clearfix
    .feature-icon.pull-left
      %i.fa.fa-refresh{"aria-hidden" => "true"}
    .feature-content.pull-right
      %h4 Interactive Teaching Style
      .text
        %p.u-word-spacing In our small classes of 18, GradReady tutors have plenty of opportunities to clarify your specific queries.
