#feature_Online.feature-icon-container.col-md-6
  .clearfix
    .feature-icon.pull-left
      %i.fa.fa-comments{"aria-hidden" => "true"}
    .feature-content.pull-right
      %h4
        - if paid
          Online Tutor Access <br> $#{price.ceil} + 10% GST = $#{price_with_gst.ceil}
        - else
          Online Tutor Access
      .text
        %p.u-word-spacing Ask as many clarifying questions as it takes for you to truly understand a concept. Our dedicated team of tutors will answer your questions within 48 hours.