#feature_quality.feature-icon-container.col-md-6
  .clearfix
    .feature-icon.pull-left
      %i.fa.fa-refresh{"aria-hidden" => "true"}
    .feature-content.pull-right
      %h4 Quality Assurance System
      .text
        %p.u-word-spacing You are able to rate, out of 10 stars, everything with in the GradReady web system - from MCQs to videos. This means that we can rapidly adapt to your needs.