#feature_timeline.feature-icon-container.col-md-6
  .clearfix
    .feature-icon.pull-left
      %i.fa.fa-book{"aria-hidden" => "true"}
    .feature-content.pull-right
      %h4 Study Timeline Guide
      .text
        %p.u-word-spacing To help you navigate through the UCAT journey, we have provided a detailed Study Timeline Guide for each of the 3 sections. This guide is included in the Course Book.
