%h1 Editing surveys_survey_answer

= render 'surveys/survey_answers/partial/form'
.btn-group
= link_to 'Show', @surveys_survey_answer, class: 'btn btn-default'
= link_to 'Back', surveys_survey_answers_path, class: 'btn btn-default'
