- content_for :show_left_panel, false
- content_for :show_dashboard_bg, true
.step_full_wdt
  .register_col.thankyou_page.mob_thankyou_page
    .thank_heading_col
      You have successfully unsubscribed.
      You’ll no longer receive emails from GradReady about blog.
