.text-center
  %h2.feature_heading1
    - if @product_version.slug ==  "1-week-trial"
      The Following Features are Available Immediately After Registration
    - else
      The Following Features are Available Immediately After Completion of Payment
