.col-md-12
  .span12
    = render 'pages/partial/features_sets/feature_head'
  .features_section_wrapper
    %h4 Online Component
    .clearfix
    .row
      .col-lg-4.col-md-4.col-sm-6.col-xs-12
        .features_content_section
          .features_img_circle
            %i.fa.fa-video-camera{"aria-hidden" => "true"}
          = render 'pages/partial/features_sets/features/examplar_response_videos'
      .col-lg-4.col-md-4.col-sm-6.col-xs-12
        .features_content_section
          .features_img_circle
            %i.fa.fa-question{"aria-hidden" => "true"}
          = render 'pages/partial/features_sets/features/mmi_question_bank'
      .col-lg-4.col-md-4.col-sm-6.col-xs-12
        .features_content_section
          .features_img_circle
            %i.fa.fa-book{"aria-hidden" => "true"}
          = render 'pages/partial/features_sets/features/documents', paid: false, product_line: 'GAMSAT'


