-title 'GradReady Site Map'
- meta_description 'Use the sitemap to find your way around gradready.com.au. Learn about GASMAT & UCAT preparation courses.'
- meta_keywords 'GradReady, Job'

%section.talk_to_bg.home_faq
  .container
    .support_col.looking_corse.text-center
      %h1 GradReady Site Map

%section.pad50
  .container.text-center.go_quickly
    %p Quick Links
    %h2
      %a{href: "/"} GradReady - HomePage
    %h2
      %a{href: "/login"} Login
    %h2
      %a{href: "#gamsat_sitemap"}
        GAMSAT
        %sup ®
        Courses
    / %h2
    /   %a{href: "#umat_sitemap"}
    /     UCAT
    /     %sup ®
    /     Courses
    %h2
      %a{href: "#other_sitemap"} Other
%section.padd_bttm40
  #gamsat_sitemap.container
    .gmsat_map
      .text-center.bdr_bottom.full_width.mbot20
        %h2.aos-item.aos-init.aos-animate{"data-aos" => "fade-up", "data-aos-duration" => "1200"}
          GAMSAT
          %sup ®
          Courses
      .corse_map_col
        %h4
          %a{href: "javascript:void(0)"} Home Page
        %ul
          %li
            %a{href: "/gamsat-preparation-courses/success-assured"} Success Assured
          %li
            %a{href: "/gamsat-preparation-courses/online-essentials"} Online Essentials
          %li
            %a{href: "/gamsat-preparation-courses/online-comprehensive"} Online Comprehensive
          %li
            %a{href: "/gamsat-preparation-courses/attendance-essentials"} Attendance Essentials
          %li
            %a{href: "/gamsat-preparation-courses/attendance-comprehensive"} Attendance Comprehensive
          %li
            %a{href: "/gamsat-preparation-courses/attendance-complete-care"} Attendance Complete Care
          %li
            %a{href: "/gamsat-preparation-courses/custom"} Custom
          %li
            %a{href: "/#free_study_guide"} Free Study Guide
      .corse_map_col
        %h4
          %a{href: "javascript:void(0)"} Guide
        %ul
          %li
            %a{href: "/gamsat-2021"}
              GAMSAT
              %sup ®
              2021
          %li
            %a{href: "/what-is-gamsat"}
              What is GAMSAT
              %sup ®
          %li
            %a{href: "/gamsat-scores"}
              GAMSAT
              %sup ®
              Results Guide 2021
          %li
            %a{href: "/medical-school-entry-requirements"}
              Australian Medical Schools Guide
          %li
            %a{href: "/gamsat-preparation"}
              How to study for the GAMSAT
              %sup ®
          %li
            %a{href: "/gamsat-section-1"}
              GAMSAT
              %sup ®
              Section 1 Prep
          %li
            %a{href: "/gamsat-section-2"}
              GAMSAT
              %sup ®
              Section 2 Prep
          %li
            %a{href: "/gamsat-section-3"}
              GAMSAT
              %sup ®
              Section 3 Prep
          %li
            %a{href: "/gamsat-biology"}
              GAMSAT
              %sup ®
              Biology
          %li
            %a{href: "/gamsat-chemistry"}
              GAMSAT
              %sup ®
              Chemistry
          %li
            %a{href: "/gamsat-physics"}
              GAMSAT
              %sup ®
              Physics
          %li
            %a{href: "/free-gamsat-preparation-materials"}
              Free GAMSAT
              %sup ®
              Resources
          %li
            %a{href: "/gamsat-preparation-courses/free-gamsat-trial"}
              GAMSAT
              %sup ®
              Free Trial
          %li
            %a{href: "/gamsat-quote-generator"}
              GAMSAT
              %sup ®
              Quote Generator
          %li
            %a{href: "/gamsat-free-practice"}
              GAMSAT
              %sup ®
              Practice Questions
          %li
            %a{href: "/gamsat-example-essay"}
              GAMSAT
              %sup ®
              Example Essay
          %li
            %a{href: "/gamsat-physics-formula-sheet"}
              GAMSAT
              %sup ®
              Physics Formulas
          %li
            %a{href: "/gamsat-study-schedule"}
              GAMSAT
              %sup ®
              Study Planner
          %li
            %a{href: "/gamsat-podcast"}
              Gradready GAMSAT
              %sup ®
              Podcast

        / %h4
        /   %a{href: "javascript:void(0)"} Blog
        / %ul
        /   %li
        /     %a{href: "/blog/gamsat-preparation-courses/gamsat-exam-tactics"} GAMSAT® Exam Tactics
        /   %li
        /     %a{href: "/blog/gamsat-preparation-courses/announcements"} Announcements
        /   %li
        /     %a{href: "/blog/gamsat-preparation-courses/medicine"} Medicine
        /   %li
        /     %a{href: "/blog/gamsat-preparation-courses/exam-tips"} Exam Tips
        /   %li
        /     %a{href: "/blog/gamsat-preparation-courses/interviews"} Interviews
        /   %li
        /     %a{href: "/blog/gamsat-preparation-courses/medical-school-entry"} Medical School Entry
        /   %li
        /     %a{href: "/blog/gamsat-preparation-courses/practice-mcqs"} Practice MCQs
        /   %li
        /     %a{href: "/blog/gamsat-preparation-courses/study-tips"} Study Tips
        /   %li
        /     %a{href: "/blog/gamsat-preparation-courses/admissions"} Admissions
        /   %li
        /     %a{href: "/blog/gamsat-preparation-courses"}
        /       %span.green_lnk See More
      .corse_map_col.wdt_25
        %h4
          %a{href: "javascript:void(0)"} FAQ
        %ul
          %li
            %a{href: "/gamsat-preparation-courses/faq/understanding-the-gamsat"}
              Understanding GAMSAT
              %sup ®
              Exam
          %li
            %a{href: "/gamsat-preparation-courses/faq/preparing-for-the-gamsat"}
              Preparing for the GAMSAT
              %sup ®
          %li
            %a{href: "/gamsat-preparation-courses/faq/about-gradready"} About GradReady
          %li
            %a{href: "/gamsat-preparation-courses/faq/enrolment-and-payment"} Enrolment, Payment and Refund policy
          %li
            %a{href: "/gamsat-preparation-courses/faq/for-students-from-a-non-science-background"} For students from a non-science background
          %li
            %a{href: "/gamsat-preparation-courses/faq/postgraduate-medical-school-admissions"} Postgraduate Medical School Admissions
      .corse_map_col.no_child_links
        %h4
          %a{href: "javascript:void(0)"} Other
        %ul
          %li
            %a{href: "/gamsat-preparation-courses/team"} Team
          %li
            %a{href: "/gamsat-preparation-courses/contact"} Contact us
          %li
            %a{href: "/gamsat-preparation-courses/overview"} Overview
          %li
            %a{href: "/gamsat-preparation-courses/scholarship"} Millennials Scholarship
          %li
            %a{href: "/gamsat-preparation-courses/principal_scholarship"} Principal’s Scholarship
          / %li
          /   %a{href: "/free-gamsat-preparation-materials"} Free Resources
          %li
            %a{href: "/gamsat-preparation-courses/student_testimonials"} Student Results
          %li
            %a{href: "/gamsat-preparation-courses/our_students"} Student Survey
  #umat_sitemap.container.gmsat_map.umat_colr
    .text-center.bdr_bottom.full_width.mtop20.mbot20
      %h2
        UCAT
        %sup ®
        Courses
    .corse_map_col.umat_colr
      %h4
        %a{href: "javascript:void(0)"} Home Page
      %ul
        %li
          %a{href: "/umat-preparation-courses/online-essentials"} Online Essentials
        %li
          %a{href: "/umat-preparation-courses/online-comprehensive"} Online Comprehensive
        %li
          %a{href: "/umat-preparation-courses/attendance-essentials"} Attendance Essentials
        %li
          %a{href: "/umat-preparation-courses/attendance-comprehensive"} Attendance Comprehensive
        %li
          %a{href: "/umat-preparation-courses/attendance-complete-care"} Attendance Complete Care
        %li
          %a{href: "/umat-preparation-courses/custom"} Custom
        %li
          %a{href: "/#free_study_guide"} Free Study Guide
    .corse_map_col.umat_colr
      %h4
        %a{href: "javascript:void(0)"} Blog
      %ul
        %li
          %a{href: "/blog/umat-preparation-courses/umat-exam-tactics"} UCAT Exam Tactics
        %li
          %a{href: "/blog/umat-preparation-courses/announcements"} Announcements
        %li
          %a{href: "/blog/umat-preparation-courses/australian-medicine"} Australian Medicine
        %li
          %a{href: "/blog/umat-preparation-courses/exam-tips"} Exam Tips
        %li
          %a{href: "/blog/umat-preparation-courses/free-courses"} Free Courses
        %li
          %a{href: "/blog/umat-preparation-courses/interviews"} Interviews
        %li
          %a{href: "/blog/umat-preparation-courses/medical-school-entry"} Medical School Entry
        %li
          %a{href: "/blog/umat-preparation-courses/practice-mcq-s"} Practice MCQs
        %li
          %a{href: "/blog/umat-preparation-courses/tutor-tuesday"} Tutor Tuesday
        %li
          %a{href: "/blog/umat-preparation-courses"}
            %span.green_lnk See More
    .corse_map_col.umat_colr.wdt_25
      %h4
        %a{href: "javascript:void(0)"} FAQ
      %ul
        %li
          %a{href: "/umat-preparation-courses/faq/understanding-the-umat"} Understanding UCAT ® Exam
        %li
          %a{href: "/umat-preparation-courses/faq/eligibility"} Eligibility
        %li
          %a{href: "/umat-preparation-courses/faq/understanding-the-value-of-preparation"} Understanding the value of Preparation
        %li
          %a{href: "/umat-preparation-courses/faq/understanding-umatready"} About GradReady
        %li
          %a{href: "/umat-preparation-courses/faq/undergraduate-medical-school-admissions"} Undergraduate Medical School Admissions
        %li
          %a{href: "/umat-preparation-courses/faq/enrolment-and-payment-queries"} Enrolment, Payment and Refund policy
    .corse_map_col.umat_colr.no_child_links
      %h4
        %a{href: "javascript:void(0)"} Other
      %ul
        %li
          %a{href: "/umat-preparation-courses/team"} Team
        %li
          %a{href: "/umat-preparation-courses/contact"} Contact us
        %li
          %a{href: "/umat-preparation-courses/about"} Overview
        %li
          %a{href: "/umat-preparation-courses/scholarship"} Scholarship
        %li
          %a{href: "/umat-preparation-courses/free_resources"} Free Resources
        %li
          %a{href: "/umat-preparation-courses/student_testimonials"} Student Results
        %li
          %a{href: "/umat-preparation-courses/our_students"} Student Survey
  #other_sitemap.container.gmsat_map
    .text-center.bdr_bottom.full_width.mbot20
      %h2 Others
    .corse_map_col
      %ul
        %li
          %a{href: "/privacy"} Privacy
        %li
          %a{href: "/terms"} Terms &amp; Conditions
        %li
          %a{href: "/jobs/available-positions"} Careers
        %li
          %a{href: "/login/forgotpassword"} Forgot Password
        %li
          %a{href: "/confirmation"} Resend Confirmation Email
