- if defined? popup
  .pull-right{class: [('close-btn-vce-provider' if product_line == 'vce'), ('close-btn-hsc-provider' if product_line == 'hsc')]}
    X
.container.no_padding
  .table_overflow
    %table{class: [('vce_comparison_table' if product_line == 'vce'), ('hsc_comparison_table' if product_line == 'hsc')]}
      %tr.main-title
        %td{:colspan => "3"} ATTENDANCE PACKAGE
      %tr
        %th
          - if product_line == 'hsc'
            %th
              =image_tag('https://gradready.s3.ap-southeast-2.amazonaws.com/static/GradReady_Logo_red.png', height: "30", alt: "GradReady", class: "umat_compare_logo")
              %br
              Attendance (Comprehensive)
            %th
              Other Provider (MA)
          -else
            %th
              =image_tag('https://gradready.s3.ap-southeast-2.amazonaws.com/static/gradready-logo-purple.png', height: "30", alt: "GradReady", class: "umat_compare_logo")
              %br
              Attendance (Comprehensive)
            %th
              Other Provider (TS)
      %tr.title
        %td{:colspan => "3"} LIVE COMPONENT
      %tr
        - if product_line == 'hsc' && subject == 'english'
          %td
            %a.u-darkred-link{:href=> dynamic_product_version_uri('online-basic', 'HSC', '', '5x1-hour-private-tutoring-session')} Hours of Live Teaching
          %td.red 30 hours
          %td 12 hours
        -elsif product_line == 'hsc' && subject == 'math'
          %td
            %a.u-darkred-link{:href=> dynamic_product_version_uri('online-basic', 'HSC', '', '5x1-hour-private-tutoring-session')} Hours of Live Teaching
          %td.red 30 hours
          %td 27 hours
        -elsif product_line == 'vce'
          %td
            %a.u-purple-link{:href=> dynamic_product_version_uri('online-basic', 'VCE', '', '5x1-hour-private-tutoring-session')} Hours of Live Teaching
          %td.red 30 hours
          %td 29 hours
      %tr
        - if product_line == 'hsc'
          %td
            %a.u-darkred-link{:href=> dynamic_product_version_uri('online-basic', 'HSC', '', 'Live-Tutorials')} Number of Students per Class
          %td.red 10 max
          %td 15 max
        - elsif product_line == 'vce'
          %td
            %a.u-purple-link{:href=> dynamic_product_version_uri('online-basic', 'VCE', '', 'Live-Tutorials')} Number of Students per Class
          %td.red 10 max
          %td 12 max
      %tr
        - if product_line == 'hsc'
          %td
            %a.u-darkred-link{:href=> dynamic_product_version_uri('online-basic', 'HSC', '', 'Live-Tutorials')} Teaching Style
        - elsif product_line == 'vce'
          %td
            %a.u-purple-link{:href=> dynamic_product_version_uri('online-basic', 'VCE', '', 'Live-Tutorials')} Teaching Style
        %td.light-red Interactivity Focused
        %td.light-red Interactivity Focused
      %tr
        - if product_line == 'hsc'
          %td
            %a.u-darkred-link{:href=> '/hsc/team'} Specialist Tutor in Each Subject
          %td.light-red ✔
          %td.light-red ✔
        - if product_line == 'vce'
          %td
            %a.u-purple-link{:href=> '/vce/team'} Specialist Tutor in Each Subject
          %td.light-red ✔
          %td.light-red ✔
      %tr
        - if product_line == 'hsc'
          %td
            %a.u-darkred-link{:href=> dynamic_product_version_uri('online-basic', 'HSC', '', 'Mock-Exam-Day+Mock-Exam-Day-Recap')} Review Day
          %td.light-red ✔
          %td.light-red ✔
        - if product_line == 'vce'
          %td
            %a.u-purple-link{:href=> dynamic_product_version_uri('online-basic', 'VCE', '', 'Mock-Exam-Day+Mock-Exam-Day-Recap')} Review Day
          %td.light-red ✔
          %td.light-red ✔
      %tr.title
        %td{:colspan => "3"} PRACTICAL MATERIAL
      %tr
        %td
          - if product_line == 'hsc'
            %a.u-darkred-link{:href=> dynamic_product_version_uri('online-basic', 'HSC', '', 'feature_Diagnostics')} Diagnostics Test
          - if product_line == 'vce'
            %a.u-purple-link{:href=> dynamic_product_version_uri('online-basic', 'VCE', '', 'feature_Diagnostics')} Diagnostics Test
        %td.red  ✔
        %td  x
      %tr
        %td
          - if product_line == 'hsc'
            %a.u-darkred-link{:href=> dynamic_product_version_uri('online-basic', 'HSC', '', 'feature_Diagnostics')} Auto Reporting System for Diagnostics
          - if product_line == 'vce'
            %a.u-purple-link{:href=> dynamic_product_version_uri('online-basic', 'VCE', '', 'feature_Diagnostics')} Auto Reporting System for Diagnostics
        %td.red  ✔
        %td  x
      %tr
        - if product_line == 'hsc'
          %td
            %a.u-darkred-link{:href=> dynamic_product_version_uri('online-basic', 'HSC', '', 'feature_MCQs')} Performance Tracking System
          %td.light-red  ✔
          %td.light-red  ✔
        - if product_line == 'vce'
          %td
            %a.u-purple-link{:href=> dynamic_product_version_uri('online-basic', 'VCE', '', 'feature_MCQs')} Performance Tracking System
          %td.red  ✔
          %td  x

      %tr
        %td
          - if product_line == 'hsc'
            %a.u-darkred-link{:href=> dynamic_product_version_uri('online-basic', 'HSC', '', 'feature_MCQs')} Customisable MCQs
          - if product_line == 'vce'
            %a.u-purple-link{:href=> dynamic_product_version_uri('online-basic', 'VCE', '', 'feature_MCQs')} Customisable MCQs
        %td.red  ✔
        %td  x
      %tr
        - if product_line == 'hsc' && subject == 'english'
          %td
            %a.u-darkred-link{:href=> dynamic_product_version_uri('online-basic', 'HSC', '', 'feature_GetClarity')} Targeted Essay Feedback
          %td.light-red  ✔
          %td.light-red  ✔
        - elsif product_line == 'hsc' && subject == 'math'
          %td
            %a.u-darkred-link{:href=> dynamic_product_version_uri('online-basic', 'HSC', '', 'feature_GetClarity')} Targeted Essay Feedback
          %td.red  ✔
          %td  NA
        - if product_line == 'vce' && subject == 'english'
          %td
            %a.u-purple-link{:href=> dynamic_product_version_uri('online-basic', 'VCE', '', 'feature_GetClarity')} Targeted Essay Feedback
          %td.light-red  ✔
          %td.light-red  ✔
        - if product_line == 'vce' && subject == 'math'
          %td
            %a.u-purple-link{:href=> dynamic_product_version_uri('online-basic', 'VCE', '', 'feature_GetClarity')} Targeted Essay Feedback
          %td.red  ✔
          %td  NA
      %tr
        %td
          - if product_line == 'hsc'
            %a.u-darkred-link{:href=> dynamic_product_version_uri('online-basic', 'HSC', '', 'feature_online_exams')} Number of Practice Exams
          - if product_line == 'vce'
            %a.u-purple-link{:href=> dynamic_product_version_uri('online-basic', 'VCE', '', 'feature_online_exams')} Number of Practice Exams
        %td  5
        %td.red 10+
      %tr
        %td
          - if product_line == 'hsc'
            %a.u-darkred-link{:href=> dynamic_product_version_uri('online-basic', 'HSC', '', 'feature_online_exams')} Auto Reporting System for Practice Exams
          - if product_line == 'vce'
            %a.u-purple-link{:href=> dynamic_product_version_uri('online-basic', 'VCE', '', 'feature_online_exams')} Auto Reporting System for Practice Exams
        %td.red  ✔
        %td  x
      %tr
        %td
          - if product_line == 'hsc'
            %a.u-darkred-link{:href=> dynamic_product_version_uri('online-basic', 'HSC', '', '6-Online-Exams')} Exam Percentile Reported
          - if product_line == 'vce'
            %a.u-purple-link{:href=> dynamic_product_version_uri('online-basic', 'VCE', '', '6-Online-Exams')} Exam Percentile Reported
        %td.red  ✔
        %td  x
      %tr.title
        %td{:colspan => "3"} LEARNING TOOLS
      %tr
        %td
          - if product_line == 'hsc'
            %a.u-darkred-link{:href=> dynamic_product_version_uri('online-basic', 'HSC', '', 'feature_Course')} Videos
          - if product_line == 'vce'
            %a.u-purple-link{:href=> dynamic_product_version_uri('online-basic', 'VCE', '', 'feature_Course')} Videos
        %td.red  ✔
        %td  x
      %tr
        %td
          - if product_line == 'hsc'
            %a.u-darkred-link{:href=> dynamic_product_version_uri('online-basic', 'HSC', '', 'Quality-Assurance-System')} Quality Assurance System
          - if product_line == 'vce'
            %a.u-purple-link{:href=> dynamic_product_version_uri('online-basic', 'HSC', '', 'Quality-Assurance-System')} Quality Assurance System
        %td.red  ✔
        %td  x
      %tr
        %td
          - if product_line == 'hsc'
            %a.u-darkred-link{:href=> dynamic_product_version_uri('online-basic', 'HSC', '', 'feature_Cross')} Cross Referencing System
          - if product_line == 'vce'
            %a.u-purple-link{:href=> dynamic_product_version_uri('online-basic', 'VCE', '', 'feature_Cross')} Cross Referencing System
        %td.red  ✔
        %td  x
      %tr
        %td
        - if product_line == 'hsc' && subject == 'english'
          %td.highlight-price $875 (10 weeks)
          %td $540 (4 weeks)
        - if product_line == 'hsc' && subject == 'math'
          %td.highlight-price $875 (10 weeks)
          %td $1197 (9 weeks)
        - if product_line == 'vce'
          %td.highlight-price $589 (10 weeks)
          %td $829 (10 weeks)
