// Rowspan 2 for GAMSAT only as it MAY have extra row for practical material component (e.g 6 Online Exams)
%td
  .component-title.under_line
    %a{:href => dynamic_gamsat_product_version_uri(product_version,'online_component')}
      ONLINE COMPONENT

  %li
    / %a{:href => dynamic_gamsat_product_version_uri(product_version,'response_videos')}
    Exemplar Interview Response Videos
  %li
    / %a{:href => dynamic_gamsat_product_version_uri(product_version,'mmi_questions')}
    Bank of MMI Questions
  %li
    / %a{:href => dynamic_gamsat_product_version_uri(product_version,'feature_Documents')}
    Supplemental Resources
