- if defined? popup
  .close-btn-gamsat-provider.pull-right
    X

/ attendance package
.container.no_padding
  .table_overflow.m_btm30
    %table.gamsat_comparison_table
      %tr.main-title
        %td{:colspan => "4"} ATTENDANCE PACKAGE
      %tr
        %th
        %th
          =image_tag('https://gradready.s3.ap-southeast-2.amazonaws.com/static/gradready-logo-green.png', height: "30", alt: "GradReady")
        %th
          Other Provider 1
        %th
          Other Provider 2
      %tr.title
        %td{:colspan => "4"} LIVE COMPONENT
      %tr
        %td
          %a.u-dgreen-link{:href=> "/gamsat-preparation-courses/student_testimonials#student_improved_score"} Track Record
        %td.red.white  ✔
        %td x
        %td x
      %tr
        %td
          %a.u-dgreen-link{:href=> dynamic_product_version_uri('online-basic', 'GAMSAT', '', 'Live-Tutorials')} Hours of Live Teaching
        %td 31 hours
        %td 15 hours
        %td.red.white 35 hours
      %tr
        %td
          %a.u-dgreen-link{:href=> dynamic_product_version_uri('online-basic', 'GAMSAT', '', 'Live-Tutorials')} Number of Students per Class
        %td.red.white 18 max
        %td Uncapped
        %td Uncapped
      %tr
        %td
          %a.u-dgreen-link{:href=> dynamic_product_version_uri('online-basic', 'GAMSAT', '', 'Live-Tutorials')} Teaching Style
        %td.red.white Interactivity Focused
        %td Traditional Seminar
        %td Traditional Seminar
      %tr
        %td
          %a.u-dgreen-link{:href=> '/gamsat-preparation-courses/team'} Specialist Tutor in Each Subject
        %td.light-red ✔
        %td x
        %td.light-red ✔
      %tr
        %td
          %a.u-dgreen-link{:href=> dynamic_product_version_uri('online-basic', 'GAMSAT', '', 'Mock-Exam-Day+Mock-Exam-Day-Recap')} Mock Exam Day
        %td.light-red  ✔
        %td.light-red  ✔
        %td.light-red  ✔
      %tr
        %td
          %a.u-dgreen-link{:href=> dynamic_product_version_uri('online-basic', 'GAMSAT', '', 'Mock-Exam-Day+Mock-Exam-Day-Recap')} Review Day
        %td.light-red  ✔
        %td.light-red  ✔
        %td x
      %tr
        %td
          %a.u-dgreen-link{:href=> dynamic_product_version_uri('online-basic', 'GAMSAT', '', 'Mock-Exam-Day+Mock-Exam-Day-Recap')} Mock Exam Percentile Reported
        %td.light-red  ✔
        %td.light-red  ✔
        %td.light-red  ✔
      %tr
        %td
          %a.u-dgreen-link{:href=> dynamic_product_version_uri('online-basic', 'GAMSAT', '', '5x1-hour-private-tutoring-session')} Option to Access 1 on 1 Teaching
        %td.red.white  ✔
        %td x
        %td x
      %tr.title
        %td{:colspan => "4"} PRACTICAL MATERIAL
      %tr
        %td
          %a.u-dgreen-link{:href=> dynamic_product_version_uri('online-basic', 'GAMSAT', '', 'Diagnostics-Assessment')} Diagnostics Test
        %td.red.white  ✔
        %td  x
        %td  x
      %tr
        %td
          %a.u-dgreen-link{:href=> dynamic_product_version_uri('online-basic', 'GAMSAT', '', 'Diagnostics-Assessment')} Auto Reporting System for Diagnostics
        %td.red.white  ✔
        %td  x
        %td  x
      %tr
        %td
          %a.u-dgreen-link{:href=> dynamic_product_version_uri('online-basic', 'GAMSAT', '', 'feature_MCQs')} Number of MCQs Available
        %td.red.white  4000 and growing weekly
        %td  5000
        %td  2000
      %tr
        %td
          %a.u-dgreen-link{:href=> dynamic_product_version_uri('online-basic', 'GAMSAT', '', 'feature_MCQs')} Performance Tracking System
        %td.red.white  ✔
        %td  x
        %td  x
      %tr
        %td
          %a.u-dgreen-link{:href=> dynamic_product_version_uri('online-basic', 'GAMSAT', '', 'feature_MCQs')} Customisable MCQs
        %td.red.white  ✔
        %td  x
        %td  x
      %tr
        %td
          %a.u-dgreen-link{:href=> dynamic_product_version_uri('online-basic', 'GAMSAT', '', '6-Online-Exams')} Practice Exams
        %td.light-red  ✔
        %td.light-red  ✔
        %td 0
      %tr
        %td
          %a.u-dgreen-link{:href=> dynamic_product_version_uri('online-basic', 'GAMSAT', '', '6-Online-Exams')} Auto Reporting System for Practice Exams
        %td.red.white  ✔
        %td  x
        %td  x
      %tr
        %td
          %a.u-dgreen-link{:href=> dynamic_product_version_uri('online-basic', 'GAMSAT', '', '6-Online-Exams')} Exam Percentile Reported
        %td.light-red  ✔
        %td.light-red  ✔
        %td  x
      %tr.title
        %td{:colspan => "4"} LEARNING TOOLS
      %tr
        %td
          %a.u-dgreen-link{:href=> dynamic_product_version_uri('online-basic', 'GAMSAT', '', '1000-page-Text')} Textbook
        %td.light-red  ✔
        %td.light-red  ✔
        %td  x
      %tr
        %td
          %a.u-dgreen-link{:href=> dynamic_product_version_uri('online-basic', 'GAMSAT', '', 'Course-Videos')} Videos
        %td.light-red  ✔
        %td.light-red  ✔
        %td  x
      %tr
        %td
          %a.u-dgreen-link{:href=> dynamic_product_version_uri('online-basic', 'GAMSAT', '', 'Quality-Assurance-System')} Quality Assurance System
        %td.red.white  ✔
        %td  x
        %td  x
      %tr
        %td
          %a.u-dgreen-link{:href=> dynamic_product_version_uri('online-basic', 'GAMSAT', '', 'feature_Cross')} Cross Referencing System
        %td.light-red  ✔
        %td.light-red  ✔
        %td  x
      %tr.title
        %td{:colspan => "4"} 1 ON 1 TUTOR ASSISTANCE
      %tr
        %td
          %a.u-dgreen-link{:href=> dynamic_product_version_uri('online-basic', 'GAMSAT', '', 'feature_GetClarity')} Number of Essays Marked
        %td  12
        %td.red.white 16
        %td.red.white 30
      %tr
        %td
        %td.highlight-price $1226
        %td $1999
        %td $2997

  %br
  %br
  .container.no_padding
    .table_overflow.m_btm30
      %table.gamsat_comparison_table
        %tr.main-title
          %td{:colspan => "3"} NON-ATTENDANCE PACKAGE
        %tr
          %th
          %th
            =image_tag('https://gradready.s3.ap-southeast-2.amazonaws.com/static/gradready-logo-green.png', height: "30", alt: "GradReady")
          %th
            Other Provider 1
        %tr.title
          %td{:colspan => "3"} PRACTICAL MATERIAL
        %tr
          %td
            %a.u-dgreen-link{:href=> dynamic_product_version_uri('online-basic', 'GAMSAT', '', 'Diagnostics-Assessment')} Diagnostics Exam
          %td.red.white  ✔
          %td  x
        %tr
          %td
            %a.u-dgreen-link{:href=> dynamic_product_version_uri('online-basic', 'GAMSAT', '', 'Diagnostics-Assessment')} Auto Reporting System for Diagnostics
          %td.red.white  ✔
          %td  x
        %tr
          %td
            %a.u-dgreen-link{:href=> dynamic_product_version_uri('online-basic', 'GAMSAT', '', 'Diagnostics-Assessment')} Number of MCQs Available
          %td.red.white  4000 and growing weekly
          %td  3000
        %tr
          %td
            %a.u-dgreen-link{:href=> dynamic_product_version_uri('online-basic', 'GAMSAT', '', 'feature_MCQs')} Performance Tracking System
          %td.red.white  ✔
          %td  x
        %tr
          %td
            %a.u-dgreen-link{:href=> dynamic_product_version_uri('online-basic', 'GAMSAT', '', 'feature_MCQs')} Customisable MCQs
          %td.red.white  ✔
          %td  x
        %tr
          %td
            %a.u-dgreen-link{:href=> dynamic_product_version_uri('online-basic', 'GAMSAT', '', '6-Online-Exams')} Number of Practice Exams
          %td.red.white  6
          %td 5
        %tr
          %td
            %a.u-dgreen-link{:href=> dynamic_product_version_uri('online-basic', 'GAMSAT', '', '6-Online-Exams')} Auto Reporting System for Practice Exams
          %td.red.white  ✔
          %td  x
        %tr
          %td
            %a.u-dgreen-link{:href=> dynamic_product_version_uri('online-basic', 'GAMSAT', '', '6-Online-Exams')} Exam Percentile Reported
          %td.light-red  ✔
          %td.light-red  ✔
        %tr.title
          %td{:colspan => "3"} LEARNING TOOLS
        %tr
          %td
            %a.u-dgreen-link{:href=> dynamic_product_version_uri('online-basic', 'GAMSAT', '', '1000-page-Text')} Textbook
          %td.light-red  ✔
          %td.light-red  ✔
        %tr
          %td
            %a.u-dgreen-link{:href=> dynamic_product_version_uri('online-basic', 'GAMSAT', '', 'Course-Videos')} Videos
          %td.light-red  ✔
          %td.light-red  ✔
        %tr
          %td
            %a.u-dgreen-link{:href=> dynamic_product_version_uri('online-basic', 'GAMSAT', '', 'Quality-Assurance-System')} Quality Assurance System
          %td.red.white  ✔
          %td  x
        %tr
          %td
            %a.u-dgreen-link{:href=> dynamic_product_version_uri('online-basic', 'GAMSAT', '', 'feature_Cross')} Cross Referencing System
          %td.light-red  ✔
          %td.light-red  ✔
        %tr.title
          %td{:colspan => "3"} 1 ON 1 TUTOR ASSISTANCE
        %tr
          %td
            %a.u-dgreen-link{:href=> dynamic_product_version_uri('online-basic', 'GAMSAT', '', 'feature_GetClarity')} Number of Essays Marked
          %td.red.white  10
          %td 8
        %tr
          %td
          %td.highlight-price $726
          %td $1200
