.row
  .col-sm-12
    %h1{style: "margin-top:20px;"} Invoices
.row
  .col-sm-12
    %table.table.table-bordered
      %theader
        %tr
          %td Invoice Number
          %td Action
      %tbody
        - user.enrolments.each_with_index do |en, index|
          %tr
            %td= en.order.reference_number
            -if en.paid_at.present?
              %td= link_to 'Download', enrolment_path(en, format: :pdf), class: 'btn btn-default'
            -else
              %td= link_to 'Pending','javascript:void(0)', class: 'btn btn-default'
