- if current_user.tutor? && @user.student?
  .row
    %h1 User's Interaction Log
    %span.add_interaction_btn
      %a.btn.btn-success{'data-toggle' => 'modal', class: "new_ticket", 'data-target'=> '#UserTicketModal'} + Ticket
      = link_to "+ Add Interaction", new_interaction_log_path(user_id: @user.id), remote: true, class: "btn btn-success"
  = render partial: "users/user_interaction_log", locals: { records: @user.tickets + Ticket.where(email: @user.email, asker_id: nil) +  @user.interaction_logs }
= render 'user_ticket_modal', locals: {asker_id: @user.id}
#log-modal
