// Place all the styles related to the JobApplicationForms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.answer_options {
  margin-bottom: 10px;
}

.application-questions {
  margin-bottom: 10px;
}

.job-form-remove {
  text-align: right;
}

.job-form-input {
  padding-left: 50px;
}

.creation-button {
  margin-top: 20px;
}

.form-question {
  padding-left: 50px;
}
