.job_application_application_answers_content textarea{height: 200px;}
.success_div{
  background-color: #d9edf7;
  text-align: center;
  margin-top: 20px;
  padding: 25px;
  border: 1px solid #bce8f1;
  border-radius: 4px;
}
.success_div p.thnks_msz{
  font-size: 16px;
  font-weight: bold;
}

.job_margin{
  margin-top: 77px;
}
.note_view {
  margin-left: 20px;
}
.note_view ul li {
  list-style: disc;
}
