.umat_prepar_col h1 {
    color: #fff;
    margin: 0;
    font-size: 25px;
    margin-bottom: 7px;
    display: inline-block;
    background: #0073cc;
    padding: 9px 40px 7px !important;
    width: 100%;
    letter-spacing: 3px;
    color: white !important;
}
.umat_prepar_col {
    margin-top: 44px;
    margin-bottom: 50px;
    float: left;
    text-align: center;
}

.umat ul.comris_table li.drk_green {
    background: #007ecc !important;
    color: #fff;
}

.umat .txt_green {
    color: #007ecc !important;
}