span.description-tag-text.blue{
  background: url('https://gradready.s3.ap-southeast-2.amazonaws.com/static/940x30-banner.png') !important;
}

a.btn.btn-gr.blue{
  background-color: #007ecc !important;
  background-image: none;
}