.vce_prpl_clr .umat_prepar_col h1 {
    color: #fff;
    margin: 0;
    font-size: 25px;
    margin-bottom: 7px;
    display: inline-block;
    background: #462C9F;
    padding: 9px 40px 7px !important;
    width: 100%;
    letter-spacing: 3px;
}