.vce_prpl_clr #public-page #team #team-selection ul li.active {
    color: white;
    position: relative;
    background: #462C9F;
}

.vce_prpl_clr #public-page #team #team-selection ul li.active:after {
    border-color: rgba(213,0,0,0);
    border-left-color: #462C9F;
    top: 50%;
    border-width: 14px;
    margin-top: -14px;
}