.vce_prpl_clr .btn-gr {
    background-color: #462C9F !important;
    color: #fff;
    background-image: none !important;
}

.description-tag-text.down.purple {
    background: asset-url('https://gradready.s3.ap-southeast-2.amazonaws.com/static/banner-bg-purple.png') no-repeat center top !important;
    color: white;
}
