.col-lg-7.col-md-6.col-sm-12.col-xs-12
  .cr_descr_text_col
    %p.text_content
      - if product_line == 'GAMSAT'
        %p
          Here at GradReady, we pride ourselves on constantly innovating to meet student needs and it's for this reason that we believe we provide the best technology to help you study more effectively and efficiently, through identifying your weaknesses and facilitating your access to experienced tutors and relevant materials.
        %p
          As part of our philosophy to provide the most comprehensive library of free GAMSAT
          %sup ®
          resources available to students, we’ve created this free trial to help prospective students start their GAMSAT
          %sup ®
          Preparation on the right foot. Sign up for our GAMSAT
          %sup ®
          Free Trial today to experience our proprietary cutting-edge online learning technology that makes us the most advanced GAMSAT
          %sup ®
          Course available.

      - elsif product_line == 'UMAT'
        %p
          GradReady has been helping over 1000 students every year to become doctors. Use our 7 days free trial to see for yourself why GradReady students are outperforming their peers in admissions exams.

        %p
          So sign up today for our free UCAT
          %sup®
          trial and find out why over 1000 students every year are trusting GradReady to prepare them for one of the most important exam of their careers.
    .content-mask
  %a.read_more_cr_decr{href: "javascript:void(0)"} Read more
  %a.read_less_cr_decr{href: "javascript:void(0)"} Read less

.col-lg-5.col-md-6.col-sm-12.col-xs-12.pull-right.cr_descr_banner_col
  #cr_description_col.carousel.slide{"data-ride" => "carousel", "data-interval" => "false"}
    .carousel-inner{role: "listbox"}
      .item.active
        = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/small_banner_slide_img.jpg'
      .item
        = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/small_banner_slide_img.jpg'
    %a.left.carousel-control{"data-slide" => "prev", href: "#cr_description_col", role: "button"}
      %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
      %span.sr-only Previous
    %a.right.carousel-control{"data-slide" => "next", href: "#cr_description_col", role: "button"}
      %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
      %span.sr-only Next
