.feature-icon-container.col-md-6
  .clearfix
    .feature-icon.pull-left
      %i.fa.fa-user{"aria-hidden" => "true"}
    .feature-content.pull-right
      %h4
        Language Analysis Writing Guide 
      .text
        %p.u-word-spacing The Language Analysis section of the VCE English exam is one of the most technically challenging aspects of the entire subject. To assist students, we have compiled a detailed step-by-step guide introducing you to all the key components of analysing persuasive language.