.feature-icon-container.col-md-6{:id => "1500-MCQs-(and-growing)+Tracking-System"}
  .clearfix
    .feature-icon.pull-left
      %i.fa.fa-question-circle{"aria-hidden" => "true"}
    .feature-content.pull-right
      %h4
        Online Questions + Tracking System
      .text
        %p.u-word-spacing Our innovative use of Multiple Choice Questions (MCQs) allows the VCE Ready Online Question Bank to incorporate cutting edge web education technology in performance tracking and topic targeting. The questions are categorised into subtopics where our advanced MCQ system not only tracks your performance in each subtopic but also allows you to create sets of questions based on subtopics of your choosing. We are adding new questions to the bank every week and stay tuned for additional technology updates throughout the year. There is no limit on the number of times you may re-attempt the questions. Explanations are provided for all questions to help your VCE preparation.



