#5-Online-Exams.feature-icon-container.col-md-6
  .clearfix
    .feature-icon.pull-left
      %i.fa.fa-copy{"aria-hidden" => "true"}
    .feature-content.pull-right
      %h4
        5 Online Exams
      - if paid
        %h4 $#{price.ceil} + 10% GST = $#{price_with_gst.ceil}
      .text 
        %p.u-word-spacing Our online test system mimics the style of the VCE exams by putting you under real time pressure. The exam results are automatically broken down according to the applicable topics, giving you a precise overview of your strengths and weaknesses. In addition, your performance will be automatically compared to that of other VCE Ready students, and you will be given the resulting percentile in the applicable topics and overall. Other than our Mock Exam Days, this is as close as it gets to the actual VCE exams.



