%h1 Editing class session

= render :partial => 'student_class_sessions/partial/form'

= link_to 'Show', @student_class_session, class: 'btn btn-default'
\|
= link_to 'Back', student_class_sessions_path, class: 'btn btn-default'
