.col-md-3.col-sm-12.ftLinks.gready_col_1
  %h3.footer-heading PRODUCT TOUR
  %ul.footer-menu
    %li
      %a{:href => "/gamsat-preparation-courses/overview"} Overview
    %li
      %a{:href => "/gamsat-preparation-courses/online_system_demo"} Online Systems Demo
    %li
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "/gamsat-preparation-courses"}
        Courses
        %span.glyphicon.glyphicon-triangle-right
      %ul.dropdown-menu.drop-menu
        %li
          %a{:href => "/gamsat-preparation-courses/online-essentials"} Online (Essentials)
        %li
          %a{:href => "/gamsat-preparation-courses/online-comprehensive"} Online (Comprehensive)
        %li
          %a{:href => "/gamsat-preparation-courses/attendance-essentials"} Attendance (Essentials)
        %li
          %a{:href => "/gamsat-preparation-courses/attendance-comprehensive"} Attendance (Comprehensive)
        %li
          %a{:href => "/gamsat-preparation-courses/attendance-complete-care"} Attendance (Complete Care)
        %li
          %a{:href => "/gamsat-preparation-courses/custom"} Custom
    %li
      %a{:href => "/gamsat-preparation-courses/team"} Team
    %li
      %a{:href => "/updates/gamsat"} Recent Updates

.col-md-3.col-sm-12.ftLinks.gready_col_3
  %h3.footer-heading SCHOLARSHIP
  %ul.footer-menu
    %li
      %a{:href => "/gamsat-preparation-courses/scholarship"} Scholarship

.col-md-2.col-sm-12.ftLinks.gready_col_4
  %h3.footer-heading COMPARE GRADREADY
  %ul.footer-menu
    %li
      %a{:href => "/gamsat-preparation-courses/compare"} Compare Gradready

/ .col-md-2.col-sm-12.ftLinks.gready_col_4nav
/   %h3.footer-heading FREE RESOURCES
/   %ul.footer-menu
/     %li
/       %a{:href => "/gamsat-preparation-courses/free_resources"} Free Resources

.col-md-2.col-sm-12.ftLinks.gready_col_5
  %h3.footer-heading TESTIMONIALS
  %ul.footer-menu
    %li
      %a{:href => "/gamsat-preparation-courses/our_students"} Satisfaction Survey
    %li
      %a{:href => "/gamsat-preparation-courses/student_testimonials"} Student Results

.col-md-1.col-sm-12.ftLinks.gready_col_6
  %h3.footer-heading CONTACT US
  %ul.footer-menu
    %li
      %a{:href => "/gamsat-preparation-courses/faq"} FAQ
    %li
      %a{:href => "/gamsat-preparation-courses/contact"} Get In Touch
    %li
      %a{:href => "/blog/gamsat-preparation-courses"} Blog
