.col-md-2.col-sm-12.ftLinks.hscready_col_1
  %h3.footer-heading COURSES
  %ul.footer-menu
    %li
      %a{:href => "/hsc/hscready-math-extension-1-online-essentials"} Math Extension 1 - Online (Essentials)
    %li
      %a{:href => "/hsc/hscready-math-extension-1-online-comprehensive"} Math Extension 1 - Online (Comprehensive)
    %li
      %a{:href => "/hsc/hscready-math-extension-1-attendance-essentials"} Math Extension 1 - Attendance (Essentials)
    %li
      %a{:href => "/hsc/hscready-math-extension-1-attendance-comprehensive"} Math Extension 1 - Attendance (Comprehensive)
    %li
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "/hsc"}
        ="...more"
        %span.glyphicon.glyphicon-triangle-right
      %ul.dropdown-menu.drop-menu.vce_dropdown
        %li
          %a{:href => "/hsc/hscready-math-extension-1-attendance-comprehensive-private-tutoring"} Math Extension 1 - Attendance (Comprehensive + Private Tutoring)
        %li
          %a{:href => "/hsc/math-extension-1-cutsom"} Math Extension 1 - Custom
        %li
          %a{:href => "/hsc/hscready-english-advanced-online-essentials"} English Advanced - Online (Essentials)
        %li
          %a{:href => "/hsc/hscready-english-advanced-online-comprehensive"} English Advanced - Online (Comprehensive)
        %li
          %a{:href => "/hsc/hscready-english-advanced-attendance-essentials"} English Advanced - Attendance (Essentials)
        %li
          %a{:href => "/hsc/hscready-english-advanced-attendance-comprehensive"} English Advanced - Attendance (Comprehensive)
        %li
          %a{:href => "/hsc/hscready-english-advanced-attendance-comprehensive-private-tutoring"} English Advanced - Attendance (Comprehensive + Private Tutoring)
        %li
          %a{:href => "/hsc/english-advanced-custom"} English Advanced - Custom

.col-md-2.col-sm-12.ftLinks.vceready_col_2
  %h3.footer-heading SCHOLARSHIP
  %ul.footer-menu
    %li
      %a{:href => "/hsc/scholarship"} Scholarship


.col-md-2.col-sm-12.ftLinks.vceready_col_3
  %h3.footer-heading COMPARE GRADREADY
  %ul.footer-menu

.col-md-1.col-sm-12.ftLinks.vceready_col_4
  %h3.footer-heading ABOUT
  %ul.footer-menu
    %li
      %a{:href => "/hsc/about"} Core Values
    %li
      %a{:href => "/hsc/team"} Team
    %li
      %a{:href => "/updates"} Recent Updates

.col-md-2.col-sm-12.ftLinks.gready_col_5
  %h3.footer-heading TESTIMONIALS
  %ul.footer-menu
    %li
      %a{:href => "/gamsat-preparation-courses/our_students"} Satisfaction Survey
    %li
      %a{:href => "/gamsat-preparation-courses/student_testimonials"} Student Results


.col-md-1.col-sm-12.ftLinks.gready_col_6
  %h3.footer-heading CONTACT US
  %ul.footer-menu
    %li
      %a{:href => "/hsc/faq"} FAQ
    %li
      %a{:href => "/hsc/contact"} Get In Touch
    %li
      %a{:href => "/blog/hsc"} Blog





