.col-md-2.col-sm-12.ftLinks.gready_col_1
  %h3.footer-heading COURSES
  %ul.footer-menu
    %li
      %a{:href => "/umat-preparation-courses/online-essentials"} Online (Essentials)
    %li
      %a{:href => "/umat-preparation-courses/online-comprehensive"} Online (Comprehensive)
    %li
      %a{:href => "/umat-preparation-courses/attendance-essentials"} Attendence (Essentials)
    %li
      %a{:href => "/umat-preparation-courses/attendance-comprehensive"} Attendence (Comprehensive)
    %li
      %a{:href => "/umat-preparation-courses/attendance-complete-care"} Attendence (Complete Care)
    %li
      %a{:href => "/umat-preparation-courses/custom"} Custom

.col-md-2.col-sm-12.ftLinks.gready_col_2.umat_2
  %h3.footer-heading SCHOLARSHIP
  %ul.footer-menu
    %li
      %a{:href => "/umat-preparation-courses/scholarship"} Scholarship

.col-md-2.col-sm-12.ftLinks.gready_col_3.umat_3
  %h3.footer-heading ABOUT
  %ul.footer-menu
    %li
      %a{:href => "/umat-preparation-courses/about"} Core Values
    %li
      %a{:href => "/umat-preparation-courses/team"} Team
    %li
      %a{:href => "/updates?tab=UMAT"} Recent Updates

.col-md-2.col-sm-12.ftLinks.gready_col_4.umat_4
  %h3.footer-heading TESTIMONIALS
  %ul.footer-menu
    %li
      %a{:href => "/gamsat-preparation-courses/our_students"} Satisfaction Survey
    %li
      %a{:href => "/gamsat-preparation-courses/student_testimonials"} Student Results

.col-md-1.col-sm-12.ftLinks.gready_col_5.umat_5
  %h3.footer-heading FAQ
  %ul.footer-menu
    %li
      %a{:href => "/umat-preparation-courses/faq"} FAQ

.col-md-1.col-sm-12.ftLinks.gready_col_6.umat_6
  %h3.footer-heading BLOG
  %ul.footer-menu
    %li
      %a{:href => "/blog/umat-preparation-courses"} Blog

.col-md-2.col-sm-12.ftLinks.gready_col_7
  %h3.footer-heading CONTACT US
  %ul.footer-menu
    %li
      %a{:href => "/umat-preparation-courses/contact"} Contact Us
