.col-md-2.col-sm-12.ftLinks.vceready_col_1
  %h3.footer-heading COURSES
  %ul.footer-menu
    %li
      %a{:href => "/vce/math-extension-1-online-essentials"} Mathematical Methods (CAS) - Online (Essentials)
    %li
      %a{:href => "/vce/math-extension-1-online-comprehensive"} Mathematical Methods (CAS) - Online (Comprehensive)
    %li
      %a{:href => "/vce/math-extension-1-attendance-essentials"} Mathematical Methods (CAS) - Attendance (Essentials)
    %li
      %a{:href => "/vce/math-extension-1-attendance-comprehensive"} Mathematical Methods (CAS) - Attendance (Comprehensive)
    %li
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "/vce"}
        ="...more"
        %span.glyphicon.glyphicon-triangle-right
      %ul.dropdown-menu.drop-menu.vce_dropdown
        %li
          %a{:href => "/vce/math-extension-1-attendance-comprehensive-private-tutoring"} Mathematical Methods (CAS) - Attendance (Comprehensive + Private Tutoring)
        %li
          %a{:href => "/vce/mathematical-methods-cas-custom"} Mathematical Methods (CAS) - Custom
        %li
          %a{:href => "/vce/english-advanced-online-essentials"} English - Online (Essentials)
        %li
          %a{:href => "/vce/english-advanced-online-comprehensive"} English - Online (Comprehensive)
        %li
          %a{:href => "/vce/english-advanced-attendance-essentials"} English - Attendance (Essentials)
        %li
          %a{:href => "/vce/english-advanced-attendance-comprehensive"} English - Attendance (Comprehensive)
        %li
          %a{:href => "/vce/english-advanced-attendance-comprehensive-private-tutoring"} English - Attendance (Comprehensive + Private Tutoring)
        %li
          %a{:href => "/vce/english-custom"} English - Custom

.col-md-2.col-sm-12.ftLinks.vceready_col_2
  %h3.footer-heading SCHOLARSHIP
  %ul.footer-menu
    %li
      %a{:href => "/vce/scholarship"} Scholarship

.col-md-2.col-sm-12.ftLinks.vceready_col_3
  %h3.footer-heading COMPARE GRADREADY
  %ul.footer-menu

.col-md-1.col-sm-12.ftLinks.vceready_col_4
  %h3.footer-heading ABOUT
  %ul.footer-menu
    %li
      %a{:href => "/vce/about"} Core Values
    %li
      %a{:href => "/vce/team"} Team
    %li
      %a{:href => "/updates/gamsat"} Recent Updates

.col-md-2.col-sm-12.ftLinks.gready_col_5.vceready_col_5
  %h3.footer-heading TESTIMONIALS
  %ul.footer-menu
    %li
      %a{:href => "/gamsat-preparation-courses/our_students"} Satisfaction Survey
    %li
      %a{:href => "/gamsat-preparation-courses/student_testimonials"} Student Results

.col-md-1.col-sm-12.ftLinks.gready_col_6
  %h3.footer-heading CONTACT US
  %ul.footer-menu
    %li
      %a{:href => "/vce/faq"} FAQ
    %li
      %a{:href => "/vce/contact"} Get In Touch
    %li
      %a{:href => "/blog/vce"} Blog
