#filterrific_results
  %table.gr-table.gr-table-bordered.table-hover
    %thead
      %tr
        %th
          Name
        %th
          Product Line
        %th{colspan: 2}
          Actions
    %tbody
      = render @blog_categories
