%h1 Blog Categories

%h4 Filter Blog Categories
.panel.panel-default
  .panel-body
    = form_for_filterrific @filterrific do |f|
      .form-group
        %label Type
        =f.select(:by_product_line, @filterrific.select_options[:by_product_line],{ include_blank: '- All -' }, class: 'form-control')
      = link_to 'Reset filters', reset_filterrific_url, class: 'btn btn-default'

=link_to "Create category", new_blog_category_path, class:"btn btn-gradready green"
%br
%br

=render(partial: 'blog_categories/table', locals: { blog_categories: @blog_categories })
