.container
  .row
    = simple_form_for(@essay_tutor_response, url: essay_response_essay_tutor_response_path(essay_response_id: @essay_response.id, essay_tutor_response_id: @essay_response.essay_tutor_response)) do |f|
      = render 'essay_tutor_responses/partial/form', f: f
