#gstCheckoutModal.modal.fade.latest_pop{"aria-hidden" => "true", "aria-labelledby" => "gstCheckoutModal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title GST Notification
      .modal-body
        %p
          Overseas residents outside Australia may be eligible for a deduction of the GST fee.  To check your eligibility please submit a support ticket under the category 3. Payment Query and please be prepared to provide proof of current overseas residency.
      .modal-footer
        .text-center
          %button.btn.default_btn.resp_btn.hvr-shutter-in-horizontal{"data-dismiss" => "modal", :type => "button"} OK
