%html
  %head
    %title GAMSAT Preparation Courses, UCAT Preparation Course, HSC Preparation Courses and VCE Preparation Courses

    %meta{charset: "utf-8"}
    %meta{name: "description", content: "Hey guys, I just signed up for a GradReady course. If you use my link below, you'll save 10% off your course and I'll get 5% cash back for my course. So it's a win-win!"}
    %meta{name: "robots", content: "noindex, nofollow"}

    %meta{property: "og:title", content: "GradReady - GAMSAT, UCAT, HSC and VCE Prep Courses"}
    %meta{property: "og:description", content: "Hey guys, I just signed up for a GradReady course. If you use my link below, you'll save 10% off your course and I'll get 5% cash back for my course. So it's a win-win!"}
    %meta{property: "og:image", content: url('https://gradready.s3.ap-southeast-2.amazonaws.com/static/discount-image.png').open}
    %meta{property: "og:url", content: user_promo_link_url(params[:token])}
