!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    :css
      *{
      padding: 0px;
      margin: 0px;
      }
  %body
    .wrapper{style: "padding: 30px 0px; font-family:arial"}
      %table{style: "margin: 0 auto;max-width: 677px;width: 100%; font-family:arial;margin-top: 50px;padding: 12px 12px;"}
        %tbody
          %tr
            %td{style: "font-weight: 700;"}
              ="Hi,"
          %tr
            %td{style: "margin-top: 22px; line-height: 25px; float: left; font-size: 15px;"}
              We noticed that you submitted a question on the online forum on our website and would love to know wheather your query was satisfactory answered. At GradReady, we endeavor to provide students with the best teaching tools and in conjuction, we are committed to ensuring that all your questions are comprehensively answered.
          %tr
            %td{style: "margin-top: 22px; line-height: 25px; margin-bottom: 60px; float: left; font-size: 15px;"}
              If you have any recommendations or feedback, we would love to hear it. Accordingly, please email the Lead Operations Manager at lom@gradready.com.au.
          %tr
            %td{style: "margin-bottom: 24px; float: left;font-size: 15px;"}
              Kind regards,
          %tr
            %td{style: "margin-bottom: 34px; float: left;font-size: 15px;"}
              GradReady Student Success Team
