.stucture_wrap
  .stucture
    .str_col
      %p
        UCAT
        %sup ®
        Exam
      %p
        (University Clinical Aptitude Test)
  %ul.exam_list_ucat.ucat_list_outer
    %li
      .str_col
        %p
          Cognitive
      %ul.exam_list_ucat.ucat_list_inner
        %li
          .str_col
            %p
              Verbal Reasoning
        %li
          .str_col
            %p
              Decision Making
        %li
          .str_col
            %p
              Quantitative Reasoning
        %li
          .str_col
            %p
              Abstract Reasoning
    %li
      .str_col
        %p
          Non-Cognitive
      %ul.exam_list_ucat.ucat_list_inner
        %li
          .str_col
            %p
              Situational Judgement