- title "About"
.about
  %h1.u-text-green{:id => 'title'} Our Strategy
  .row
    .col-md-2.col-md-offset-1
      .description
        %i.fa.fa-heart.green{:id => 'heart-icon', "aria-hidden" => "true"}
        %h4
          %a.u-text-black{:href => "#", :class => 'text'} Sustainable Learning
        .content Avoid information overload. Foster interest. Provide assistance.
    .col-md-2
      .description
        %i.fa.fa-rocket.green{:id => 'rocket-icon', "aria-hidden" => "true"}
        %h4
          %a.u-text-black{:href => "#", :class => 'text'} Efficient Systems
        .content Leverage online technologies. Provide realtime feedback. Continually refine processes.
    .col-md-2
      .description
        %i.fa.fa-crosshairs.green{:id => 'crosshairs-icon', "aria-hidden" => "true"}
        %h4
          %a.u-text-black{:href => "#", :class => 'text'} Effective Study Habits
        .content Provide multi-modal learning formats. Emphasize practice questions. Give students perspectives.
    .col-md-2
      .description
        %i.fa.fa-share-alt.green{:id => 'share-icon', "aria-hidden" => "true"}
        %h4
          %a.u-text-black{:href => "#", :class => 'text'} Customization
        .content Provide many learning options. Allow flexible exploration. Encourage innovative approaches.
    .col-md-2
      .description
        %i.fa.fa-comment.green{:id => 'comment-icon', "aria-hidden" => "true"}
        %h4
          %a.u-text-black{:href => "#", :class => 'text'} Collaborative Environments
        .content Make classes small. Dedicate time to interact. Instill question-answer thinking.
        %br
        %br

.carousel.slide{id: 'aboutCarousel'}
  %ol.carousel-indicators
    %li.item1.active
    %li.item2
    %li.item3
    %li.item4
  .carousel-inner
    .item.active
      %center
        #how-is-gr-different.green.hover
          .container
            .course-title
              %h1
                How is
                %span.green Gamsat
                %span.stick-left Ready
                Different?
              %br/
              .row.thumbnails
                .col-md-4
                  %i.fa.fa-users.banner-icon.green{"aria-hidden" => "true"}
                  %h2 High Engagement
                  .txt_blck
                    %p
                      We believe in the value of classroom interaction and
                      %a.u-green-link{:href =>dynamic_gamsat_product_version_uri('online-basic', '5x1-hour-private-tutoring-session')} learning through understanding and application
                      rather than rote. We put basic concepts in
                      %a.u-green-link{:href => dynamic_gamsat_product_version_uri('online-basic', 'feature_Course')} video form,
                      allowing our dedicated tutors to focus on teaching you how to apply what you learned, and to understand the reasoning behind difficult concepts. In addition, by spreading the material
                      %a.u-green-link{:href => dynamic_gamsat_product_version_uri('online-basic', 'course-date-container')} over 3 weeks,
                      we give you the opportunity to reflect upon and digest the information - which is vital to effective learning.
                .col-md-4
                  %i.fa.fa-crosshairs.banner-icon.green{"aria-hidden" => "true"}
                  %h2
                    Targeted Learning
                  .txt_blck
                    %p
                      A key to effective learning is knowing how to identify and work on your weaknesses. Unlike traditional paperback MCQ banks, our Online MCQ System tracks your performance and
                      %a.u-green-link{:href => dynamic_gamsat_product_version_uri('online-basic', 'feature_MCQs')} identifies your weaknesses.
                      Then, using our Cross Referencing system, you can easily
                      %a.u-green-link{:href => dynamic_gamsat_product_version_uri('online-basic', 'feature_Cross')} locate the appropriate material
                      to help you in your trouble areas. Finally, our expert tutors will teach you a range of approaches and critical reasoning skills that
                      %a.u-green-link{:href => dynamic_gamsat_product_version_uri('online-basic', '5x1-hour-private-tutoring-session')} get results.
                .col-md-4
                  %i.fa.fa-desktop.banner-icon.green{"aria-hidden" => "true"}
                  %h2
                    Effective Online Tools
                  .txt_blck
                    %p
                      Our technology creates a smooth and
                      = link_to 'integrated learning experience', recent_update_path(anchor: 'Improved-web-user-experience'), class: 'u-green-link'
                      that is the first of its kind in Australia. Not only are you able to easily identify your weaknesses, you have all the specific resources - neatly organised and indexed - at your fingertips, whether it is specific videos, targeted MCQs,

                      or
                      %a.u-green-link{:href => dynamic_gamsat_product_version_uri('online-basic', '5x1-hour-private-tutoring-session')} tutor advice.
                      Accessing what you need has never been this easy
        %center.u-spacing-top
          %a.btn.btn-gr{:href => "/gamsat-preparation-courses/student_testimonials"} Learn more
          %br
          %br
    .item
      %center
        #how-is-gr-different.hover
          .container
            %h1
              How is
              %span.blue UCAT
              %span.stick-left Ready
              Different
            .row.thumbnails
              .col-md-4
                %i.fa.fa-users.banner-icon.blue{"aria-hidden" => "true"}
                %h2 High Engagement
                .txt_blck
                  %p
                    Our teaching strategy focusses on learning through collaborative and targeted discussions with knowledgeable tutors in a classroom environment. In our classes we work through questions and focus on the application of knowledge rather than simply memorizing facts. Our videos and other pre-course material explain fundamental concepts to students. This allows our excellent teachers to focus on skills development and exam strategies in class time. Our classes are delivered over three weeks to allow students to maximize their learning experience and reflect upon their progress.
              .col-md-4
                %i.fa.fa-crosshairs.banner-icon.blue{"aria-hidden" => "true"}
                %h2
                  Targeted Learning
                .txt_blck
                  %p
                    Our online resources allow students to identify their areas of strengths and weaknesses by engaging in effective diagnostic assessment through online MCQ’s. Students are then able to use our Cross Referencing system to access material that develops their areas of weaknesses and reinforces their strengths. For students who prefer to access information visually or by practice, we offer both video resources and the ability to tailor online practice exams to your own needs and standard. In addition to this, our tutors focus on delivering classes that develop micro skills such as the ability to analyses, compare and critique information.
              .col-md-4
                %i.fa.fa-desktop.banner-icon.blue{"aria-hidden" => "true"}
                %h2
                  Effective Online Tools
                .txt_blck
                  %p
                    We offer a unique and innovative online learning experience. Our web based tools assist students to focus their learning on areas of weakness and further refine their strengths.  These tools cater to different learning styles and include problem based learning and audio/video resources. Our website utilizes a user friendly design that integrates a substantial body of resources in an organized way. Our online tools also include a forum to access tutors regarding any topic of concern to students.
        %center.u-spacing-top
          %a.btn.btn-gradready.blue{:href => "/umat-preparation-courses/about"} Learn more
          %br
          %br
    .item
      %center
        #how-is-gr-different.hover
          .container
            %h1.different_headign
              How is
              %span1 VCE
              %span.blck_color Ready
              Different?
            .row.thumbnails
              .col-md-4
                %i.fa.fa-users.banner-icon.purple{"aria-hidden" => "true"}
                %h2 High Engagement
                .txt_blck
                  %p
                    We provide students with yearlong access to extensive, detailed resources and face to face teaching. Our pre-course materials include study guides, videos and example exam questions and answers that provides students with access to fundamental concepts and knowledge. During live classes, our tutors focus on building student skills in analyzing and applying their knowledge by working through exam style questions and answers. By providing students with access to different styles of teaching and learning resources we provide a tailored and comprehensive learning experience.
              .col-md-4
                %i.fa.fa-crosshairs.banner-icon.purple{"aria-hidden" => "true"}
                %h2
                  Targeted Learning
                .txt_blck
                  %p
                    The first step to improving performance and outcomes is to understand your strengths and weaknesses. Our online tools allow you to assess yourself to identify the areas in which you need further improvement. From there you can customize the resources that you access on our website in order to maximize your exposure to learning in your areas of weakness. Along with this access to our tutors through forums and live classes allow you to ask questions of specific interest to you. Our extensive online question bank, not only allows you to practice but it also tracks your performance and provides you with a greater understanding of
              .col-md-4
                %i.fa.fa-desktop.banner-icon.purple{"aria-hidden" => "true"}
                %h2
                  Effective Online Tools
                .txt_blck
                  %p
                    At Grad Ready we are proud of our one of a kind online learning experience. We provide you with the resources you need to improve your HSC performance at the click of a mouse. Our online tools are not only comprehensive but organized in a way that allows students to select the information of interest and value to them. Our innovative online resources including practice examples, videos and forum access to our most experienced and knowledgeable tutors.
        %center.u-spacing-top
          %a.btn.btn-gradready.purple{:href => "/vce/about"} Learn more
          %br
          %br
    .item
      %center
        #how-is-gr-different.hover
          .container
            .scho_hsc_color
              %h1
                How is
                %span.red HSC
                %span.stick-left Ready
                Different?
            .row.thumbnails
              .col-md-4
                %i.fa.fa-users.banner-icon.red{"aria-hidden" => "true"}
                %h2 High Engagement
                .txt_blck
                  %p
                    Our HSC Ready classes are delivered to maximize a student’s learning capacity by focusing on the skills that need to be taught face to face. We do not waste our class time by providing you with basic information. Rather we provide access to fundamental knowledge and concepts through our online resources prior to classes. This allows our teachers to use their face to face time with students to ensure that students understand how to apply information in the context of example assessment questions. By allowing time between our face to face classes, we provide students with the opportunity to independently build their own knowledge so that they are able to focus their time with our tutors on the areas that challenge them the most.
              .col-md-4
                %i.fa.fa-crosshairs.banner-icon.red{"aria-hidden" => "true"}
                %h2
                  Targeted Learning
                .txt_blck
                  %p
                    Our courses are designed to assist students in maximizing the results they gain from the time they spend studying. We understand that each student has limited time to dedicate to study for each subject. Therefore, our online resources allow a student to identify their areas of strengths and weaknesses and then locate material for their needs using our Cross Referencing system. Our face to face learning experience, with small student groups, also ensures that students get the benefit of tutor assist to further hone in their skills and understanding of complex ideas and concepts.
              .col-md-4
                %i.fa.fa-desktop.banner-icon.red{"aria-hidden" => "true"}
                %h2
                  Effective Online Tools
                .txt_blck
                  %p
                    As pioneers in online HSC teaching, we make learning accessible and convenient. Students can tailor their learning experience by selecting the style of resource that suits them. We facilitate this by offering a variety of online learning resources including web based text guides, practice exams, videos and forum discussions. Students can connect with other students and have their questions answered by experienced and knowledgeable tutors. Students also benefit from the flexibility of an online learning environment so that they can study at their own pace. Our online tools are under constant review and we allow for students to give feedback and ask questions about the resources that we have available.
        %center.u-spacing-top
          %a.btn.btn-gradready.red{:href => "/hsc/about"} Learn more
          %br
          %br
  %a.u-white-link.left.carousel-control{:href => '#aboutCarousel'}
    %i.fa.fa-chevron-circle-left{'aria-hidden' => true}
  %a.u-white-link.right.carousel-control{:href => '#aboutCarousel'}
    %i.fa.fa-chevron-circle-right{'aria-hidden' => true}



