- title "FAQ"
.row
  %center
    %h1.u-green-big-title All Frequently Asked Questions (FAQs)
  %br
.container
  .col-md-6
    %a.u-white-link.btn-mega.green{:href => "#{root_url}gamsat/faq"} GamsatReady
  .col-md-6
    %a.u-white-link.btn-mega.blue{:href => "#{root_url}umat/faq"} UmatReady
  .col-md-6
    %a.u-white-link.btn-mega.purple{:href => "#{root_url}vce/faq"} VceReady
  .col-md-6
    %a.u-white-link.btn-mega.red{:href => "#{root_url}hsc/faq"} HscReady
