- title "Why Are We the Best GAMSAT Prep Provider? | GradReady"
- meta_description "How to we compare to other GAMSAT prep providers? See why we are the best choice to aid you on your path to medicine."
.container.default-main-container
  .row
    .span12
      #public-page
        #course-packages
          .container.no_padding
            .cmptr_compr.padding-top0
              .course-description-container
                %h1.provider
                  GAMSAT® Preparation Provider Comparison Table
                %p
                  We believe in making well informed decisions, therefore we have made an easy to use comparison table for you. The table compares GradReady to other popular GAMSAT® preparation providers. You will notice that we are happy to point out where we are not the leader, as well as in places where we are; we want to provide you with the most complete information possible, so you can  make a fully informed decision.
                %br
          =render 'pages/partial/gamsat/gamsat_comparison'
