- title "Enhance your GAMSAT Prep with our Advanced Systems | GradReady"
- meta_description "Improve your GAMSAT results with our trial, containing sample questions, exams, practice tests, and more free resources."
.container.pricing_onln_freeresources
  %h1.text-center
    Online components available within our GAMSAT
    %sup{ style: "margin-right: -6px;"} ®
    Courses
  %span.full_wdt.text-center.mtob.greendot_img
  %p
    The following systems have been created with the goal of thoroughly preparing you for the GAMSAT
    %sup{ style: "margin-right: -5px;"} ®
    exam. They have been designed from the ground up to be as intuitive and user friendly, while maintaining a high level of functionality and accuracy. Over time, you will be able to utilise these systems to not only learn the content contained in the GAMSAT
    %sup{ style: "margin-right: -5px;"} ®
    exam, but identify your weaknesses and turn them into your strengths. With a team of dedicated tutors and support staff behind our system, we will ensure you are prepared for your GAMSAT
    %sup{ style: "margin-right: -5px;"} ®
    exam day.
  %span.full_wdt.text-center.mtob.greendot_img
  %p Want to have a closer look at these systems? Make sure you sign up for our FREE trial course! You will be able to access these systems and see exactly how they will help you ace your exam! There are no hidden terms and conditions  - you have 7 days of unlimited access to the below systems (marked essays and tutors excluded).
  .full_wdt.text-center.mtob
    %a.btn.btn-gr.green.trial_btn{:href => dynamic_gamsat_product_version_uri('1-week-trial')} CLICK FOR FREE TRIAL
  .full_wdt.mtob
    .row
      .col-lg-5.col-md-5.col-sm-12.col-xs-12.green_box_wdt
        %h4.text-center Diagnostics Assessment
        .green_box
          %p.text-justify
            Use the 62 question test to test your familiarity of the fundamental concepts covered in the GAMSAT
            %sup{ style: "margin-right: -5px;"} ®
            exam.
            Your performance will be automatically reported across the 4 subject areas and 24 subtopics. Use this information to guide the focus of your study. Note that this is not a diagnostics of your performance in the GAMSAT
            %sup{ style: "margin-right: -5px;"} ®
            exam; the MCQs or Online Exams would better serve that purpose.
      .col-lg-1.col-md-1.col-sm-12.col-xs-12.arrow_wdt
        %span.green_arrow
          %img{:height => "53", :src => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/green_arrow.png', :width => "57", alt: "Arrow Clipart"}/
      .col-lg-6.col-md-6.col-sm-12.col-xs-12.green_box_img
        %video.video-js.vjs-default-skin{:controls => "", "data-autoplay" => "false", "data-autoresize" => "fit", "data-controls" => "true", "data-setup" => "{ \"playbackRates\": [2, 1.5, 1.2, 1, 0.5] }", :poster => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/online-sys-demo/Diagnostics_Thumbnail.png', :title => "GAMSATReady", :width => "100%", height: "307px"}
          %source{:src => "http://gradready-prod.s3.amazonaws.com/public/How%20to%20Use%20the%20Diagnostics%20Assessment%20Feature%20-%20GradReady%20GAMSAT.mp4", :type => "video/mp4"}
          %source{"data-quality" => "hd", :src => "http://gradready-prod.s3.amazonaws.com/public/How%20to%20Use%20the%20Diagnostics%20Assessment%20Feature%20-%20GradReady%20GAMSAT.mp4", :type => "video/mp4"}
  .full_wdt.mtob
    .row
      .col-lg-5.col-md-5.col-sm-12.col-xs-12.green_box_wdt
        %h4.text-center MCQ’s + Tracking System
        .green_box
          %p
            Includes
            %span.fnt_bold Quality Assurance System
            and
            %span.fnt_bold Cross Referencing System
          %p.text-justify Our MCQ Bank utilises cutting edge web education technology in performance tracking and topic targeting. Our advanced  system not only tracks your performance in each subtopic, it also allows you to create sets of MCQs based on subtopics of your choosing – meaning you can focus on what you need to.
      .col-lg-1.col-md-1.col-sm-12.col-xs-12.arrow_wdt
        %span.green_arrow
          %img{:height => "53", :src => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/green_arrow.png', :width => "57", alt: "Arrow Clipart"}/
      .col-lg-6.col-md-6.col-sm-12.col-xs-12.green_box_img
        %video.video-js.vjs-default-skin{:controls => "", "data-autoplay" => "false", "data-autoresize" => "fit", "data-controls" => "true", "data-setup" => "{ \"playbackRates\": [2, 1.5, 1.2, 1, 0.5] }", :poster => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/online-sys-demo/MCQs_and_Tracking_Thumbnail.png', :title => "GAMSATReady", :width => "100%", height: "307px"}
          %source{:src => "http://gradready-prod.s3.amazonaws.com/public/How%20to%20Use%20the%20MCQs%20%2B%20Tracking%20System%20-%20GradReady%20GAMSAT.mp4", :type => "video/mp4"}
          %source{"data-quality" => "hd", :src => "http://gradready-prod.s3.amazonaws.com/public/How%20to%20Use%20the%20MCQs%20%2B%20Tracking%20System%20-%20GradReady%20GAMSAT.mp4", :type => "video/mp4"}
  .full_wdt.mtob
    .row
      .col-lg-5.col-md-5.col-sm-12.col-xs-12.green_box_wdt
        %h4.text-center Online Exams
        .green_box
          %p.text-justify
            Intended to mimic the style of the GAMSAT
            %sup{ style: "margin-right: -5px;"} ®
            exam by putting you under real time pressure. The exam results will be automatically broken down according to the applicable topics to give you a precise overview of your strengths and weaknesses. In addition, your performance will be automatically compared to that of other GradReady students, and you will be given the resulting percentile in the applicable sections and overall.
      .col-lg-1.col-md-1.col-sm-12.col-xs-12.arrow_wdt
        %span.green_arrow
          %img{:height => "53", :src => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/green_arrow.png', :width => "57", alt: "Arrow Clipart"}/
      .col-lg-6.col-md-6.col-sm-12.col-xs-12.green_box_img
        %video.video-js.vjs-default-skin{:controls => "", "data-autoplay" => "false", "data-autoresize" => "fit", "data-controls" => "true", "data-setup" => "{ \"playbackRates\": [2, 1.5, 1.2, 1, 0.5] }", :poster => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/online-sys-demo/Online_Exams_Snapshot.png', :title => "GAMSATReady", :width => "100%", height: "307px"}
          %source{:src => "http://gradready-prod.s3.amazonaws.com/public/How%20to%20Use%20the%20Online%20Exams%20Feature%20-%20GradReady%20GAMSAT.mp4", :type => "video/mp4"}
          %source{"data-quality" => "hd", :src => "http://gradready-prod.s3.amazonaws.com/public/How%20to%20Use%20the%20Online%20Exams%20Feature%20-%20GradReady%20GAMSAT.mp4", :type => "video/mp4"}
  .full_wdt.mtob
    .row
      .col-lg-5.col-md-5.col-sm-12.col-xs-12.green_box_wdt
        %h4.text-center Course Videos
        .green_box
          %p.text-justify
            The videos are broken up into digestible chunks of approximately 10 minutes each. The videos cover all of the fundamental concepts you'll need to know for the GAMSAT
            %sup{ style: "margin-right: -5px;"} ®
            exam and serve as an excellent starting point for your GAMSAT
            %sup{ style: "margin-right: -5px;"} ®
            exam preparation. Go at your own pace, and clarify issues through Online Tutor Access. There is no limit on the number of times you may review the videos.
      .col-lg-1.col-md-1.col-sm-12.col-xs-12.arrow_wdt
        %span.green_arrow
          %img{:height => "53", :src => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/green_arrow.png', :width => "57", alt: "Arrow Clipart"}/
      .col-lg-6.col-md-6.col-sm-12.col-xs-12.green_box_img
        %video.video-js.vjs-default-skin{:controls => "", "data-autoplay" => "false", "data-autoresize" => "fit", "data-controls" => "true", "data-setup" => "{ \"playbackRates\": [2, 1.5, 1.2, 1, 0.5] }", :poster => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/online-sys-demo/Videos_Thumbnail.png', :title => "GAMSATReady", :width => "100%", height: "307px"}
          %source{:src => "http://gradready-prod.s3.amazonaws.com/public/How%20to%20Access%20and%20Use%20Course%20Videos%20-%20GradReady%20GAMSAT.mp4", :type => "video/mp4"}
          %source{"data-quality" => "hd", :src => "http://gradready-prod.s3.amazonaws.com/public/How%20to%20Access%20and%20Use%20Course%20Videos%20-%20GradReady%20GAMSAT.mp4", :type => "video/mp4"}
  .full_wdt.mtob
    .row
      .col-lg-5.col-md-5.col-sm-12.col-xs-12.green_box_wdt
        %h4.text-center Marked Essays
        .green_box
          %p.text-justify Get personal feedback on your essays within 72 working hours. Experienced essay markers will identify your specific weaknesses and teach you how to improve.
      .col-lg-1.col-md-1.col-sm-12.col-xs-12.arrow_wdt
        %span.green_arrow
          %img{:height => "53", :src => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/green_arrow.png', :width => "57", alt: "Arrow Clipart"}/
      .col-lg-6.col-md-6.col-sm-12.col-xs-12.green_box_img
        %video.video-js.vjs-default-skin{:controls => "", "data-autoplay" => "false", "data-autoresize" => "fit", "data-controls" => "true", "data-setup" => "{ \"playbackRates\": [2, 1.5, 1.2, 1, 0.5] }", :poster => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/online-sys-demo/Essays_Thumbnail.png', :title => "GAMSATReady", :width => "100%", height: "307px"}
          %source{:src => "http://gradready-prod.s3.amazonaws.com/public/How%20to%20Access%20and%20Use%20the%20Essays%20Feature%20-%20GradReady%20GAMSAT.mp4", :type => "video/mp4"}
          %source{"data-quality" => "hd", :src => "http://gradready-prod.s3.amazonaws.com/public/How%20to%20Access%20and%20Use%20the%20Essays%20Feature%20-%20GradReady%20GAMSAT.mp4", :type => "video/mp4"}
  .full_wdt.mtob
    .row
      .col-lg-5.col-md-5.col-sm-12.col-xs-12.green_box_wdt
        %h4.text-center Booking a Tutor
        .green_box
          %p.text-justify
            Be fully prepared for the GAMSAT
            %sup{ style: "margin-right: -5px;"} ®
            exam by addressing your remaining weak points in one on one sessions. You are able to discuss anything you prefer with our team of expert tutors.
      .col-lg-1.col-md-1.col-sm-12.col-xs-12.arrow_wdt
        %span.green_arrow
          %img{:height => "53", :src => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/green_arrow.png', :width => "57", alt: "Arrow Clipart"}/
      .col-lg-6.col-md-6.col-sm-12.col-xs-12.green_box_img
        %video.video-js.vjs-default-skin{:controls => "", "data-autoplay" => "false", "data-autoresize" => "fit", "data-controls" => "true", "data-setup" => "{ \"playbackRates\": [2, 1.5, 1.2, 1, 0.5] }", :poster => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/online-sys-demo/Tutor_Thumbnail.png', :title => "GAMSATReady", :width => "100%", height: "307px"}
          %source{:src => "http://gradready-prod.s3.amazonaws.com/public/How%20to%20Book%20a%20Private%20Tutor%20-%20Gradready%20GAMSAT.mp4", :type => "video/mp4"}
          %source{"data-quality" => "hd", :src => "http://gradready-prod.s3.amazonaws.com/public/How%20to%20Book%20a%20Private%20Tutor%20-%20Gradready%20GAMSAT.mp4", :type => "video/mp4"}
