- title "GAMSAT Physics Formula Sheet | Free Physics Cheat Sheet"
- meta_description "GAMSAT Physics is often overlooked by students as being too difficult or not worth studying for. However, Physics can be easily prepared for with a systematic approach. You’ll find that Physics plays a role in many questions in Section 3, including those that are primarily Biology or Chemistry focused. Going through the GAMSAT Physics syllabus and learning the core topics can make a significant impact on your score, so it is important to not neglect this aspect of the GAMSAT exam."
- meta_keywords "gamsat physics formula, gamsat physics cheat sheet"

%section.talk_to_bg.home_faq.dashboard_bg
  #typed.notification_bar
    %p
      = render 'pages/partial/announcement', product_line: map_path_to_prodline(request.env['PATH_INFO']), relative: false
  .container.public_container
    .support_col.looking_corse.text-center.gradready_question
      %h1
        Free GAMSAT
        %sup ®
        Physics Formula Sheet
%section.faq_wrapper.faq_details
  .row
    .container.public_container
      / .download-counter-badge
      /   %i.fa.fa-user{'aria-hidden': "true"}
      /   = show_download_hit_count :physics_formula_sheet
      .preparation_col
        %p
          Physics is often considered by students to be the most difficult topic on the GAMSAT
          %sup ®
          exam, since most medical school applicants do not have a Physics background. It is also sometimes overlooked because it ‘only makes up 20% of Section 3’. However, Physics is often not as tough as commonly thought, and can be effectively studied by systematically and strategically going through the syllabus and relevant topics. Also, getting the relatively higher value Physics questions right can be the difference that gets you into medical school. In studying Physics, one of our key tips is to know the relevant formulae and the conceptual background that underpins them. Here at GradReady, we’re providing a free GAMSAT
          %sup ®
          Physics Cheat Sheet to kickstart your GAMSAT
          %sup ®
          Physics Study.

        %ol
          %li
            %a{href: "#formula_sheet"}
              GAMSAT
              %sup ®
              Physics Formula Sheet
          %li
            %a{href: "#study_physics"}
              Studying for GAMSAT
              %sup ®
              Physics
          %li
            %a{href: "#prep_material"}
              Further Preparation Materials
      .preparation_col.head_aftr_none
        %h2#formula_sheet
          GAMSAT
          / %sup{style: "text-decoration:none"} ®
          Physics Formula Sheet
        %p.mtop_zero
          Our GAMSAT
          %sup ®
          Physics Cheat Sheet provides you the main formulae needed to ace the Physics section of the GAMSAT
          %sup ®
          \.
          You can use it all the way through in your preparation, or use it as a model to create your own formula list from.
        %p
          Our formula sheet can be downloaded for free using the below button. Print it out and learn the formulae within, as well as the concepts behind them. You can then incorporate these into your GAMSAT
          %sup ®
          Physics notes to be well prepared for the GAMSAT
          %sup ®
          \.
        .fr_text_center
          .aus_map

            %iframe{:height => "600px", :src => "https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/Section_3_GAMSAT_Physics_Formula_Sheet.pdf", :type => "application/pdf", :width => "100%"}
          %a{href: download_phy_formula_sheet_path}
            .highlight_box.text-center.green_box.mbot20.download_img_bar
              %strong
                Click here to Download GradReady’s Free GAMSAT Physics Formula Sheet


          .text-center
            .download-counter-badge
              %i.fa.fa-user{'aria-hidden': "true"}
              %p.download_read= show_download_hit_count :physics_formula_sheet
        %p
          We also provide a more detailed GAMSAT
          %sup ®
          Physics guide, broken down into a day-by-day plan as part of our comprehensive GAMSAT
          %sup ®
          Study Guide, which can be accessed as part of our GAMSAT
          %sup ®
          Free Trial. Get access to a complete GAMSAT
          %sup®
          Syllabus, 50 free MCQs as well as a wealth of other preparation materials to help you kickstart your preparation:
        .boxed
          Get Access to:
          %ul{:style => "list-style-type:none;padding: 13px 0px;"}
            %li 50 Free MCQs
            %li Week-By-Week Study Guide
            %li Complete Session 3 Topic List
            %li Recorded Webinars
          .free_gamsat_icon
            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
          .button_right_section
            %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial"} GAMSAT Free Trial

      .preparation_col.head_aftr_none
        %h2#study_physics
          Studying for GAMSAT
          / %sup{style: "text-decoration:none"} ®
          Physics
      .preparation_col.head_aftr_none
        %h3#where_to_start.mtop10.mbot20
          GAMSAT
          / %sup ®
          Physics Syllabus
        %p.mtop_zero
          To make the most out of your GAMSAT
          %sup ®
          Physics study, we believe you should hone in on the key topics covered in the GAMSAT
          %sup ®
          exam. This helps you maximise efficiency and the time you can spend on really understanding the key concepts. That’s why we have provided a checklist of the main topics in the GAMSAT
          %sup ®
          Physics Syllabus to help you organise your study and plan your physics notes.
        %ol
          %li
            Motion (1D and 2D motion, acceleration and graphs)
          %li
            Newton’s laws (in particular equilibrium) and torque
          %li
            Energy, work and conservation of moment
          %li
            Physics of liquids (especially pressure, Archimedes’ principle, buoyant force)
          %li
            Electricity and magnetism (electrostatic and magnetic forces)
          %li
            Electric circuits
          %li
            Optics
          %li
            Radioactive decay and other exponential-type mathematical laws
          %li
            Mathematical operations, fractions and scientific notation
          %li
            Mathematical functions (especially logarithmic and trigonometric functions)

        %p
          This is not an exhaustive list but should cover quite a lot in the GAMSAT
          %sup ®
          exam. An additional piece of advice: It is suggested that you acquire some “cultural” knowledge of physics: Learn what are the important historical experiments and how physics’ principles are used in biology or chemistry research (e.g. one GAMSAT
          %sup ®
          physics question is based on the design of a mass spectrometer).
        %h3
          Do I Need to Memorise GAMSAT Physics Equations?
        %p 
          Formulas are not everything! Remember that the GAMSAT
          %sup ®
          Exam is all about reasoning, not knowledge recall. GAMSAT
          %sup ®
          questions assess your ability to digest, interpret and detect patterns in information provided to you and for you to make logical inferences.
        %p 
          Whilst memorising GAMSAT
          %sup ®
          Physics equations will generally help, this is not always necessary as the GAMSAT
          %sup ®
          Physics MCQs will normally provide you with any necessary information. That said, learning how to apply such formulas, and getting practice using and manipulating them is an important part of your preparation. Too many students have a tendency to believe that GAMSAT
          %sup ®
          Physics is all about remembering formulas! This is certainly not the case - It’s much more useful to be comfortable using new formulas and manipulating some general ones than to memorise them, and ACER specifically designs GAMSAT
          %sup ®
          questions to avoid simple ‘plug-in and solve’ questions.
        %p 
          What is important is that you are able to generate relationships between different formulas and have the confidence in your algebraic manipulation skills to highlight new relationships and make logical conclusions.
        %p 
          For further information on how to prepare for GAMSAT Section 3 Physics, check out our comprehensive guide:
          %a{href: "/gamsat-physics", target: :_blank}
            %strong
              GAMSAT Physics: How to Prepare. 
      .preparation_col.head_aftr_none
        %h3#where_to_start.mtop10.mbot20
          GAMSAT
          / %sup ®
          Physics Study Tips
        %ol
          %li
            Focus on understanding the patterns of Physics problems, such as questions which involve time evolution. It is important to understand how a single equation can be used in different ways.
          %li
            Do not spend excessive time learning content that is theoretically complex and unlikely to arise, or is only tangentially related. Focus on what is likely to be tested on the GAMSAT
            %sup ®
            exam.
          %li
            Ensure to learn simple formulae which may not be given to you in the preamble of Physics questions in the GAMSAT
            %sup ®
            exam.


      .preparation_col.head_aftr_none
        %h2#prep_material
          Further Preparation Materials
        %p.mtop_zero
          %ol.ordr_list
            %li
              %h5
                %a{href: "/free-gamsat-preparation-materials", target: :_blank}
                  Free GAMSAT
                  %sup ®
                  Preparation Materials
              %p.mtop_zero
                The most comprehensive library of free GAMSAT Preparation materials available.

            %li
              %h5
                %a{href: "/gamsat-scores", target: :_blank}
                  Understanding your GAMSAT
                  %sup ®
                  Results
              %p.mtop_zero
                Covers everything you need to know about your GAMSAT
                %sup ®
                Results - How the scoring works, result release dates and even GAMSAT
                %sup ®
                score cutoffs.

            %li
              %h5
                %a{href: "/gamsat-preparation", target: :_blank}
                  How to study for the GAMSAT
                  %sup ®
                  Exam
              %p.mtop_zero
                A breakdown of how to approach study effectively and how to set up a GAMSAT
                %sup ®
                study schedule
            %li
              %h5
                %a{href: "/gamsat-section-1", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Section 1
              %p.mtop_zero
                An overview of what to expect in Section 1 of the GAMSAT
                %sup ®
                Exam, how to prepare for the Reasoning and Humanities questions.
            %li
              %h5
                %a{href: "/gamsat-section-2", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Section 2
              %p.mtop_zero
                An overview of what to expect in Section 2 of the GAMSAT
                %sup ®
                Exam, how to prepare and how to perfect your essay technique.
            %li
              %h5
                %a{href: "/gamsat-section-3", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Section 3
              %p.mtop_zero
                An overview of what to expect in Section 3 of the GAMSAT
                %sup ®
                Exam and how to prepare for each of the topics - Biology, Chemistry, & Physics.
        %p
          For further tips and advice make sure you sign up for our
          %a{href: "https://gradready.com.au/gamsat-preparation-courses/free-gamsat-trial", target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Free Trial
          to watch a recording of our GAMSAT
          %sup ®
          Section 3 Workshop - Check out the 10 minute excerpt below
        .tab-content
          .container.video_container_width
            #grad_video_testimonial.carousel.slide.blog_slider.result_slider{"data-ride" => "carousel", "data-interval" => "false"}
              .carousel-inner.tab1
                .item.active
                  %video.video-js.vjs-default-skin.test_slide_height{controls: "", "data-autoplay" => "false", "data-autoresize" => "fit", "data-controls" => "true", "data-setup" => "{ \"playbackRates\": [2, 1.5, 1.2, 1, 0.5] }"}
                    %source{src: "https://gradready-prod.s3-ap-southeast-2.amazonaws.com/public/Section3HowtoPrepareVideoExcerpt.mp4", type: "video/mp4"}
        %p.mtop_zero
          %ol.ordr_list
            .boxed
              Get Access to:
              %ul{:style => "list-style-type:none;padding: 16px 0px;line-height: 0.9;"}
                / Get Access to:
                %li 50 Free MCQs
                %li Week-By-Week Study Guide
                %li Complete Session 3 Topic List
                %li Recorded Webinars
              .free_gamsat_icon
                = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
              .button_right_section
                %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank} GAMSAT Free Trial
:javascript
  // Select all links with hashes
  $('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
      &&
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top-74
        }, 1000, function() {
          // Callback after animation
          // Must change focus!

        });
      }
    }
  });
