- title "All GAMSAT Course Pricing | GradReady"
- meta_description "See how our GAMSAT courses compare. Depending on your level of confidence or experience, we have a variety of courses that will aid your preparation."
.container.green_container.pricing_onln_freeresources
  %h1.text-center Pricing
  .full_wdt.green_bg
    .full_wdt.text-center
      .green_in_box
        %span.afford_live_btn AFFORDABLE LIVE COMPONENTS
        .price
          $15.97
          %br/
          %span.per_hour per hour
        %p.fnt_14.green_txt
          31 hours of interactive live tuition in small classes
          %br/
          of 18. Spread across 6 days on 3 weekends
        %a.btn.btn-gr{:href => dynamic_gamsat_product_version_uri('custom', 'feature-attendance_tutorials')} Learn More
    .full_wdt.text-center
      .green_in_box
        %span.afford_live_btn CUSTOMISE YOUR SUPPORT RESOURCES
        %p.fnt_14.green_txt
          Pick and choose specific course components to create a
          %br/
          personalised GAMSAT
          %sup{ style: "margin-right: -5px;"} ®
          preparation course.
        %a.btn.btn-gr{:href => dynamic_gamsat_product_version_uri('custom')} Learn More
    .full_wdt.text-center
      .green_in_box.non_bg
        %span.per_hour.orget Or, get the
        %br/
        %span.afford_live_btn ESSENTIAL SUPPORT RESOURCES IN A PACKAGE
        .price
          $95
          %br/
          %span.per_hour per component
        %ul.price_list
          %li
            %span 1.
            %p.text-justify
              62 question diagnostics test - check how well do you know the fundamental concepts covered in the GAMSAT
              %sup{ style: "margin-right: -13px;left: -11px;"} ®
              exam. Your performance will be automatically reported across the 4 subject areas and 24 subtopics and be compared with those of your peers. Use this information to guide the focus of your study.
          %li
            %span 2.
            %p.text-justify 4000 MCQs (and growing weekly) categorised into 43 subtopics - our advanced MCQ system not only tracks your performance in each subtopic, it also allows you to create sets of MCQs based on subtopics of your choosing – meaning you can focus on what you need to. In addition, you are able to set the difficulty of the questions, allowing you to tailor the MCQs to your own ability.
          %li
            %span 3.
            %p.text-justify 6 Online exams  - exam results will be automatically broken down according to the applicable topics (from a pool of 43 topics), giving you a precise overview of your strengths and weaknesses. In addition, your performance will be automatically compared to that of other GradReady students, and you will be given the resulting percentile in the applicable sections and overall.
          %li
            %span 4.
            %p.text-justify
              1000 page online textbook - comprehensively covers the GAMSAT
              %sup ®
              exam.
              It includes sections on overarching strategies (general GAMSAT
              %sup{ style: "margin-right: -5px;"} ®
              Strategies and Study Guides), essay writing strategies (9 topics), humanities (6 topics) and all sciences (37 topics).
        %a.btn.btn-gr{:href => dynamic_gamsat_product_version_uri('online-basic')} Learn More
.frequently_head.full_wdt.text-center FREQUENTLY ASKED QUESTIONS
.container.text-center.pricing_onln_freeresources
  %ul.faq_lst
    %li
      %h5 HOW DOES GRADREADY’S PRICING COMPARE?
      %p
        Whether you think about our pricing on a dollar per hour basis or dollar per
        %br/
        feature/content offered basis, we come out far ahead of our competitors.
    %li
      %h5 WHY IS GRADREADY ABLE TO DELIVER SUPERIOR SERVICES AT LOWER PRICES?
      %p
        Being a technology focused education company, we have built our own in
        %br/
        house software coordination technologies to enable us to effectively manage
        %br/
        quality and costs in operations and R&D, passing the savings onto you.
    %li
      %h5 HOW DO I KNOW THAT I’LL BE HAPPY WITH GRADREADY’S SERVICES?
      %p
        If you are able to find either better services or lower costs from
        %br/
        any other provider, we are happy to give you a full refund.
    %li
      %h5 Can I pay in installments?
      %p
        Yes, all course fees (except for any Custom course/add on purchases) can be
        %br/
        split into 3 equal payments between sign up date and Feb 1st/first day of
        %br/
        the live course, whichever one is earlier. Please contact accounts@gradready.com.au
        %br/
        to set up a payment plan.
      %p
        Online access is given after the 1st payment is received. Note that your
        %br/
        Online access will be disabled should any of your payment be >3 days late
        %br/
        as defined by your payment plan. Once online access is given, our usual
        %br/
        Refund Policy applies.
    %li
      %h5 Can I purchase just one feature on its own?
      %p
        Yes you can. If you just wish to purchase one feature (e.g. the MCQ Bank,
        %br/
        Textbook, or Online exams) this can be done by enrolling in our
        %a{:href => dynamic_gamsat_product_version_uri('custom')}
          custom course
        = "."
        %br/
        It is free to sign up to our Custom Course and you are then able to
        %br/
        purchase any features as add ons.
    %li
      %h5 For how long is my subscription valid?

      %p
        All subscriptions are valid until the date of the upcoming March
        %br/
        GAMSAT
        %sup{ style: "margin-right: -5px;"} ®
        exam, after which the subscription and all
        %br/
        associated features will expire. This is inline with the
        %br/
        standard practice of many world wide major test providers.

      %p
        The policy applies to all courses, including UK GAMSAT
        %sup{ style: "margin-right: -5px;"} ®
        courses.

      %p
        If you wish to take our course again within 24 months,
        %br/
        you will receive a 25% discount for all GAMSAT
        %sup{ style: "margin-right: -5px;"} ®
        Ready
        %br/
        products (the discount does not apply to InterviewReady courses).
        %br/
        Note that the discount will NOT be valid, if the initial course
        %br/
        you had signed up for was Custom. To access this discount,
        %br/
        please Contact Us and provide proof of your intention to
        %br/
        resit the exam - e.g. Receipt/Exam Ticket in your name.

  %a.btn.btn-gr{:href => "/gamsat-preparation-courses/faq"} MORE FAQs
