- title "Free GAMSAT Study Schedule | GAMSAT Study Planner"
- meta_description "Struggling to organise your GAMSAT study? It’s crucial to use a GAMSAT Study Planner to organise your preparation for the GAMSAT. Our free GAMSAT Study Schedule can help you figure out where to start, and how to manage your time so that you're prepared when exam day comes."
- meta_keywords "gamsat study schedule, gamsat study planner, gamsat study plan"

%section.talk_to_bg.home_faq.dashboard_bg
  #typed.notification_bar
    %p
      = render 'pages/partial/announcement', product_line: map_path_to_prodline(request.env['PATH_INFO']), relative: false
  .container.public_container
    .support_col.looking_corse.text-center.gradready_question
      %h1
        GAMSAT Study Schedule: 
        %br
        GAMSAT Study Planner 2022
%section.faq_wrapper.faq_details
  .row
    .container.public_container
      / .download-counter-badge
      /   %i.fa.fa-user{'aria-hidden': "true"}
      /   = show_download_hit_count :gam_study_schedule

      .preparation_col
        %p.mtop_zero
          Although the GAMSAT
          %sup ®
          exam is incredibly challenging, figuring out how and where to start studying can seem overwhelming in itself. This is partly because there are so many diverse strategies and factors that you can and should consider when starting your preparation. However, as with anything, the key is to have a plan. A well thought out GAMSAT
          %sup ®
          Study Schedule will simplify, structure and direct your GAMSAT
          %sup ®
          exam preparation so that you can be ready when exam day comes around. Here at GradReady, we’ve decided to help by providing you with a sample GAMSAT
          %sup ®
          Study Planner and some tips on how to best manage your study plan.
        %ol
          %li
            %a.green{href: "#study_schedule"}
              GAMSAT
              %sup ®
              Study Schedule
          %li
            %a.green{href: "#study_planner"}
              Using the GAMSAT
              %sup ®
              Study Planner
          %li
            %a.green{href: "#prep_material"}
              Further Preparation Materials
      .preparation_col.head_aftr_none
        %h2#study_schedule
          GAMSAT
          Study Schedule
        %p.mtop_zero
          Our GAMSAT
          %sup ®
          Study Planner sets out what you should be doing from 6 months out before the GAMSAT
          %sup ®
          exam, right up to the date of the exam. You can either use this plan all the way through your
          %a.green{href: '/gamsat-preparation', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              preparation 
          ,or use it as a skeleton to prepare your own GAMSAT
          %sup ®
          Study Timetable.
        %p.mtop_zero
          Our GAMSAT
          %sup ®
          Study Schedule can be accessed for free through the link below. Print it out and use it to check off the main topics of the course, note down difficult topics, and ensure that your preparation is going according to plan.
        %p.mtop_zero
          You can also access our more detailed week-by-week GAMSAT
          %sup ®
          Study Guide by signing up for our free trial here:
          %a.green{href: '/gamsat-preparation-courses/free-gamsat-trial', target: :_blank}
            %strong
              GAMSAT
              %sup ®
              Free Trial.
          Our Free Trial includes a complete breakdown of the GAMSAT
          %sup ®
          Syllabus, 50 free MCQs as well as a wealth of other preparation materials to help you kickstart your preparation.
        .fr_text_center
          .aus_map
            = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/gamsat_study_schedule_new.jpg', alt: "GAMSAT Study Schedule"
          %a.green{href: download_gamsat_schedule_path}
            .highlight_box.text-center.green_box.mbot20.download_img_bar
              %strong
                Click here to Download GradReady’s Free GAMSAT
                %sup ®
                Study Schedule
          .text-center
            .download-counter-badge
              %i.fa.fa-user{'aria-hidden': "true"}
              %p.download_read= show_download_hit_count :gam_study_schedule

      .preparation_col.head_aftr_none
        %h2#study_planner
          Using the GAMSAT
          / %sup{style: "text-decoration:none"} ®
          Study Planner
        %p.mtop_zero
          The GradReady GAMSAT
          %sup ®
          Study Schedule provides the following tools :
        %ol.ordr_list.mbot20
          %li
            A simple outline of the steps you should be taking at each milestone in your GAMSAT
            %sup ®
            journey, which you can check off to ensure you are staying on track
          %li
            A space to note down difficult topics that you encounter so that you remember to come back and address them
          %li
            A checklist of
            %a.green{href: '/gamsat-section-3', target: :_blank}
              %strong
                Section 3 topics
            to check off as you progress through the course
          %li
            Time management tips to ensure you are staying on top of the study load.
      .preparation_col.head_aftr_none
        %h3#where_to_start.mtop10.mbot20
          Where to start in creating a GAMSAT
          / %sup ®
          Study Timetable
        %p.mtop_zero
          The GradReady GAMSAT
          %sup ®
          Study Schedule is a useful tool in planning your GAMSAT
          %sup ®
          Preparation. However, you also need to ensure you know yourself and the GAMSAT
          %sup ®
          exam thoroughly before you can make the best use of it.

        %ol
          %li.list_num_size
            %h4.mtop10.mbot20
              Understand your Strengths, Weaknesses, and Goals
            %p.mtop_zero
              Everyone is different, and you need to be able to assess your background, skills and current knowledge. If you are particularly strong in humanities and essay writing, you may need to focus more on the sciences. Conversely, if you are a science whiz, you may be better off spending more time on reading media and practising your essays. Knowing what to study can often be the hardest part of studying for the GAMSAT
              %sup ®
              exam, but it is the first step to effectively using the GAMSAT
              %sup ®
              Study Schedule. A great way to analyse your current preparation level is to use a GradReady diagnostics assessment.
              All of our GAMSAT
              %sup ®
              Preparation Courses include a diagnostic assessment to quickly identify your strengths and weaknesses. With the most advanced learning technology on the market, our performance tracking systems allow you to constantly assess your progress and identify the areas you need to work on. To learn more about our courses you can click here:
              %a.green{href: "/gamsat-preparation-courses", target: :_blank}
                %strong
                  GradReady GAMSAT
                  %sup ®
                  Preparation Courses.
          %li.list_num_size
            %h4.mtop10.mbot20
              Thoroughly understand the GAMSAT
              %sup ®
              exam and each of the sections
            %p.mtop_zero
              The GAMSAT
              %sup ®
              exam tests many different skills, so it is important to have a thorough knowledge of what exactly you will be assessed on. You should keep in mind that it is an exam that tests reasoning and problem solving skills, rather than knowledge, meaning it may be different from exams you have sat in the past. To learn more about the GAMSAT
              %sup ®
              exam, you can read our comprehensive guides for each Section:
            %ol
              %li
                %a.green{href: "/gamsat-section-1", target: :_blank}
                  %strong
                    GAMSAT
                    %sup ®
                    Section 1: How to Prepare
              %li
                %a.green{href: "/gamsat-section-2", target: :_blank}
                  %strong
                    GAMSAT
                    %sup ®
                    Section 2: How to Prepare
              %li
                %a.green{href: "/gamsat-section-3", target: :_blank}
                  %strong
                    GAMSAT
                    %sup ®
                    Section 3: How to Prepare

      .preparation_col.head_aftr_none
        %h2
          Why is having a GAMSAT
          / %sup ®
          Study Schedule so important?
        %p.mtop_zero
          Planning ahead and sticking to your plan are the most important tips for achieving success in the GAMSAT
          %sup ®
          exam, as well as in many other aspects of life. Below are some key reasons why:
        %ol
          %li.list_num_size
            %h4.mtop10.mbot20
              A Schedule allows you to Convert your Goals into Achievements
            %p.mtop_zero
              This is really the main point of having a plan. Everyone has a mental image of what they want in life and 
              %a.green{href: "/gamsat-scores", target: :_blank}
                %strong 
                  for their GAMSAT
                  %sup ®
                  results
              ;but it often seems overwhelming to start such big tasks when you first look at them. Having a GAMSAT
              %sup ®
              Study Planner allows you to break these huge projects into smaller chunks, making them easier to approach and complete. This then gives you a framework and strategy on how you can complete and achieve all these smaller pieces to reach your overall goal.
          %li.list_num_size
            %h4.mtop10.mbot20
              Direction and Time Management
            %p.mtop_zero
              Having a plan gives you direction and reduces confusion over what you are doing. Each day you can sit down to study knowing exactly what you should be doing, when you should be doing it, and how long it will take you. This helps avoid covering areas you have already learnt, and on trying to work it out as you go along, which inevitably leads to chopping and changing, and wasted time. This also means you are productive in your study, leaving you with more time to do other things in your life.
          %li.list_num_size
            %h4.mtop10.mbot20
              Organisation and Control of your Study
            %p.mtop_zero
              Creating a GAMSAT
              %sup ®
              Study Timetable helps you be more structured and organised because the planning process involves understanding yourself and the syllabus as discussed in the
              %a.green{href: "#where_to_start", target: :_blank}
                %strong
                  Where to start
              section of this guide.
          %li.list_num_size
            %h4.mtop10.mbot20
              Avoid Stress and Confusion
            %p.mtop_zero
              Having a plan has many psychological benefits - it reduces the chance you will wake up in the middle of the night panicking that you don’t have a handle on your study. Having a clear routine will help you manage your mental health when balancing personal commitments, work, university, and GAMSAT
              %sup ®
              study. For more tips on this, read about
              %a.green{href: "/gamsat-preparation", target: :_blank}
                %strong
                  Balancing GAMSAT
                  %sup ®
                  study and work here.

        %h3.mtop10.mbot20
          GAMSAT
          / %sup ®
          Tips on Planning and Time Management

        %ol
          %li
            When starting the planning process, goal setting is incredibly helpful. Read more about setting yourself SMART goals
            %a.green{href: "/gamsat-preparation", target: :_blank}
              %strong
                here.
          %li
            It is generally better to study efficiently in 45 minute chunks, rather than spending hours and hours sitting down at your desk. You can learn more about this concept on our
            %a.green{href: "/posts/gamsat-preparation-courses/studying-with-friends-and-pomodoros", target: :_blank}
              %strong
                blog.
          %li
            While everyone has different backgrounds that affect how long they need to prepare for the GAMSAT
            %sup ®
            exam, it is generally wise to start studying as early as possible. Even starting with one or two hours a week early on can make a huge difference to your preparation later down the line as the exam draws nearer.To learn more, read our
            %a.green{href: "/gamsat-preparation", target: :_blank}
              %strong
                comprehensive guide to preparing for the GAMSAT
                %sup ®
                exam.
      .preparation_col.head_aftr_none
        %h2
          How do I plan GAMSAT study?
        %p.mtop_zero
          The best thing to do is to first understand the three major sections and specific tips on preparing for each section. Here at GradReady, we’ve tried to filter out all the noise, simplify the process and break it down into the following no-nonsense approach to help you start your GAMSAT
          %sup ®
          preparation. The best thing about this approach is that it can be adapted as a general set of principles to how you, as an individual, study best, and provides you with a framework to best prepare for the GAMSAT
          %sup ®
          exam.
        %ol 
          %li 
            Plan a GAMSAT
            %sup ®
            Study Schedule
          %li 
            Organise your GAMSAT
            %sup ®
            Study to be effective
          %li 
            Target your GAMSAT
            %sup ® 
            Study
          %li 
            Practise for the GAMSAT
            %sup ® 
            under realistic conditions
          %li 
            Maximise your Spare Time
        %p.mtop_zero 
          For more information, sign up for our
          %a.green{href: "/gamsat-preparation-courses/free-gamsat-trial", target: :_blank}
            %strong
              GAMSAT
              %sup ® 
              Free Trial
          and access our comprehensive Study Guide which includes a week-by-week study schedule for each section to help you plan out your preparation in addition to providing you with access to our GAMSAT
          %sup ® 
          MCQ Bank. Using these resources will allow you to better understand your strengths and weaknesses which can be incredibly helpful in your GAMSAT
          %sup ® 
          journey.
      .preparation_col.head_aftr_none 
        %h2
          When should I start studying for the GAMSAT?
        %p.mtop_zero
          Students often ask how much time they should spend studying for the GAMSAT
          %sup ® 
          exam but the quantitative ‘amount’ of study that any candidate should do is a complex question, and not accurately answered. Various candidate-specific factors obviously influence the amount of revision that is required to firstly understand the basic concepts in the GAMSAT
          %sup ® 
          exam.
        %p.mtop_zero
          Performing well in the GAMSAT
          %sup ® 
          is not an impossible task, however, it requires a well informed structured approach. There is no set timeline of when you should begin, but it is always best to start early and have adequate time to prepare for the GAMSAT
          %sup ®
          Below, we’ve broken down the GAMSAT study time-frame into 3 options for you:
      .diffr_country
        %ul.cstm_list_style
          %li.mtop_zero
            %a.green{href: "#GAMSATin6months"}
              %strong
                How to study for GAMSAT
                %sup ® 
                in 6 months
          %li.mtop_zero
            %a.green{href: "#GAMSATin3months"}
              %strong
                How to study for GAMSAT
                %sup ® 
                in 3 months
          %li.mtop_zero 
            %a.green{href: "#Is1monthenough"}
              %strong
                Is 1 month enough to study for the GAMSAT
                %sup ® 
                ?

      .preparation_col.head_aftr_none
        %h3#GAMSATin6months
          How to study for GAMSAT in 6 months
        %br
        %p.mtop_zero
          A 6 month time frame allows you to successfully incorporate all the elements involved in preparing for the GAMSAT
          %sup ®
        .diffr_country 
          %ul.cstm_list_style 
            %li.mtop_zero 
              Building the foundational content and knowledge
            %li.mtop_zero 
              Developing a GAMSAT
              %sup ® 
              exam strategy
            %li.mtop_zero 
              Practising realistic questions under exam conditions. 
          %p.mtop_zero
            By spending sufficient time focusing on each of these components in an iterative process, you will achieve real, measurable progress. This time frame will also allow some buffer for you to optimise your GAMSAT
            %sup ® 
            strategy after identifying your weaknesses. You would also benefit from the opportunity to participate in study groups and get feedback from your peers. 
      .preparation_col.head_aftr_none 
        %h3#GAMSATin3months.mtop_zero
          How to study for GAMSAT in 3 months
        %br 
        %p.mtop_zero
          Three months is considered the average amount of time for a student of a biomedical science or science background to adequately prepare for the GAMSAT
          %sup ® .
          It is important to note that a 3 month study plan is not an absolute recommendation and is only suited for someone with the expected level of prerequisite knowledge: first year university levels of
          %a.green{href: "/gamsat-biology", target: :_blank}
            %strong
              Biology
          and
          %a.green{href: "/gamsat-chemistry", target: :_blank}
            %strong
              Chemistry
          along with a Year 12 level of 
          %a.green{href: "/gamsat-physics", target: :_blank}
            %strong
              Physics
          As such, your study plan will revolve around developing suitable GAMSAT® exam strategies, building up your skills for any weaker sections (e.g.
          %a.green{href: "/gamsat-section-1", target: :_blank}
            %strong
              Section I 
          and
          %a.green{href: "/gamsat-section-2", target: :_blank}
            %strong
              II
          ), and practising with realistic questions under exam conditions.
      .preparation_col.head_aftr_none  
        %h3#Is1monthenough.mtop_zero
          Is 1 month enough to study for the GAMSAT?
        %br 
        %p.mtop_zero
          Having just one month to prepare for the GAMSAT
          %sup ® 
          exam is not ideal. However, this does not mean you will not succeed in the GAMSAT
          %sup ® 
          exam. Instead, you will need to focus and jump straight into preparation with the best materials and guidance available. The bulk of the time will be spent on developing reasoning skills to solve exam style questions in an iterative process allowing you to learn quickly and efficiently from your mistakes. 
        %h2 
          How much time do I need to prepare for the GAMSAT?
        %p.mtop_zero
          Every candidate begins their GAMSAT
          %sup ® 
          journey at a different level of skill, knowledge and competence. Depending on whether you are a first timer or if you are from a science or non-science background, the preparation time will vary. It is always encouraged to have more time. However, more importantly, is how the time is used and what strategies will be utilised to do well in the GAMSAT
          %sup ® 
      .preparation_col.head_aftr_none  
        %h3.mtop10.mbot20
          How many hours a week should I study for GAMSAT? 
        %p.mtop_zero
          There is no specific answer for this and it really depends on when you start and other candidate-specific factors i.e first timer, if you are from a science or non-science background, if you’re currently working full-time etc.. The main takeaway is to start early, develop a sustainable study plan and allow for regular breaks in order to prevent burnout. 

      .preparation_col.head_aftr_none
        %h2#prep_material
          Further Preparation Materials
        %p.mtop_zero
          %ol.ordr_list
            %li
              %h5
                %a.green{href: "/free-gamsat-preparation-materials", target: :_blank}
                  Free GAMSAT Preparation Materials
              %p.mtop_zero
                The most comprehensive library of free GAMSAT Preparation materials available.

            %li
              %h5
                %a.green{href: "/gamsat-scores", target: :_blank}
                  Understanding your GAMSAT
                  %sup ®
                  Results
              %p.mtop_zero
                Covers everything you need to know about your GAMSAT
                %sup ®
                Results - How the scoring works, result release dates and even GAMSAT
                %sup ®
                score cutoffs.

            %li
              %h5
                %a.green{href: "/gamsat-preparation", target: :_blank}
                  How to study for the GAMSAT
                  %sup ®
                  Exam
              %p.mtop_zero
                A breakdown of how to approach study effectively and how to set up a GAMSAT
                %sup ®
                study schedule
            %li
              %h5
                %a.green{href: "/gamsat-section-1", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Section 1
              %p.mtop_zero
                An overview of what to expect in Section 1 of the GAMSAT
                %sup ®
                Exam, how to prepare for the Reasoning and Humanities questions.
            %li
              %h5
                %a.green{href: "/gamsat-section-2", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Section 2
              %p.mtop_zero
                An overview of what to expect in Section 2 of the GAMSAT
                %sup ®
                Exam, how to prepare and how to perfect your essay technique.
            %li
              %h5
                %a.green{href: "/gamsat-section-3", target: :_blank}
                  How to prepare for GAMSAT
                  %sup ®
                  Section 3
              %p.mtop_zero
                An overview of what to expect in Section 3 of the GAMSAT
                %sup ®
                Exam and how to prepare for each of the topics - Biology, Chemistry, & Physics.
            .boxed
              Get Access to:
              %ul{:style => "list-style-type:none;padding: 16px 0px;line-height: 0.9;"}
                / Get Access to:
                %li 50 Free MCQs
                %li Week-By-Week Study Guide
                %li Complete Session 3 Topic List
                %li Recorded Webinars
              .free_gamsat_icon
                = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/free_trial.png', class: "icon30"
              .button_right_section
                %a.free_trial_btn.hvr-shutter-in-horizontal{href: "/gamsat-preparation-courses/free-gamsat-trial"} GAMSAT Free Trial

:javascript
  // Select all links with hashes
  $('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
      &&
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top-74
        }, 1000, function() {
          // Callback after animation
          // Must change focus!

        });
      }
    }
  });
