.container.default-main-container
  .txt_cntr
    %h1.clr
      GradReady Student Infographic 2014 - 2015
    %h4
      Where our students were based
    #image
      =image_tag("https://gradready.s3.ap-southeast-2.amazonaws.com/static/info/map1.jpg")
  #city_wrapper
    .city_left_col
      %h3.clr
        Victoria
        %span.font_15 (373 students)
      .city_inner_block{:style => "min-height: 210px;"}
        .city_name
          %p.nme_lft University of Melbourne
          %p.nme_lft.nme_rht.gren_bar.bar_162.no_pdding 217
        .city_name
          %p.nme_lft Monash University
          %p.nme_lft.nme_rht.gren_bar.bar_64.no_pdding 91
        .city_name
          %p.nme_lft Deakin University
          %p.nme_lft.nme_rht.gren_bar.bar_22.no_pdding 27
        .city_name
          %p.nme_lft La Trobe University
          %p.nme_lft.nme_rht.gren_bar.bar_20.no_pdding 24
        .city_name
          %p.nme_lft Other Universities
          %p.nme_lft.nme_rht.gren_bar.bar_10.no_pdding 14
    .city_left_col.city_rht_col
      %h3.clr
        New South Wales
        %span.font_15 (342 students)
      .city_inner_block{:style => "min-height: 210px;"}
        .city_name
          %p.nme_lft University of Sydney
          %p.nme_lft.nme_rht.gren_bar.bar_110.no_pdding 163
        .city_name
          %p.nme_lft University of New South Wales
          %p.nme_lft.nme_rht.gren_bar.bar_70.no_pdding 93
        .city_name
          %p.nme_lft University of Technology Sydney
          %p.nme_lft.nme_rht.gren_bar.bar_24.no_pdding 45
        .city_name
          %p.nme_lft Other Universities
          %p.nme_lft.nme_rht.gren_bar.bar_18.no_pdding 23
        .city_name
          %p.nme_lft University of Western Sydney
          %p.nme_lft.nme_rht.gren_bar.bar_16.no_pdding 18
    .clr_bth
    .city_left_col
      %h3.clr
        Western Australia
        %span.font_15 (119 students)
      .city_inner_block
        .city_name
          %p.nme_lft University of Western Australia
          %p.nme_lft.nme_rht.gren_bar.bar_64.no_pdding.no_pdding 91
        .city_name
          %p.nme_lft Other Universities
          %p.nme_lft.nme_rht.gren_bar.bar_16.no_pdding.no_pdding 17
        .city_name
          %p.nme_lft Curtin University
          %p.nme_lft.nme_rht.gren_bar.bar_10.no_pdding.no_pdding 11
    .city_left_col.city_rht_col
      %h3.clr
        Queensland
        %span.font_15 (112 students)
      .city_inner_block
        .city_name
          %p.nme_lft University of Queensland
          %p.nme_lft.nme_rht.gren_bar.bar_44.no_pdding.no_pdding 76
        .city_name
          %p.nme_lft Griffith University
          %p.nme_lft.nme_rht.gren_bar.bar_18.no_pdding.no_pdding 20
        .city_name
          %p.nme_lft Other Universities
          %p.nme_lft.nme_rht.gren_bar.bar_16.no_pdding.no_pdding 16
    .clr_bth
    .city_left_col
      %h3.clr
        South Australia
        %span.font_15 (55 students)
      .city_inner_block
        .city_name
          %p.nme_lft University of Adelaide
          %p.nme_lft.nme_rht.gren_bar.bar_18.no_pdding 21
        .city_name
          %p.nme_lft Flinders University
          %p.nme_lft.nme_rht.gren_bar.bar_16.no_pdding 20
        .city_name
          %p.nme_lft University of South Australia
          %p.nme_lft.nme_rht.gren_bar.bar_10.no_pdding 14
    .city_left_col.city_rht_col
      %h3.clr
        Other Locations
        %span.font_15 (17 students)
      .city_inner_block{:style => "min-height: 140px;"}
        .city_name
          %p.nme_lft Other Locations
          %p.nme_lft.nme_rht.gren_bar.bar_10.no_pdding 17
    .clr_bth