- title "HSC Preparation Courses | Student Feedback and Satisfaction"
- meta_description "Students use our HSC preparation courses to enhance their exam study. If you want a career in medicine or want to be a doctor, we offer both online and live classes and tutors in Sydney, Melbourne, Brisbane, Perth, Adelaide and Canberra."
.our-gamsat.container.default-main-container.no_padding
  %h1.hsc_color.infog.spinfo
    Student Feedback 2016
  %p.umat_center_txt
    We are in the process of collecting our HSC
    %sup{ style: "margin-right: -4px;"} 速
    student feedback. However, below are surveys from our GAMSAT
    %sup{ style: "margin-right: -4px;"} 速
    (Graduate Medical School Admissions Test) courses - which have helped
    %b
      = link_to "over 1000 students,", hsc_student_testimonials_url(anchor: 'student_improved_score'), class: "hsc_color "
    for each of the past 3 years,
    %b
      %a.hsc_color{:href => "https://gradready.com.au/hsc/student_testimonials"}
        improve their scores by at least 24 percentile points.
    Given the success we have brought to our GAMSAT
    %sup{ style: "margin-right: -4px;"} 速
    students, we have no doubt that we will bring the same level of satisfaction and success to our HSC
    %sup{ style: "margin-right: -4px;"} 速
    students.
  %h3.hsc_color
    Key
    #image
    %span.key_img
      %img.img_hght1{:alt => "8-plus", :src => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/icons/8-plus-red.jpg'}/
      \= 8 or greater
    %span.key_img
      %img.img_hght1{:alt => "7-7.9", :src => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/icons/7-7-red.jpg'}/
      \= Between 7 and 7.9
    %span.key_img
      %img.img_hght1{:alt => "6-less", :src => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/icons/6-less-red.jpg'}/
      \= Less than 7
  %ul.nav.nav-tabs.nav-tabs.border_none.infogap.tab_bl{:role => "tablist"}
    %li.active
      %a.font_sty.tab_width.u-black-link.hsc_red{"data-toggle" => "tab", :href => "#grad_testi", :role => "tab"}
        January
    %li
      %a.font_sty.tab_width.u-black-link.hsc_red{"data-toggle" => "tab", :href => "#grad_testib", :role => "tab"}
        February
  .tab-content
    #grad_testi.tab-pane.active.width_535
      .container.default-main-container.no_padding
        .txt_cntr
          %h2.clr
          #image
            %img.img_hght{:alt => "Fedback1", :src => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/infographic/fedback1-red.jpg'}/
    #grad_testib.tab-pane.width_535
      .container.default-main-container
        .txt_cntr
          %h2.clr
          #image
            %img.img_hght{:alt => "Fedback", :src =>  'https://gradready.s3.ap-southeast-2.amazonaws.com/static/infographic/fedback2-red.jpg'}/
.our-gamsat.container.default-main-container.no_padding
  %h2.hsc_color.infog.spinfo.Seeinfo
    GradReady Interview Ready Student Infographic 2015
  %h4.infog.spinfo.Seeinfo
    See how our students rate us throughout the courses, all over Austrailia
  %h3.hsc_color
    Key
    #image
    %span.key_img
      %img.img_hght1{:alt => "8-plus", :src => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/icons/8-plus-red.jpg'}/
      \= 8 or greater
    %span.key_img
      %img.img_hght1{:alt => "7-7.9", :src => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/icons/7-7-red.jpg'}/
      \= Between 7 and 7.9
    %span.key_img
      %img.img_hght1{:alt => "6-less", :src => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/icons/6-less-red.jpg'}/
      \= Less than 7
  %ul.nav.nav-tabs.nav-tabs.border_none.infogap.tab_bl{:role => "tablist"}
    %li.active
      %a.font_sty.tab_width.u-black-link.hsc_red{"data-toggle" => "tab", :href => "#grad_testii", :role => "tab"}
        Essentials
    %li
      %a.font_sty.tab_width.u-black-link.hsc_red{"data-toggle" => "tab", :href => "#grad_testibb", :role => "tab"}
        Comprehensive
  .tab-content
    #grad_testii.tab-pane.active.width_535
      .container.default-main-container.no_padding
        .txt_cntr
          %h2.clr
          #image
            %img.img_hght{:alt => "Ess_mockup_2", :src => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/infographic/ESS_mockup1-red.jpg'}/
    #grad_testibb.tab-pane.width_535
      .container.default-main-container
        .txt_cntr
          %h2.clr
          #image
            %img.img_hght{:alt => "Com_mockup_2", :src => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/infographic/COM_mockup2-red.jpg'}/
  = render "pages/partial/hsc/student_infographic"
