- title "HSC Preparation Courses | Access Program Details"
- meta_description "Our HSC Preparation Courses are designed to enhance your exam study. We use both online and live classes, tutors, and offer courses in Sydney, Melbourne, Brisbane, Perth, Adelaide and Canberra."
.container.default-main-container.access_program
  .row
    .col-md-12
      #public-page
        .container
          .gamsat_prepare.clear
            .scho_blu_color
              %h1.red GradReady Access Program
            %h3 Placing industry leading tools and resources in the hands of every student
        .thumbnails
          .col-md-6
            %img.about_img.width100{:alt => "About-team-img1", :src => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/mini_slider/access-pro-img1.png'}/
            .m_banner
          .col-md-6
            %img.about_img.width100{:alt => "About-team-img22", :src => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/mini_slider/access-pro-img2.png'}/
        .ta_lft
          .testi_col_left.wdt45.text-left.col-md-6
            .col
              %h5 Background
              %p.no_botm_margin
                We believe that EVERYONE should have access to the same top quality resources and tools. Our mission is to put our industry leading tools in the hands of every HSC
                %sup{ style: "margin-right: -4px;"} ®
                student - so that everyone has the opportunity to use the system that
              %span
                = link_to "improved student scores by at least 24 percentile points", gamsat_preparation_courses_student_testimonials_url(anchor: 'student_improved_score'), class: "red"
              %sup 1
              %span.no_margin_text , 3 years in a row, irrespective of your personal circumstances.
            .col
              %h5 Eligibility criteria
              %p 1. A commitment to apply the effort to put the tools and resources to good use.
              %p 2. Personal circumstances leading to need for subsidy. Eg. major changes in personal circumstances, no/limited parental support, family socioeconomic status, unexpected financial hardship.
            %p.access_foot_note Footnotes:
            %ol.foot_note
              %li
                The statistics are for GAMSAT
                %sup{ style: "margin-right: -4px;font-size: 84%;"} ®
                exam, which is the entry exam to graduate medicine. It is structured very similarly to the UCAT
                %sup{ style: "margin-right: -4px;font-size: 84%;"} ®
                but is considered more difficult.

          .testi_col_left.wdt45.fr.text-left.col-md-6
            .col
              %h5 Program details
              %p Subsidies up to the full cost of the Online Essentials course available. Subsidies for other courses also available according to circumstances.
            .col
              %h5 How to apply
              %p Email access@gradready.com.au with the following information. Title the email in the following manner
              %p
                = 'Eg. “HSC'
                %sup{ style: "margin-right: -4px;"} ®
                = '- 16/17 Access Program - Janet Li”'
              %p.apply_text 1. What is the amount of subsidy that you wish to apply for
              %p.apply_text 2. Course to which you wish to apply the subsidy
              %p.apply_text 3. 50 to 100 words elaborating your personal circumstance as per Eligibility Criteria
            .col
              %h5 Timeline
              %p The access program is open all year around. We may have follow up questions for you and decision for acceptance into program will be made within 72 hours of our final clarification questions (if applicable).
