- title "HSC Preparation Courses | Compare GradReady"
.container.default-main-container.ng-scope
  .row
    .col-md-12.no_padding
      #course-packages
        #public-page
          #course-packages
            .container.hsc_rd_clr.no_padding
              .cmptr_compr.padding-top0
                .umat_prepar_col
                  = render 'pages/partial/hsc/hsc_compare_desc'
            = render 'pages/partial/hsc/hsc_comparison'
