- title "Terms & Conditions | GradReady"
- meta_description "Terms & Conditions"
- meta_keywords "GradReady, GAMSAT, UCAT"

%section.talk_to_bg.home_faq
  .container
    .support_col.looking_corse.text-center
      %h1 Terms & Conditions
%section.pad50
  .container
    .terms_content
      %p
        This following document sets forth the Terms and Conditions for the GradReady Pty. Ltd. (GradReady) website,
        %a{:href => "/"} gradready.com.au
      %p Please read the following terms and conditions carefully. They govern your access and use of this website. This Terms of Use is a binding contract between you and GradReady, regarding your use of gradready.com.au. If you do not agree with any of these terms, please exit the Website.
    .terms_content
      %h3 Use of Website
      %p Contents are included in this Website solely for the personal use of Website users. You may not copy (other than a copy for personal use), modify, distribute, transmit, display, perform, reproduce, transfer, resell, or republish any of the Contents of this Website without the prior written consent of GradReady, which may be withheld in its sole discretion.
    .terms_content
      %h3 Refund Policy
      %p
        Please see our Refund Policy on the
        %a{href: "/gamsat-preparation-courses/faq/enrolment-and-payment#refund-policy"} FAQ page
    .terms_content
      %h3 Subscription Expiration
      %p
        Please see our Subscription Expiration policy on the
        %a{href: "/gamsat-preparation-courses/faq/enrolment-and-payment#contact_ten_id"} FAQ page
    .terms_content
      %h3 Essay Expiration Policy
      %p Online essays will expire on the date set in the title of each essay. Essays will begin to expire two months after your initial purchase of them and will expire at even intervals until course expiry (course expiration is on the date of the exam). If you submit an essay after the expiration date, the essay will not be marked. These expiration dates are put in place to prevent an overabundance of essay submission in the critical days leading up to the exam.
    .terms_content
      %h3 Service Contact
      %p
        GradReady welcomes your comments regarding this Terms and Conditions. If you have any questions about this Terms and Conditions and would like further information, please raise a query via
        %a.ask_ques_sec{href: "javascript:void(0)"} support.
    .terms_content
      %h3 Paypal Issues
      %p Upon investigation, some issues may be found to be on the side of PayPal. We request that you contact PayPal in your relevant country (e.g. PayPal Australia) to further investigate the issue so that it can be resolved.

:javascript
  AOS.init({
    easing: "ease-in-out-sine"
  });
