- title "UCAT Parents Guide"
- meta_description "The UCAT exam and undergraduate medical pathway can be confusing and intimidating at the best of times. Read our comprehensive guide about what parents and guardians need to know about the UCAT exam including breakdown of test, test timeline and finances."
- meta_keywords "ucat parents guide, ucat students guide"

%section.talk_to_bg.home_faq.dashboard_bg
  #typed.notification_bar
    %p
      = render 'pages/partial/announcement', product_line: map_path_to_prodline(request.env['PATH_INFO']), relative: false
  .container.public_container
    .support_col.looking_corse.text-center.gradready_question
      %h1
        UCAT Parents Guide
%section.faq_wrapper.faq_details
  .row
    .container.public_container
      .download-counter-badge
        %p.download_read= show_estimated_read_time rescue nil
        %span|
        %i.fa.fa-user{'aria-hidden': "true"}
        %p.download_read= show_download_hit_count rescue nil
      .preparation_col
        %p
          Does your child plan to study Medicine?
        %p
          Medicine is a respected and rewarding profession that allows them to pursue a secure, well-compensated career with the potential for lifelong learning and opportunities, whilst making a real difference towards people’s lives. As a result, it is one of the most competitive fields to enter. One of the primary reasons for this is that on top of the rigorous ATAR requirements, medical applicants are required to sit the UCAT
          %sup ®
          exam and prepare for daunting medical interviews.
        %p
          Understandably, the application process can be both bewildering and nerve-wracking for all involved, including the parents. Fortunately, there are many ways that you can provide the necessary support for your child.

        %ol
          %li
            %a{href: "#UcatUndergraduatePathway"}
              Undergraduate Pathway: The UCAT
              %sup ®
              Exam
          %li
            %a{href: "#UcatUniversities"}
              UCAT
              %sup ®
              Universities
          %li
            %a{href: "#UcatScoring"}
              UCAT
              %sup ®
              Scoring
          %li
            %a{href: "#SupportingYourChild"}
              Supporting Your Child Throughout Their Journey into Medicine

      .preparation_col.head_aftr_none
        %h2#UcatUndergraduatePathway
          Undergraduate Pathway: The UCAT Exam
        %p.mtop_zero
          There are 2 pathways into medicine in Australia - The Undergraduate & Graduate Entry pathways. The UCAT
          %sup ®
          exam is purely focused on the Undergraduate pathway. For further details on the
          %a{href: "/medical-school-entry-requirements", target: :_blank}
            %strong
              Graduate Entry Pathway, refer to our guide here.
        %p
          The Undergraduate pathway is designed for ‘school leavers’ or students who completed their secondary education in the last 2 years (note that there are some undergraduate medical schools who now offer entry for ‘non-school leavers’ or those who have commenced tertiary study of some kind). This pathway requires the University Clinical Aptitude Test or UCAT
          %sup ®
          exam, a standardised computer-based test that is used as a criteria by many Australian universities for entry into undergraduate medical, dental and clinical science degree programmes. The two hour exam is delivered at Pearson VUE test centres and assesses a range of abilities and behaviours that medical schools have identified as important towards practicing medicine and dentistry. The ultimate rationale for the UCAT
          %sup ®
          is to identify the best applicants out of the already extremely competitive cohort of medical or dental school candidates.
        %p
          Whilst the majority of medical schools require a UCAT
          %sup ®
          score as a compulsory criteria there are some exceptions. You should always check with the separate university websites for the most up-to-date information on whether or not a specific programme requires UCAT
          %sup ®
          scores.
        %p
          Below is a list of courses that currently require the UCAT
          %sup®
          exam as part of their selection criteria in the 2022 admissions cycle.

        %h3 UCAT Universities - Australia & New Zealand
        .tbl_responsive.mtop20.mbot20#UcatUniversities
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %thead
              %th.text-center Schools
              %th.text-center Programmes/Courses
              %th.text-center Application Dates
            %tbody
              %tr
                %td The University of Adelaide
                %td
                  %span.bdr_bottm Medicine
                  %span.bdr_bottm Dental Surgery
                  %span Oral Health
                %td
                  %p SATAC applications open for 2022 on 2 August 2021.

                  %p Applications will close 30 September 2021.
              %tr
                %td Central Queensland University
                %td
                  Medical Science (Regional Medical Pathway provisional entry to UQ)
                %td
                  %p QTAC opens from early August 2021.
                  %p Applications close 30 September 2021.
              %tr
                %td Charles Sturt University
                %td
                  %span.bdr_bottm Dental Science
                  %span Medicine
                %td
                  Applications via UAC open August and close 30 September.
              %tr
                %td
                  Curtin University
                %td
                  Medicine
                %td
                  %p Applications via TISC open: 31 May 2021.
                  %p Applications close: 30 September 2021.
              %tr
                %td
                  Flinders University
                %td
                  Clinical Sciences / Medicine
                %td
                  %p SATAC applications open for 2022 on 2 August 2021.
                  %p Applications will close 30 September 2021.
              %tr
                %td
                  Griffith University
                %td
                  Dental Health Science
                %td
                  %p Applications are made via UAC, QTAC or directly to Griffith.
                  %p Application deadline: September 23, 2021.
              %tr
                %td
                  La Trobe University
                %td
                  Dental Science
                %td
                  Applications are via UAC or VTAC for multiple courses or directly via La Trobe for one course.
              %tr
                %td
                  Monash University
                %td
                  Medicine
                %td
                  %p Applications via VTAC open on 2 August, 2021.
                  %p Applications via VTAC close 30 September, 2021
              %tr
                %td
                  The University of Newcastle / University of New England
                %td
                  Joint Medical Program (JMP)
                %td
                  Applications via UAC close 30 September, 2021
              %tr
                %td
                  The University of New South Wales
                %td
                  Medicine
                %td
                  Medicine Application Portal Deadline and UAC Applications close on 30 September 2021.
              %tr
                %td
                  The University of Queensland
                %td
                  %span.bdr_bottm Medicine (provisional entry pathway)
                  %span Dental Science
                %td
                  %p QTAC opens from early August 2021.
                  %p Applications close 30 September 2021.
              %tr
                %td
                  University of Tasmania
                %td
                  Medicine
                %td
                  %p Applications open: 4 August 2021.
                  %p Applications close 30 September 2021.
              %tr
                %td
                  The University of Western Australia
                %td
                  %span.bdr_bottm Medicine
                  %span Dental Medicine
                %td
                  %p Applications via TISC open: 31 May 2021.
                  %p Applications close: 30 September 2021.
              %tr
                %td
                  Western Sydney University
                %td
                  Medicine (Joint Medical Program)
                %td
                  %p Applications via UAC open 1 August.
                  %p Applications via UAC close on 30 September.
              %tr
                %td
                  The University of Auckland
                %td
                  Medicine
                %td
                  Applications close on 1 October 2021 (domestic applicants and international first year applicants)
              %tr
                %td
                  University of Otago
                %td
                  %span.bdr_bottm Medicine
                  %span Dentistry
                %td
                  %span.bdr_bottm
                    Closes on 1 May 2021 (Alternative category) and 15 September 2021 (HSFY and Graduate categories).
                  %span
                    Closes on 15 September 2021.

      .preparation_col.head_aftr_none
        %h2#UcatScoring
          UCAT Scoring
        .text-center
          = render :partial => "ucat_exam_structure"
        %p.mtop_zero
          The UCAT
          %sup ®
          exam is composed of 233 multiple choice questions. These questions are divided into five subtests which are each designed to assess different skills. These five subtests follow in a specific order and are described in further detail in the table below:

        .tbl_responsive.mtop20.mbot20
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data{style: "text-align:none;"}
            %thead
              %th Section
              %th Description
            %tbody
              %tr
                %td Verbal Reasoning
                %td Assesses the ability to critically evaluate information presented in a written form.
              %tr
                %td Decision Making
                %td Assesses the ability to make sound decisions and judgements using complex information.
              %tr
                %td Quantitative Reasoning
                %td Assesses the ability to critically evaluate information presented in a numerical form.
              %tr
                %td Abstract Reasoning
                %td Assesses the use of convergent and divergent thinking to infer relationships from information.
              %tr
                %td Situational Judgement
                %td Measures the capacity to understand real world situations and to identify critical factors and appropriate behaviour in dealing with them

        %p
          Upon completion of their exam, your child will receive a score for each subtest between 300-900. The scores for the first four subtests are added up to give a score out of 3600 with the score of the situational judgement test being left separate for universities to determine whether or not they will allow the score to contribute towards their application process. Soon after the exam, your child will receive an email about how to access their score.
        %p
          Note that the results of the UCAT
          %sup ®
          exam are only valid for 1 year - They don’t carry over to the next year. In other words, a UCAT
          %sup ®
          score in 2021 can only be used to apply for courses commencing in 2022.

        %h2 Key UCAT Dates
        %p.mtop_zero
          The UCAT
          %sup ®
          exam runs across a month-long period, once a year. The dates below reflect the 2021 testing dates for commencement of studies in 2022.

        .tbl_responsive.mtop20.mbot20
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %tbody
              %tr
                %td
                  Registrations for the UCAT
                  %sup ®
                  exam open
                %td
                  1 March 2021
              %tr
                %td
                  Registration Deadline
                %td
                  17 May 2021
              %tr
                %td
                  Late Registration Deadline
                %td
                  31 May 2021
              %tr
                %td
                  UCAT
                  %sup ®
                  Testing Commences
                %td
                  1 July 2021
              %tr
                %td
                  UCAT
                  %sup ®
                  Testing Ends
                %td
                  11 August 2021
              %tr
                %td
                  Results Delivered to Universities
                %td
                  September 2021
        %p
          Note that a late registration will incur an additional late fee of $85.

        %h2 UCAT Fees
        %p.mtop_zero
          A summary of the test fees can be found below.

        .tbl_responsive.mtop20.mbot20
          %table.table.cstm_tbl.table-bordered.table-condensed.custom_table_data
            %tbody
              %tr
                %td
                  Tests taken in Australia or New Zealand
                %td
                  $305
              %tr
                %td
                  Concession Fee (Australia only)
                %td
                  $199
              %tr
                %td
                  Tests taken Internationally
                %td
                  $380
              %tr
                %td
                  Late booking fee
                %td
                  $85 (additional fee)
              %tr
                %td
                  Refund fee
                %td
                  15% of total test fees deducted
        %p.mtop20
          Note that the concession fee is only available to students who:
        .diffr_country
          %ul.cstm_list_style
            %li
              Hold or are listed as dependant on a current, signed
              %b Health Care Card (HCC)
            %li
              Hold or are listed as dependant on a current, signed
              %b Pensioner Concession Card (PCC)

        %p
          Note as well that there is a separate time window to apply for the concession fee - For 2021, this was:
        .diffr_country
          %ul.cstm_list_style
            %li Concession Scheme opens: 1 February 2021
            %li Concession Application deadline: 10 May 2021
        %p
          Refunds can also be requested by submitting a request before the deadline of 11:59pm AEST on 7 June 2021, with a refund fee of 15% deducted from the refund amount.

      .preparation_col.head_aftr_none
        %h2#SupportingYourChild
          Supporting Your Child Throughout Their Journey into Medicine

        %h3 Understanding the UCAT
        %p
          In order to properly support students preparing for the UCAT
          %sup ®
          exam, it is important to first understand its importance in the medical school applications process. For many universities, the UCAT
          %sup ®
          score carries as much weight in your application as your ATAR. To put this into perspective, the total sum of Year 12 examinations and the intense hours of study behind these scores has as much importance as the score from the 2 hour long UCAT
          %sup ®
          exam. Even with a phenomenal ATAR or even a star performance at the interview, a poor UCAT
          %sup ®
          score could potentially outweigh these achievements.

        %h3 Provide support
        %p
          If your child is preparing for the UCAT
          %sup ®
          , chances are they’ll be feeling the pressure of having to study for this external exam on top of their high school responsibilities and managing the work experience and interview skills necessary to ace university applications. It is important to remind them to take breaks from their studies and hang out with friends or just relax. Burnout is a significant concern and can result from the extreme stresses of the medical application process. Remember to remind your child to get the necessary sleep, exercise and diet that they need to mitigate their stress. Ultimately, these reminders can make a consequential impact on the improvement of their wellbeing and accomplishments.

        %h3 Encourage consistent preparation and begin early!
        %p
          Many students fail to finish the exam at all due to the intense time pressure, needing to complete 2 MCQs every minute. In addition to a high level of concentration and strong cognitive skills, the UCAT
          %sup ®
          exam requires exceptional time-management to do well. As such, preparation is key and preparing for the UCAT
          %sup ®
          exam  requires consistent practice over time and a targeted approach towards identifying strengths and weaknesses.
        %p
          Consistency and practice will give you the best chance of succeeding on the UCAT
          %sup ®
          exam - This is where a study plan is essential. Planning study by month, by week, by day, and often by hour,is typically necessary to ensure that you’re well covered on all the sections of the UCAT
          %sup ®
          exam, and allows you to achieve the necessary amount of question-based practice.
        %p
          Whilst the UCAT
          %sup ®
          consortium provides
          %a{href: "https://www.ucat.edu.au/ucat-anz/practice-tests/", target: :_blank}
            %strong
              a small pool of questions and tests
          , their explanations are often short and poorly explained. Practice is essential towards working faster and increasing your accuracy for the UCAT
          %sup ®
          exam. GradReady’s MCQ bank provides students with the opportunity to assess themselves and evaluate their weaknesses with our detailed explanations and test-accurate question types.

      .preparation_col.head_aftr_none
        %h2
          Further Materials & Resources
        %p.mtop_zero
          Now that you’ve got some background on the UCAT
          %sup ®
          Exam, visit some of our other free resources to learn more:
        %ol.ordr_list
          %li
            %h5
              %a{href: "/what-is-ucat", target: :_blank}
                What is the UCAT
                %sup ®
                exam?
            %p.mtop_zero
              An introduction to the UCAT
              %sup ®
              exam including which universities require the UCAT
              %sup ®
          %li
            %h5
              %a{href: "/ucat-structure", target: :_blank}
                UCAT
                %sup ®
                Structure
            %p.mtop_zero
              A breakdown of the UCAT
              %sup ®
              Exam, the different sections and what to expect for each one.
          %li
            %h5
              %a{href: "/ucat-preparation", target: :_blank}
                How to study for the UCAT
                %sup ®
                Exam
            %p.mtop_zero
              Everything you need to know on how to study for the UCAT
              %sup ®
              Exam, including tips for each of the five sections.
          %li
            %h5
              %a{href: "/ucat-students-guide", target: :_blank}
                UCAT
                %sup ®
                Students Guide
            %p.mtop_zero
              A comprehensive breakdown for students to get them started on their UCAT
              %sup ®
              preparation.

:javascript
  // Select all links with hashes
  $('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
      &&
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top-74
        }, 1000, function() {
          // Callback after animation
          // Must change focus!

        });
      }
    }
  });

:css
  .preparation_col ol li a, .preparation_col ul li a{
    font-size: 14px;
    color: #007ecc;
    line-height: 25px;
    font-weight: 600;
  }
  .preparation_col ol li h3 a {
    font-size: 18px;
    color: #007ecc;
  }
  .preparation_col h3 {
    font-size: 18px;
    color: #007ecc;
    margin-top: 0px;
  }
  .cstm_tbl thead {
    background: #007ecc;
    color: #fff;
  }
  .download-counter-badge .fa {
    color: #007ecc !important;
    padding: 5px 5px !important;
    font-size: 17px !important;
  }
  .preparation_col p a {
    font-size: 14px;
    color: #007ecc;
  }
  .tbl_responsive span {
    font-size: 14px;
    margin-top: 4px;
    display: block;
  }
