- title "UCAT Preparation Courses | Compare GradReady"
- meta_description "Our UCAT Preparation Courses are designed to enhance your exam study. We use both online and live classes, tutors, and offer courses in Sydney, Melbourne, Brisbane, Perth, Adelaide and Canberra."
#public-page.ng-scope.umat
  #course-packages
    .container.no_padding
      .cmptr_compr.padding-top0
        .umat_prepar_col
          = render 'pages/partial/umat/umat_compare_desc'
    = render 'pages/partial/umat/umat_comparison'
