- title "VCE Preparation Courses | Student Feedback and Satisfaction"
- meta_description "Students use our VCE preparation courses to enhance their exam study. If you want a career in medicine or want to be a doctor, we offer both online and live classes and tutors in Sydney, Melbourne, Brisbane, Perth, Adelaide and Canberra."
.our-gamsat.container.default-main-container.no_padding
  %h1.vce_txt.infog.spinfo
    Student Feedback 2016
  %p.umat_center_txt
    We are in the process of collecting our VCE
    %sup{ style: "margin-right: -4px;"} ®
    student feedback. However, below are surveys from our GAMSAT
    %sup{ style: "margin-right: -4px;"} ®
    (Graduate Medical School Admissions Test) courses - which have helped
    %b
      = link_to "over 1000 students,", vce_student_testimonials_url(anchor: 'student_improved_score'), class: "vce_txt"
    for each of the past 3 years,
    %b.vce_txt
      %a.vce_txt{:href => "https://gradready.com.au/vce/student_testimonials"}
        improve at least 24 percentile points
    Given the similar nature of the GAMSAT
    %sup{ style: "margin-right: -4px;"} ®
    and UCAT
    %sup{ style: "margin-right: -4px;"} ®
    tests, we have no doubt that we will bring the same level of satisfaction and success to our VCE
    %sup{ style: "margin-right: -4px;"} ®
    students.
  %h3.vce_txt
    Key
    #image
    %span.key_img
      %img.img_hght1{:alt => "8-plus", :src => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/icons/8-plus-purple.jpg'}/
      \= 8 or greater
    %span.key_img
      %img.img_hght1{:alt => "7-7.9", :src => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/icons/7-7-purple.jpg'}/
      \= Between 7 and 7.9
    %span.key_img
      %img.img_hght1{:alt => "6-less", :src => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/icons/6-less-purple.jpg'}/
      \= Less than 7
  %ul.nav.nav-tabs.nav-tabs.border_none.infogap.tab_bl{:role => "tablist"}
    %li.active
      %a.font_sty.tab_width.u-black-link.vce_purple{"data-toggle" => "tab", :href => "#grad_testi", :role => "tab"}
        January
    %li
      %a.font_sty.tab_width.u-black-link.vce_purple{"data-toggle" => "tab", :href => "#grad_testib", :role => "tab"}
        February
  .tab-content
    #grad_testi.tab-pane.active.width_535
      .container.default-main-container.no_padding
        .txt_cntr
          %h2.clr
          #image
            %img.img_hght{:alt => "Fedback1", :src => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/infographic/fedback1-purple.jpg'}/
    #grad_testib.tab-pane.width_535
      .container.default-main-container
        .txt_cntr
          %h2.clr
          #image
            %img.img_hght{:alt => "Fedback", :src =>  'https://gradready.s3.ap-southeast-2.amazonaws.com/static/infographic/fedback2-purple.jpg'}/
.our-gamsat.container.default-main-container.no_padding
  %h2.vce_txt.infog.spinfo.Seeinfo
    GradReady Interview Ready Student Infographic 2015
  %h4.infog.spinfo.Seeinfo
    See how our students rate us throughout the courses, all over Austrailia
  %h3.vce_txt
    Key
    #image
    %span.key_img
      %img.img_hght1{:alt => "8-plus", :src => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/icons/8-plus-purple.jpg'}/
      \= 8 or greater
    %span.key_img
      %img.img_hght1{:alt => "7-7.9", :src => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/icons/7-7-purple.jpg'}/
      \= Between 7 and 7.9
    %span.key_img
      %img.img_hght1{:alt => "6-less", :src => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/icons/6-less-purple.jpg'}/
      \= Less than 7
  %ul.nav.nav-tabs.nav-tabs.border_none.infogap.tab_bl{:role => "tablist"}
    %li.active
      %a.font_sty.tab_width.u-black-link.vce_purple{"data-toggle" => "tab", :href => "#grad_testii", :role => "tab"}
        Essentials
    %li
      %a.font_sty.tab_width.u-black-link.vce_purple{"data-toggle" => "tab", :href => "#grad_testibb", :role => "tab"}
        Comprehensive
  .tab-content
    #grad_testii.tab-pane.active.width_535
      .container.default-main-container.no_padding
        .txt_cntr
          %h2.clr
          #image
            %img.img_hght{:alt => "Ess_mockup_2", :src => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/infographic/ESS_mockup1-purple.jpg'}/
    #grad_testibb.tab-pane.width_535
      .container.default-main-container
        .txt_cntr
          %h2.clr
          #image
            %img.img_hght{:alt => "Com_mockup_2", :src => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/infographic/COM_mockup2-purple.jpg'}/
  = render "pages/partial/vce/student_infographic"
