- title "VCE | Apply for the Millenials Scholarship"
.container.default-main-container.ng-scope.scholarship.no_padding
  .row
    .vce_prpl_clr
      .col-md-12
        #public-page
          .container.no_padding
            .gamsat_prepare.clear
              .scho_blu_color.purple
                %h1 GradReady Millennials Scholarship
              %h3 Encouraging resourcefulness, ingenuity and initiative
          .thumbnails
            .col-md-6.no_padding.m_btm10
              %img.width100{:alt => "About team img1", :src => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/mini_slider/about-team-img1.jpg'}/
              .m_banner
            .col-md-6.no_padding
              %img.width100{:alt => "About team  img2", :src => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/mini_slider/about-team-img2.png'}/
          .ta_lft
            .testi_col_left.wdt45.col-md-6.text-left.no_padding
              .cont_col_1
                %h5 Background
                %p GradReady was founded on the belief that “there has to be a better way”. We saw the opportunity to make learning more effective and efficient through doing something new and different. It is this change-for-better attitude that we would like to encourage in all applicants of the GradReady Millennials Scholarship.
                %p We would like to help build a culture where people are encouraged to look for novel solutions, to think outside the box and to leverage and build upon the amazing tools of this new information age.
                %p With the increasing advancement in internet and mobile technologies, you are able to tackle problems in ways that we were not able to in the past. As the generation who grew up with these new technologies, you are in a position to create tools and see solutions that may not be apparent to the older generations. You will have the opportunity to make real impact at a young age.
                %p GradReady Millennials Scholarship is set up to help you to take the first step in becoming a part of the solution.
              .cont_col_1
                %h5 Eligibility criteria
                %p Current Year 12 students.
            .testi_col_left.wdt45.fr.col-md-6.text-left.no_padding
              .cont_col_1
                %h5 Scholarship details
                %p
                  Full fee paid for a VCE
                  %sup{ style: "margin-right: -5px;"} ®
                  Ready Comprehensive Live Course + $500 cash
                %p
                %p
                  If you have already signed up for a VCE
                  %sup{ style: "margin-right: -5px;"} ®
                  Ready Comprehensive Live Course and are awarded the scholarship, your payment will be refunded.
                %p 5 scholarships available.
              .cont_col_1
                %h5 How to apply
                %p 1. Compose a 600 - 800 word essay outlining how you have demonstrated one or more of the following 3 qualities - resourcefulness, ingenuity and initiative - through achieving positive results for yourself or for the people and wider community around you. Also explain how your experiences will help you in your future endeavours and achieving your aspirations.
                %p 2. Update your CV.
                %p 3. Email the essay and CV, in a single PDF Document, to millennials@gradready.com.au
                %p Title both the email and the document in the following manner
                %p
                  = 'Eg. "VCE'
                  %sup{ style: "margin-right: -5px;"} ®
                  = '- 2017 Millennials Application - John Jackson"'
              .cont_col_1
                %h5 Timeline
                %p 2017 applications are now open and will close 11:59pm AEDT on 15th April 2017. No late application will be accepted.
                %p Interviews will be held between Saturday 22nd to 28th of April.
                %p Recipients will be notified by 5th of May.
                %p To read the personal stories of our past recipients, please see below for past Millennials Scholarship winners.
        #public-page.fl_mar
          =render 'pages/partial/scholarship_recipients'
