- title "VCE Preparation Courses | Compare GradReady"
.container.default-main-container.ng-scope.no_padding
  .row
    .col-md-12
      #course-packages
        #public-page
          #course-packages
            .container.vce_prpl_clr.no_padding
              .cmptr_compr.padding-top0
                .umat_prepar_col
                  = render 'pages/partial/vce/vce_compare_desc'
            = render 'pages/partial/vce/vce_comparison'
