!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    :css
      *{
      padding: 0px;
      margin: 0px;
      }
  %body
    .wrapper{style: "padding: 30px 0px; font-family:arial"}
      %table{style: "margin: 0 auto;max-width: 677px;width: 100%; font-family:arial;margin-top: 50px;padding: 12px 12px;"}
        %tbody
          %tr
            %td{style: "margin-top: 10px; float: left; line-height: 25px; font-size: 15px;"}
              = "Dear #{@job_application.name},"
          %tr
            %td{style: "margin-top: 10px; float: left; line-height: 25px; font-size: 15px;margin-bottom: 60px;"}
              ="Thank you for the time you’ve invested in preparing your application.  We’re not currently hiring #{@type}s, however we were impressed by the high standard of your application.  As such, we’ll be in contact over the next 3 months when we’ll be hiring and assessing the applications for that role."
          %tr
            %td{style: "margin-bottom: 24px; float: left;font-size: 15px;"}
              Kind regards,
          %tr
            %td{style: "margin-bottom: 24px; float: left;font-size: 15px;"}
              Recruitment Coordinator
          %tr
            %td{style: "margin-bottom: 34px; float: left;font-size: 15px;"}
              hr@gradready.com.au
