!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    :css
      *{
      padding: 0px;
      margin: 0px;
      }
  %body
    .wrapper{style: "padding: 30px 0px; font-family:arial"}
      %table{style: "margin: 0 auto;max-width: 677px;width: 100%; font-family:arial;margin-top: 50px;padding: 12px 12px;"}
        %tbody
          %tr
            %td{style: "margin-top: 10px; float: left; line-height: 25px; font-size: 15px;"}
              ="Dear #{@job_application.name},"
          %tr
            %td{style: "margin-top: 10px; float: left; line-height: 25px; font-size: 15px;"}
              Thank you for your application to GradReady.
          %tr
            %td{style: "margin-top: 10px; float: left; line-height: 25px; font-size: 15px;"}
              Unfortunately you were unsuccessful in your application on this occasion. There was a large number of qualified applicants - as such, not much separated your application and the ones that were progressed to the next round.
          %tr
            %td{style: "margin-top: 10px; float: left; line-height: 25px; font-size: 15px;margin-bottom: 60px;"}
              We will continue to keep your details on file and contact you should any similar opportunities arise.
          %tr
            %td{style: "margin-bottom: 10px; float: left;font-size: 15px;"}
              Kind regards,
          %tr
            %td{style: "margin-bottom: 24px; float: left;font-size: 15px;"}
              HR Manager
