%h1 Editing surveys_survey_question

= render 'surveys/survey_questions/partial/form'
.btn-group
  = link_to 'Show', @surveys_survey_question, class: 'btn btn-default'
  = link_to 'Back', :back, class: 'btn btn-default'
