#course-package-details
  - if @product_line == 'GAMSAT'
    %p
      %span.u-word-spacing We believe that good preparation is the key to success in the GAMSAT ® exam. To ensure that all prospective students have the basic tools necessary, we have made available our Daily Study Guide free of charge. Our experienced tutors have formulated a study guide for each day of the three months leading up to the GAMSAT ® exam. We have also made plans for sections I, II and each of the 3 sciences in section III - with separate plans available for students with and without background knowledge in the area.
