#course-package-details
  %p.u-word-spacing
    This package contains 6 free online exams (Essay not included).
  %p.u-word-spacing
    = "Our online test system mimics the style of the #{@product_line} by putting you under real time pressure. The exam results will be automatically broken down according to the applicable topics (from a pool of 43 topics), giving you a precise overview of your strengths and weaknesses. In addition, your performance will automatically be compared to that of other GradReady students, and you will be given your resulting percentile in each section and overall. Other than our Mock Exam Days, this is as close as it gets to the actual #{@product_line}."
