#course-package-details
  - if @product_line == 'GAMSAT'
    %p
      %span.u-word-spacing GradReady has been helping over 1000 students every year to become doctors. Use our 7 days free trial to see for yourself why,
      %a.text_green{:href => "https://gradready.com.au/gamsat-preparation-courses/student_testimonials#student_improved_score"} 3 years in a row
      GradReady students have
      %a.text_green{:href => " https://gradready.com.au/gamsat-preparation-courses/student_testimonials#student_improved_score"}
        improved their GAMSAT
        %sup{ style: "margin-right: -4px;"} ®
        ranking by at least 24 percentile points.

    %p.u-word-spacing When you sign up to the Trial, you will also be able to download a free Study Plan Guide and Essay Writing Guide written by our team of expert tutors.


    %p
      %span.u-word-spacing
        So sign up today for our free GAMSAT
        %sup{ style: "margin-right: -4px;"} ®
        trial and find out why
      %a.text_green{:href => "https://gradready.com.au/gamsat-preparation-courses#student_infographic"} over 1000 students every year
      %span are trusting GradReady to prepare them for one of the most important exam of their careers.

  - elsif @product_line == 'UMAT'
    %p.u-word-spacing GradReady has been helping over 1000 students every year to become doctors. Use our 7 days free trial to see for yourself why GradReady students are outperforming their peers in admissions exams.

    / %p.u-word-spacing
    /   Our 7 day free trial includes GradReady’s unique 50 question diagnostic assessment tool to assess your readiness for the UMAT
    /   %sup{ style: "margin-right: -12px;left: -10px;"} ®
    /   exam. Get full access to our comprehensive UMAT
    /   %sup{ style: "margin-right: -9px;left: -8px;"} ®
    /   textbook, which comprehensively covers all things UMAT
    /   %sup{ style: "margin-right: -4px;left: -9px;"} ®
    /   related. You will be able to trial a sample of our 1000+ MCQ questions, which cover all the key UMAT
    /   %sup{ style: "margin-right: -4px;"} ®
    /   topics and include detailed answers to every question. Also included is a sample selection of some of our high quality course videos. These videos will teach you the fundamental concepts that you’ll need to know for the UMAT
    /   %sup{ style: "margin-right: -4px;"} ®
    /   = '.'

    %p.u-word-spacing
      So sign up today for our free UCAT
      %sup{ style: "margin-right: -4px;"} ®
      trial and find out why over 1000 students every year are trusting GradReady to prepare them for one of the most important exam of their careers.

    / %p.u-word-spacing We re-emphasize that not all MCQs and Videos indicated in features below will be included in the trial - only a selection will be made available.
  - elsif @product_line == 'VCE'
    %p.u-word-spacing GradReady has been helping over 1000 students every year with some of the most important exams of their careers. Use our 7 days free trial to see for yourself why GradReady students are outperforming their peers.

    %p.u-word-spacing
      Our 7 day free trial includes GradReady’s unique diagnostic assessment tool to assess your readiness for the VCE
      %sup{ style: "margin-right: -7px;left: -7px;"} ®
      exam. Get full access to our comprehensive VCE
      %sup{ style: "margin-right: -4px;left: -8px;"} ®
      textbook, which covers all things VCE
      %sup{ style: "margin-right: -4px;"} ®
      related. You will be able to trial a sample of our many MCQ questions, which cover all the key VCE
      %sup{ style: "margin-right: -7px;left: -8px;"} ®
      topics and include detailed answers to every question. Also included is a sample selection of some of our high quality course videos. These videos will teach you the fundamental concepts that you’ll need to know for the VCE
      %sup{ style: "margin-right: -4px;"} ®
      = '.'

    %p.u-word-spacing
      So sign up today for our free VCE
      %sup{ style: "margin-right: -4px;"} ®
      trial and find out why over 1000 students every year are trusting GradReady to prepare them for one of the most important exam of their careers.

    %p.u-word-spacing We re-emphasize that not all MCQs and Videos indicated in features below will be included in the trial - only a selection will be made available.
  - elsif @product_line == 'HSC'
    %p.u-word-spacing GradReady has been helping over 1000 students every year with some of the most important exams of their careers. Use our 7 days free trial to see for yourself why GradReady students are outperforming their peers.

    %p.u-word-spacing
      Our 7 day free trial includes GradReady’s unique diagnostic assessment tool to assess your readiness for the HSC
      %sup{ style: "margin-right: -9px;left: -8px;"} ®
      exam. Get full access to our comprehensive HSC
      %sup{ style: "margin-right: -4px;left: -8px;"} ®
      textbook, which covers all things HSC
      %sup{ style: "margin-right: -4px;"} ®
      related. You will be able to trial a sample of our many MCQ questions, which cover all the key HSC
      %sup{ style: "margin-right: -4px;"} ®
      topics and include detailed answers to every question. Also included is a sample selection of some of our high quality course videos. These videos will teach you the fundamental concepts that you’ll need to know for the HSC
      %sup{ style: "margin-right: -4px;"} ®
      = '.'

    %p.u-word-spacing
      So sign up today for our free HSC
      %sup{ style: "margin-right: -4px;left: -6px;"} ®
      trial and find out why over 1000 students every year are trusting GradReady to prepare them for one of the most important exam of their careers.

    %p.u-word-spacing We re-emphasize that not all MCQs and Videos indicated in features below will be included in the trial - only a selection will be made available.
