!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    :css
      *{
      padding: 0px;
      margin: 0px;
      }
  %body
    .wrapper{style: "padding: 30px 0px; font-family:arial"}
      %table{style: "margin: 0 auto;max-width: 677px;width: 100%; font-family:arial;margin-top: 50px;padding: 12px 12px;"}
        %tbody
          %tr
            %td{style: "font-weight: 700;"}
              = "Hello #{@staff.full_name},"
          %tr
            %td{style: "margin-top: 10px; float: left; line-height: 25px; font-size: 15px;"}
              ="Please note that the stream #{@course.name} has been reassigned from you to another essay marker."
          %tr
            %td{style: "margin-top: 10px; float: left; line-height: 25px; font-size: 15px;"}
              Please login to the GradReady dashboard and check which essays are currently assigned to you under <strong>Essays > Essay Marking Details </strong> before commencing any essay marking. Some outstanding essays may now have been reassigned, so please ensure you check to avoid any double-marking.

          %tr
            %td{style: "margin-top: 10px; float: left; line-height: 25px; font-size: 15px; margin-bottom: 30px;"}
              Should you have any queries please feel free to contact the team member in charge of coordinating the essay allocations (most often the Course Logistics Manager or Office Administrator).

          %tr
            %td{style: "margin-bottom: 24px; float: left;font-size: 15px;"}
              Kind regards,
          %tr
            %td{style: "margin-bottom: 34px; float: left;font-size: 15px;"}
              GradReady Student Success Team


