%h2.faq_question{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#how_to_video", :role => "button"}
  %i.fa.fa-angle-down.pull-right{"aria-hidden" => "true"}>
  How to Book Tutor
#how_to_video.panel-collapse.collapse{"aria-labelledby" => "headingOne", :role => "tabpanel"}
  / .video_box
  /   %video{:controls => "", :poster => 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/online-sys-demo/Tutor_Thumbnail.png', :width => "100%"}
  /     %source{:src => "http://gradready-prod.s3.amazonaws.com/public/How%20to%20Book%20a%20Private%20Tutor%20-%20Gradready%20GAMSAT.mp4", :type => "video/mp4"}
  /     %source{"data-quality" => "hd", :src => "http://gradready-prod.s3.amazonaws.com/public/How%20to%20Book%20a%20Private%20Tutor%20-%20Gradready%20GAMSAT.mp4", :type => "video/mp4"}
  - if announcement.story.present?
    %h4 Guideline
    .ck-editor-list
      = sanitize announcement.story
