.col-md-12
  .features_section_wrapper
    %h4 Structure
    %span.estimate_hours Contact Hours: Total: 90+ Hours
    .clearfix
    .row
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        .full_courses.features_content_section.detail_content.mn_hyt_162
          %h5
            Section I, II and III Review and Exam Strategy - 37 Hours
          %p
            %span.hglyt_Txt Classes run for 6 days
            and are spread over 3 weekends to ensure you have time to digest and absorb the content
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        .full_courses.features_content_section.detail_content.mn_hyt_162
          %h5
            Mock Exam and Review - 20 Hours
          %p
            A day long
            %span.hglyt_Txt Mock Exam
            that is as close as possible to the real thing with
            %span.hglyt_Txt Percentile Reporting
            comparing you thousands of other GradReady Students, followed by an
            %span.hglyt_Txt in-depth review
            the following day
    .row
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        .full_courses.features_content_section.detail_content.mn_hyt_162
          %h5
            Online Course Webinar - 24 Hours
          %p
            Our live course delivered in a webinar format, spread across 2 weeks and is run in the evening.

      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        .full_courses.features_content_section.detail_content.mn_hyt_162
          %h5
            Weekend Tutorial - 16 Hours
          %p
            Condensed courses for humanities, essay writing and the sciences, held over a single weekend.
    %span.estimate_hours.mrgn_spce Total Estimated Hours of Self Learning:  150 - 250 hours
    .clearfix
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .full_courses.features_content_section.detail_content
          %h5
            Type 1: No Science or GAMSAT
            %sup®
            Background
          %span.estimate_hours 15 - 20 hours/week
          %p
            Our courses comprehensively cover all the specific content and background you need to know for the GAMSAT
            %sup®
            exam, from
            %span.hglyt_Txt MCQ Strategies and Exam Tips
            to required knowledge for Section 1 to 3 - No matter what your background, you can get yourself ready for the GAMSAT
            %sup®
            exam. Nevertheless, with little to no experience with the content or format, you’ll need to dedicate some more time to familiarising yourself with the science components of the exam and learning the
            %span.hglyt_Txt
              best strategies to answering GAMSAT
              %sup®
              MCQs under pressure.
            Our courses are aimed at making sure that you lay the
            %span.hglyt_Txt right foundations
            and then subsequently guide you in how best to
            %span.hglyt_Txt apply the content
            that you’ve learnt when tackling MCQs and GAMSAT
            %sup®
            Section 2 Essays.
          %p
            Check out our free
            %a.green{:href => "/free-gamsat-preparation-materials"}
              GAMSAT
              %sup®
              Study Guide
            to get an idea of how to breakdown your preparation week by week, whether you're starting your preparation 3 months or 2 months out.
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .full_courses.features_content_section.detail_content
          %h5 Type 2: Basic Science Background
          %span.estimate_hours  10-16 hours/week
          %p
            You’ve got a basic background in the science - Maybe you did first year university level biology and chemistry, but there’s still areas that you need to cover. This might mean spending time revising certain physics or biology topics but you’re not starting from scratch. With this basic background, you can afford to spend some more time on Sections 1 and 2 of the GAMSAT
            %sup®
            and improve your essay writing. We make sure that you’ve laid the
            %span.hglyt_Txt right foundations
            in learning the content, then more importantly we focus on
            %span.hglyt_Txt how to apply
            that content and use it to guide your approach to answering MCQs and writing essays.
          %p
            Our
            %a.green{:href => "/free-gamsat-preparation-materials"}
              GAMSAT
              %sup®
              Study guide
            includes a study guide with a breakdown of how someone with a science background should spend their time on a weekly basis when starting their preparation 3 or 2 months away from the GAMSAT
            %sup®
            = '.'
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .full_courses.features_content_section.detail_content
          %h5
            Type 3: Previous GAMSAT
            %sup®
            Experience and Strong Science Background
          %span.estimate_hours  5 - 12 hours/week
          %p
            Maybe you’ve sat the GAMSAT
            %sup®
            before and you’re familiar with the content and format but you’re sitting it again because you’d like to improve your score or maybe you just come from a very strong science background. Perhaps you missed out on some areas you needed to revise or maybe you need to improve the way you approach MCQs.
          %p
            With our GAMSAT
            %sup®
            courses, you can
            %span.hglyt_Txt revise all the content
            to make sure you’re on top of everything you need to know and focus on getting as much practice as you can with our
            %span.hglyt_Txt intelligent MCQ Banks
            and
            %span.hglyt_Txt
              GAMSAT
              %sup®
              Practice Exams
            , as well as regular
            %span.hglyt_Txt marked essays.
            Since you’re already largely on top of the required knowledge we can hone in and focus on
            %span.hglyt_Txt
              improving your GAMSAT
              %sup®
              Exam strategy
            and applying your knowledge of the content through an
            %span.hglyt_Txt MCQ strategy.

      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .features_content_section.min_height0
          %p
            To learn more about how to organise your preparation, sign up for our free 175 page
            %a.green{:href => "/free-gamsat-preparation-materials"}
              GAMSAT
              %sup®
              Study Guide
            which contains key excerpts from our
            %span.hglyt_Txt
              1200+ pg GAMSAT
              %sup®
              Textbook
            , including a detailed breakdown of the different content you need to cover for each Section and a
            %span.hglyt_Txt 14 pg Essay Writing Guide.
            Get started on your prep now with a
            %span.hglyt_Txt week by week study schedule
            for each individual Section, including various versions based off which of the above categories you fall into.


  .features_section_wrapper
    %h4 Content
    .clearfix
    .row
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        .features_content_section.detail_content.min_height0
          %h5
            Section I:
          %p - Poetry
          %p - Fiction
          %p - Cartoons
          %p - Non-Fiction
          %p - Non-Fiction Medical
          %p - Charts and Diagrams
      .col-lg-6.col-md-6.col-sm-6.col-xs-12
        .features_content_section.detail_content.min_height0
          %h5
            Section II:
          %p - Expression and Organisation
          %p - Finding the Theme
          %p - Essay Style: Reflective vs Argumentative
          %p - Generating Ideas and Engaging with the Intellectual World
          %p - Improving your Vocabulary
          %p - Example Essays: The Good, the Bad and the Ugly
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .full_courses.features_content_section.detail_content
          %h5.width100
            Section III:
          .col-lg-4.col-md-4.col-sm-6.col-xs-12
            .features_content_section.detail_content.box_none

              %h5 - Biology
              %p - Biomolecules and the Cell
              %p - Enzymes
              %p - Cellular Metabolism
              %p - The Central Dogma
              %p - Cell Division
              %p - Nervous System
              %p - Musculoskeletal System
              %p - Cardiovascular System
              %p - Respiratory System
              %p - Gastrointestinal System
              %p - Renal System
              %p - Endocrine System
              %p - Immune System
              %p - Genetics  and Evolution
              %p - Reproductive System
              %p - Experimental Design and Data Analysis

          .col-lg-4.col-md-4.col-sm-6.col-xs-12
            .features_content_section.detail_content.box_none
              %h5 - Chemistry
              %p - The Atom
              %p - Chemical Equations and Stoichiometry
              %p - Electrons and Chemical Bonds
              %p - Gases
              %p - Thermodynamics and Kinetics
              %p - Acids, Bases, Buffers & Redox Reactions
              %p - Electrochemistry
              %p - Common Organic Reactions
              %p - Special Organic Reactions
              %p - Stereochemistry and Projections
              %p - Biochemistry
              %p - Spectroscopy
              %p - Laboratory Techniques

          .col-lg-4.col-md-4.col-sm-6.col-xs-12
            .features_content_section.detail_content.box_none
              %h5 - Physics
              %p - Linear Motion
              %p - Motion in Two Dimensions
              %p - Newton’s Laws and Forces
              %p - Mechanical Equilibrium
              %p - Work, Energy, & Momentum
              %p - Fluids, Pressure, & Heat
              %p - Electromagnetism
              %p - Electrical Circuits
              %p - Waves and Optics
              %p - Nuclear Physics

      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .features_content_section.min_height0
          %p
            For a complete breakdown of all the topic areas, sign up for our free
            %a.green{:href => "/free-gamsat-preparation-materials"}
              GAMSAT
              %sup®
              Study Guide
            which provides you with specific details on the different content you need to cover for each topic


  .features_section_wrapper
    %h4 Academic Leads
    .clearfix
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .features_content_section.min_height0
          %p
            GradReady was founded in 2010 by a group of Medical Doctors from the University of Melbourne.
          %p
            Our content and courses are
            %span.hglyt_Txt professionally designed
            , leveraging the expertise of former
            %span.hglyt_Txt lecturers and academics
            at the University of Western Australia and University of Otago, and incorporated into a
            %span.hglyt_Txt proprietary online system
            built using our experience in IT and education. As a result, our
            %a.green{:href => gamsat_path}
              GAMSAT
              %sup®
              courses
            have grown to become the most advanced and widely used
            %a.green{:href => gamsat_path}
              GAMSAT
              %sup®
              Preparation Course
            with over 1000 students every year.
          %p
            The
            %a.green{:href => "/gamsat-preparation-courses/team"}
              GradReady tuition team
            consists of successful current
            %span.hglyt_Txt medical students
            , former university level
            %span.hglyt_Txt lecturers
            and
            %span.hglyt_Txt PhD candidates
            , with some of our GAMSAT
            %sup®
            tutors being a combination of 2 or even 3 of these. In addition, all tutors have had extensive teaching experience, and were
            %span.hglyt_Txt hand-picked for their engaging teaching style
            and superb ability to explain difficult concepts.


  .features_section_wrapper
    %h4 Suitability/Eligibility
    .clearfix
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .features_content_section.min_height0
          %p
            This attendance course is designed to provide students with an comprehensive set of resources and an interactive and engaging learning environment. Our live classes are capped at 21 students, and in addition to the online resources included in the Attendance (Essentials) course, you’ll also get access to our personal essay marking service and our GetClarity system which allows you to get in touch with a tutor with a query on whatever you want whenever you want.
          %p
            The course is targeted at all students who are looking for a more comprehensive set of tools covering the humanities and science components of the GAMSAT
            %sup®
            and access to tutor help when you need it. If you’re unsure about which course is best for you, try our
            %a.green.recommender_popup{:href => "javascript:void(0);"} Course Recommender
            = "."

  .features_section_wrapper
    %h4 Expected Outcomes
    .clearfix
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .features_content_section.min_height0
          %p
            %a.green{:href => gamsat_path}
              GradReady’s GAMSAT
              %sup®
              Preparation Courses
            are designed to provide students with all the necessary knowledge and skills required to successfully sit the GAMSAT
            %sup®
            Exam and gain entry into the post-graduate health professionals degree of their choice.
          %p
            This is of course dependent on the ability of the student to devote sufficient time and energy into their preparation. Nevertheless, it is expected that students who complete the Attendance (Comprehensive) Course will:
          %ul.expected_outcomes
            %li
              Develop a successful strategy and approach to preparing for the GAMSAT
              %sup®
              Exam
            %li
              Display an in-depth and detailed knowledge of the common GAMSAT
              %sup®
              topics for Science and Humanities
            %li Develop advanced reasoning and problem solving skills in the application of this knowledge
            %li
              Develop proven skills and strategies in answering MCQs and maximising performance within the GAMSAT
              %sup®
              Exam format
            %li Establish refined essay writing skills
            %li Understand and implement different essay writing styles and formats to enhance the effectiveness of their response
            %li
              Display advanced understanding and interpretations of GAMSAT
              %sup®
              essay themes
            %li
              Establish the ability to produce coherent and refined essays under the extensive time pressure of the GAMSAT
              %sup®
              exam.

          %p
            GradReady is the only GAMSAT
            %sup ®
            Preparation provider with proven results. Our students have achieved statistically significant results with an average improvement of
            %a.green{:href => "/gamsat-preparation-courses/student_testimonials"}
              20+ Percentile Points
            over the last 7 years.

  .features_section_wrapper
    %h4 Online Access
    .clearfix
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .features_content_section.min_height0.width100
          %p Upon enrolment you’ll get immediate access to our online resources.
          %p
            For details on how long your enrolment will last,
            = link_to 'visit our FAQs.', faq_topic_path("gamsat-preparation-courses", FaqTopic.for_code('enrolment-payment')), class: "green"


  .features_section_wrapper
    %h4 Paying in Installments
    .clearfix
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .features_content_section.min_height0
          %p
            All course fees (except for any Custom course/add on purchases) can be split into 3 equal payments between the student sign up date and Feb 1st/first day of the live course, whichever one is earlier. To arrange a payment plan, complete registration as per usual, but selecting Bank Transfer as payment method. Then contact
            %a.green{href: "mailto:accounts@gradready.com.au"} accounts@gradready.com.au
            to set up a payment plan.
          %p
            Online access is given after the 1st payment is received. Note that your Online access will be disabled should any of your payments be > 3 days late as defined by your payment plan. Once online access is given, our usual Refund Policy applies.
:javascript

  $(".recommender_popup").click(function(){
    $("#course-recommender .cr").addClass("cr--on")
  });
