%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    :css
      *{
      padding: 0px;
      margin: 0px;
      }
  %body
    %span.preheader{:style => "display:none !important;"} Thank you for enrolling in our Online Tutorials! Make sure you get in touch to receive a timetable and further details
    .wrapper{style: "padding: 30px 0px; font-family:arial"}
      %table{style: "margin: 0 auto;max-width: 677px;width: 100%; font-family:arial;margin-top: 50px;padding: 12px 12px;"}
        %tbody
          %tr
            %td{style: "margin-top: 10px; float: left; line-height: 25px; font-size: 15px;"}
              Thank you for enrolling in our Online Interactive Tutorials!

          %tr
            %td{style: "margin-top: 10px; float: left; line-height: 25px; font-size: 15px;"}
              To make sure you receive a timetable and further details on how to prepare for the Online Tutorials, please submit a query
              %a{ href: 'https://gradready.com.au/gamsat-preparation-courses/contact'} on our website here
              letting us know that you’ve enrolled.

          %tr
            %td{style: "margin-top: 10px; float: left; line-height: 25px; font-size: 15px;"}
              You can select the query topic as
              %strong 2. Course Administration.

          %tr
            %td{style: "margin-top: 10px; float: left; line-height: 25px;font-size: 15px;"}
              Our priority is to make sure that the course lives up to everything we have promised and more. If you have any questions about anything at all, please do not hesitate to
              %a{href: 'https://gradready.com.au/gamsat-preparation-courses/contact'} get in touch.

          %tr
            %td{style: "margin-top: 10px; float: left; line-height: 25px;font-size: 15px; margin-bottom: 60px;"}
              GradReady students have increased their scores by 20+ percentile points on average, 5 years in a row using GradReady’s Industry-leading Approach and Learning Technologies. In addition, over 90% of our Interview Ready students have gained medical school admission over 4 years - an incredible achievement for our students and tutors. For more information,
              %a{href: 'https://gradready.com.au/gamsat-preparation-courses/student_testimonials'} please see here.
          
          %tr
            %td{style: "margin-bottom: 24px; float: left;font-size: 15px;"}
              Kind regards,
          %tr
            %td{style: "margin-bottom: 34px; float: left;font-size: 15px;"}
              GradReady Student Success Team
