%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    :css
      *{
      padding: 0px;
      margin: 0px;
      }
  %body
    %span.preheader{:style => "display:none !important;"} Take the Challenge - Let us know how we can improve our Systems and Get Additional MCQs
    .wrapper{style: "padding: 30px 0px; font-family:arial"}
      %table{style: "margin: 0 auto;max-width: 677px;width: 100%; font-family:arial;margin-top: 50px;padding: 12px 12px;"}
        %tbody
          %tr
            %td{style: "font-weight: 700;line-height: 25px;"}
              Congratulations on signing up for GradReady’s GAMSAT Free Trial!

          %tr
            %td{style: "margin-top: 10px; float: left; line-height: 25px; font-size: 15px;"}
              Here at GradReady, we pride ourselves on constantly innovating to meet student needs and it's for this reason that we believe we provide the best technology to help you study more effectively and efficiently, through identifying your weaknesses and facilitating your access to experienced tutors and relevant materials.

          %tr
            %td{style: "margin-top: 10px; float: left; line-height: 25px; font-size: 15px;"}
              We're constantly looking for ways to improve our online systems and learning technology, and if you think that another provider has a more advanced LMS or online resources, send us an email with 3 reasons why and we'll add 100 more MCQs to your Free Trial. You can email us at student.success@gradready.com.au.

          %tr
            %td{style: "margin-top: 10px; float: left; line-height: 25px;font-size: 15px; margin-bottom: 60px;"}
              We hope you enjoy using our market-leading online learning technology and best of luck with your GAMSAT Preparation!

          %tr
            %td{style: "margin-bottom: 24px; float: left;font-size: 15px;"}
              Kind regards,
          %tr
            %td{style: "margin-bottom: 34px; float: left;font-size: 15px;"}
              GradReady Student Success Team
