.final_step_ftr
  .end_exam
    %button.ftr_btn.btn_bdr_rgt{"data-target" => "#last_end_review_modal", "data-toggle" => "modal"}
      %i.fa.fa-step-forward{"aria-hidden" => "true"}
      = succeed "nd" do
        %span e
  .end_exam.step_btn_wrap
    %button.ftr_btn.btn_bdr_lft
      %i.flg_mrg5.fa.fa-flag-checkered{"aria-hidden" => "true"}>
      Review
      = succeed "ll" do
        %span A
    %button.ftr_btn.btn_bdr_lft
      %i.flg_mrg5.fa.fa-times{"aria-hidden" => "true"}>
      Review
      = succeed "ncomplete" do
        %span I
    %button.ftr_btn.btn_bdr_lft
      %i.flg_mrg5.fa.fa-flag-checkered{"aria-hidden" => "true"}>
      Re
      %span> v
      iew Flagged