.address
  %p
    %b Number
    =@address.number
  %p
    %b Street name
    =@address.street_name
  %p
    %b Street type
    =@address.street_type
  %p
    %b Suburb
    =@address.suburb
  %p
    %b City
    =@address.city
  %p
    %b Post Code
    =@address.post_code
  %p
    %b State
    =@address.state
