%section#course_different
  .container
    .faq_list
      .text-center
        %h2
          About the UCAT
          %sup ®
          Exam
      .faq_list_col.new_add_section
        #about_umat{"aria-labelledby" => "headingOne", :role => "tabpanel"}
          %p
            The University Clinical Aptitude Test (UCAT
            %sup ®
            ) is a standardised, 2 hour computer based multiple-choice exam designed to help <i>‘universities to select applicants with the most appropriate mental abilities, attitudes and professional behaviours required for new doctors and dentists to be successful in their clinical careers</i>&nbsp;’. The UCAT
            %sup ®
            exam replaces the UMAT
            %sup ®
            exam and is required for applications to the majority of Undergraduate Entry Medical courses in Australia, as well as various other dentistry, and health science courses.
          %p
            The UCAT
            %sup ®
            exam comprises of multiple sections, with different question types and various numbers of answer options. These sections can be considered subtests and are separately timed. There is a one minute break before the start of each section which will display instructions. Your overall time will not pause until either every subtest if finished or the allotted time runs out. These sections include:
            %ol.umat_same_font.margin_shift.padd_20
              %li
                %h4
                  Section 1: Verbal Reasoning (44 questions | 21 minutes)
              %li
                %h4
                  Section 2: Decision Making (29 questions | 31 minutes)
              %li
                %h4
                  Section 3: Quantitative Reasoning (36 questions | 24 minutes)
              %li
                %h4
                  Section 4: Abstract Reasoning (55 questions | 13 minutes)
              %li
                %h4
                  Section 5 – Situational Judgement (69 questions | 26 minutes)
          %p
            Scoring information has yet to be released regarding the UCAT
            %sup ®
            exam but it is worth noting that your score reports will be available immediately after completion of the test.


