.text-center.container
  %p.aos-item.sub_heading_txt.aos-init.aos-animate{"data-aos" => "fade-up", "data-aos-duration" => "1200"}
    With the recent replacement of the UMAT
    %sup ®
    Exam, GradReady is proud to recommend Kaplan Test Prep to bring you experienced and proven UCAT
    %sup ®
    Preparation. As the leading provider of preparation courses for the UKCAT
    %sup ®
    (from which the UCAT
    %sup ®
    Australia and New Zealand is derived), Kaplan now offers its score-raising courses for students taking the identical UCAT
    %sup ®
    ANZ. Study with Kaplan and benefit from a course created by experts and refined over 12 years of teaching and testing.
  %p.aos-item.sub_heading_txt.aos-init.aos-animate{"data-aos" => "fade-up", "data-aos-duration" => "1200"}
    Kaplan Test Prep is the world leader in test preparation and has served millions of students since it was founded over 80 years ago. Kaplan offers preparation for more than 90 standardized tests for academic admissions, English language proficiency, and professional licensing exams. Kaplan students benefit from the combined expertise of hundreds of teachers, researchers, curriculum specialists and testing experts, to receive quality academic content and realistic practice experiences.
/ .grad-kaplan-flex-div
/   .gamsat_course_wrapper.gm-course-flex.aos-item{"data-aos" => "fade-up", "data-aos-duration" => "1200"}
/     .gamsat_courses_col.umat_course_bg
/       .gamsat_courses_description
/         %a{href: "https://www.kaptestglobal.com/anz/ucat/preparation?a_aid=gradready"}
/           %h3
/             Visit Kaplan to Learn More & Enrol Today
