.statics_section#happy_student
  .row
    .container
      .aos-item.col-sm-6.first_paddrght0{"data-aos" => "fade-up", "data-aos-duration" => "1200"}
        .hvr-shutter-out-vertical.statics_text
          %h3
            %a{href: "#{gamsat_preparation_courses_overview_url(anchor: 'grad_history')}"}
              / %span.incrementalNumber{"data-value" => "10"}
              %span 10 + yrs
              %p TRUSTED EXPERIENCE
      .aos-item.col-sm-6.second_paddlft0{"data-aos" => "fade-up", "data-aos-duration" => "1600"}
        .hvr-shutter-out-vertical.statics_text.bdr_right0
          %h3
            %a{href: "/gamsat-preparation-courses/our_students"}
              / %span.incrementalNumber{"big-number" => "19999", "data-value" => "20000"}
              %span 20000 +
              %p STUDENTS USE OUR RESOURCES
