#student_testimonial.testimonial_banner_slider.aos-item{"data-aos" => "fade", "data-aos-duration" => "1200"}
  .container
    .support_col.looking_corse.text-center
      %h2 What Our Students Say
    .new_section_testi
      %ul#testimonial_slider_3d
        %li
          .front
            .testi_container
              %p
                An ideal balance of professionalism and intimacy demonstrated by the renowned tutors of GradReady enabled me to consolidate the necessary ingredients needed to excel on the day of GAMSAT
                %sup ®
              %span.student_3d_name – Sam D
        %li
          .front
            .testi_container
              %p The 1-on-1 focus for the science section was very beneficial. Especially for someone, like myself, who has never done Physics before. That is where the GradReady course differentiates itself from other courses.
              %span.student_3d_name – Anonymous
        %li
          .front
            .testi_container
              %p I was absolutely floored with the results!! Improving from 64 to 85... the marked essays were fantastic... thank you for your support during and after the course!
              %span.student_3d_name – Steven S
        %li
          .front
            .testi_container
              %p
                GradReady helped me a lot with my GAMSAT
                %sup ®
                score. I received 50 my first time, but after the course I got an overall score of 69. I found the chemistry tutorial particularly helpful. It clarified several ambiguous points from my previous study.
              %span.student_3d_name – Yuan W
        %li
          .front
            .testi_container
              %p
                I feel more confident after taking the GAMSAT
                %sup ®
                Ready course, and I’ve been recommending the course to my friends.
              %span.student_3d_name – Martin B
        %li
          .front
            .testi_container
              %p I found the course very helpful, both through the provision of some great material and an extra motivator to focus my studies. My overall score increased from 61 to 76. Specifically I found the feedback on the content and structure of my writing was instrumental.
              %span.student_3d_name – Suzannah C
        %li
          .front
            .testi_container
              %p The Humanities section was absolutely fantastic! The guidance through essay writing steps and reading passages was very comforting.
              %span.student_3d_name – Trung N
        %li
          .front
            .testi_container
              %p Everything was very well done! The workshop was well facilitated and provided a good opportunity to practice scenarios in front / with others. The Mock MMI Day was fantastic - I would recommend this to ANYONE who has been successful in obtaining an interview of med school. It was absolutely worth the money. Thank you!
              %span.student_3d_name – Amelie I
        %li
          .front
            .testi_container
              %p The workshop gave helpful tips and allowed us to learn from the ideas, demeanours and mistakes of our peers. The mock interviews were realistic so they were very valuable for building confidence in the interview environment.
              %span.student_3d_name – Lara M
        %li
          .front
            .testi_container
              %p The InterviewReady course helped tremendously with my preparation. I think the best thing was that we didn't know beforehand what scenarios were prepared for us, and that allowed for a great deal of spontaneity when answering questions.
              %span.student_3d_name – Nathaniel H
        %li
          .front
            .testi_container
              %p The recreation of the interviews was almost exactly like the actual interview! The course taught us how to develop the perspective of the interviewer so that we could refine our answers.
              %span.student_3d_name – Adrianna P
        %li
          .front
            .testi_container
              %p The whole Mock Day was a great experience which allowed personal reflection on my performance, putting into perspective what I could improve on and what I did well. The fishbowl was a good experience, particularly for people like me who are more quiet.
              %span.student_3d_name – Vince C
        %li
          .front
            .testi_container
              %p The mock MMI was certainly one of the highlights of the programs that provided me with the confidence that I needed to tackle my actual MMI, with minimal levels of stress and anxiety as I already knew what to expect.
              %span.student_3d_name – Peter C
        .arrowButton
          .prevArrow
          .nextArrow
      .cr_descr_banner_col
        #cr_description_col.carousel.slide{"data-ride" => "carousel", "data-interval" => "false"}
          .carousel-inner{role: "listbox"}

            .item.active
              %video.video-js.vjs-default-skin{controls: "", "data-autoplay" => "false", "data-autoresize" => "fit", "data-controls" => "true", "data-setup" => "{ \"playbackRates\": [2, 1.5, 1.2, 1, 0.5] }", poster: 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/christine_manuel.png', :width => "100%", height: "312px"}
                %source{src: "https://gradready-prod.s3.amazonaws.com/public/christine_manuel.mp4", type: "video/mp4"}
            .item
              %video.video-js.vjs-default-skin{controls: "", "data-autoplay" => "false", "data-autoresize" => "fit", "data-controls" => "true", "data-setup" => "{ \"playbackRates\": [2, 1.5, 1.2, 1, 0.5] }", poster: 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/carl.png', :width => "100%", height: "312px"}
                %source{src: "https://gradready-prod.s3.amazonaws.com/public/GAMSATReady%20Testimonial%20(Carl).mp4", type: "video/mp4"}
            .item
              %video.video-js.vjs-default-skin{controls: "", "data-autoplay" => "false", "data-autoresize" => "fit", "data-controls" => "true", "data-setup" => "{ \"playbackRates\": [2, 1.5, 1.2, 1, 0.5] }", poster: 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/vincenzo.png', :width => "100%", height: "312px"}
                %source{src: "https://gradready-prod.s3.amazonaws.com/public/Vincenzo%20Crocitti%20(InterviewReady).mp4", type: "video/mp4"}
            .item
              %video.video-js.vjs-default-skin{controls: "", "data-autoplay" => "false", "data-autoresize" => "fit", "data-controls" => "true", "data-setup" => "{ \"playbackRates\": [2, 1.5, 1.2, 1, 0.5] }", poster: 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/steven.png', :width => "100%", height: "312px"}
                %source{src: "https://gradready-prod.s3.amazonaws.com/public/My%20GAMSAT%20Story%20(Part%203)-%20GAMSATReady.mp4", type: "video/mp4"}
            %a.left.carousel-control{"data-slide" => "prev", href: "#cr_description_col", role: "button"}
              %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
              %span.sr-only Previous
            %a.right.carousel-control{"data-slide" => "next", href: "#cr_description_col", role: "button"}
              %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
              %span.sr-only Next
