%section#student_infographic.pad_top_45
  .container
    .text-center.full_width.mg_bottom48
      %h2.aos-item{"data-aos" => "fade-up", "data-aos-duration" => "1200"}
        %span.grad_logo_head
          %span.green
            Grad
          %span.black
            Ready
        Student Numbers
        %br/
        GAMSAT
        %sup ®
        Courses 2017
    .row
      .col-md-5.col-sm-12.col-xs-12.text-center
        .map_left.aos-item.aos-init.aos-animate{"data-aos" => "fade-up", "data-aos-duration" => "1400"}
          %a#icon140.map_digit_bg.icon140{href: "javascript:void(0);"} 140
          %a#icon143.map_digit_bg.icon143{href: "javascript:void(0);"} 143
          %a#icon365.map_digit_bg.icon365{href: "javascript:void(0);"} 365
          %a#icon423.map_digit_bg.cstm_colr.icon423{href: "javascript:void(0);"} 423
          %a#icon90.map_digit_bg.icon90{href: "javascript:void(0);"} 90
          = image_tag 'https://gradready.s3.ap-southeast-2.amazonaws.com/static/public_pages/circle_studentdata.svg', class: 'crcl_student_img', alt: "GradReady GAMSAT Students"
      .col-md-7.col-sm-12.col-xs-12.text-center.aos-item.aos-init.aos-animate{"data-aos" => "fade-up", "data-aos-duration" => "1400"}
        .map_data
          %h3
            Where our GAMSAT
            %sup> ®
            students were based
          .full_data.current.div365
            .student_data
              %ul
                %li
                  %span.stunt_num 187
                  %span.university_name University of Sydney
                %li
                  %span.stunt_num 103
                  %span.university_name University of New South Wales
                %li
                  %span.stunt_num 39
                  %span.university_name University of Technology Sydney
                %li
                  %span.stunt_num 22
                  %span.university_name University of Western Sydney
                %li
                  %span.stunt_num 14
                  %span.university_name Other Universities
            .circle_col
              .circl_data
                %span.crcl_num 365
                %span.crcl_add New South wales
                %span.crcl_stdnt students
          .full_data.current.div140
            .student_data
              %ul
                %li
                  %span.stunt_num 103
                  %span.university_name University of Queensland
                %li
                  %span.stunt_num 23
                  %span.university_name Griffith University
                %li
                  %span.stunt_num 14
                  %span.university_name Other Universities
            .circle_col
              .circl_data
                %span.crcl_num 143
                %span.crcl_add Queenland
                %span.crcl_stdnt students
          .full_data.current.div143
            .student_data
              %ul
                %li
                  %span.stunt_num 103
                  %span.university_name University of Western Australia
                %li
                  %span.stunt_num 23
                  %span.university_name Other Universities
                %li
                  %span.stunt_num 17
                  %span.university_name Curtin University
            .circle_col
              .circl_data
                %span.crcl_num 143
                %span.crcl_add Western Australia
                %span.crcl_stdnt students
          .full_data.div423
            .student_data
              %ul
                %li
                  %span.stunt_num 238
                  %span.university_name University of Melbourne
                %li
                  %span.stunt_num 101
                  %span.university_name Monash University
                %li
                  %span.stunt_num 36
                  %span.university_name La Trobe University
                %li
                  %span.stunt_num 31
                  %span.university_name Deakin University
                %li
                  %span.stunt_num 17
                  %span.university_name Other Universities
            .circle_col
              .circl_data
                %span.crcl_num 423
                %span.crcl_add Victoria
                %span.crcl_stdnt students
          .full_data.current.div90
            .student_data
              %ul
                %li
                  %span.stunt_num 54
                  %span.university_name University of Adelaide
                %li
                  %span.stunt_num 24
                  %span.university_name Flinders University
                %li
                  %span.stunt_num 12
                  %span.university_name University of South Australia
            .circle_col
              .circl_data
                %span.crcl_num 90
                %span.crcl_add South Australia
                %span.crcl_stdnt students
