- if defined? popup
  .close-btn-vce-provider.pull-right
    X

.container.no_padding
  .table_overflow
    %table.vce_comparison_table
      %tr.main-title
        %td{:colspan => "3"} ATTENDANCE PACKAGE
      %tr
        %th
        %th
          =image_tag('https://gradready.s3.ap-southeast-2.amazonaws.com/static/gradready-logo-purple.png', height: "30", alt: "GradReady")
        %th
          Other Provider (TS)
      %tr.title
        %td{:colspan => "3"} LIVE COMPONENT
      %tr
        %td
          %a.u-purple-link{:href=> dynamic_product_version_uri('online-basic', 'VCE', '', '5x1-hour-private-tutoring-session')} Hours of Live Teaching
        %td.red 30 hours
        %td 12.5 hours
      %tr
        %td
          %a.u-purple-link{:href=> dynamic_product_version_uri('online-basic', 'VCE', '', 'Live-Tutorials')} Number of Students per Class
        %td.red 10 max
        %td 20 max
      %tr
        %td
          %a.u-purple-link{:href=> dynamic_product_version_uri('online-basic', 'VCE', '', 'Live-Tutorials')} Teaching Style
        %td.light-red Interactivity Focused
        %td.light-red Interactivity Focused
      %tr
        %td
          %a.u-purple-link{:href=> '/gamsat-preparation-courses/team'} Specialist Tutor in Each Subject
        %td.light-red ✔
        %td.light-red ✔
      %tr
        %td
          %a.u-purple-link{:href=> dynamic_product_version_uri('online-basic', 'VCE', '', 'Mock-Exam-Day+Mock-Exam-Day-Recap')} Review Day
        %td.light-red  ✔
        %td.light-red  ✔
      %tr.title
        %td{:colspan => "3"} PRACTICAL MATERIAL
      %tr
        %td
          %a.u-purple-link{:href=> dynamic_product_version_uri('online-basic', 'VCE', '', 'feature_Diagnostics')} Diagnostics Test
        %td.red  ✔
        %td  x
      %tr
        %td
          %a.u-purple-link{:href=> dynamic_product_version_uri('online-basic', 'VCE', '', 'feature_Diagnostics')} Auto Reporting System for Diagnostics
        %td.red  ✔
        %td  x
      %tr
        %td
          %a.u-purple-link{:href=> dynamic_product_version_uri('online-basic', 'VCE', '', 'feature_MCQs')} Performance Tracking System
        %td.red  ✔
        %td  x
      %tr
        %td
          %a.u-purple-link{:href=> dynamic_product_version_uri('online-basic', 'VCE', '', 'feature_MCQs')} Customisable MCQs
        %td.red  ✔
        %td  x
      %tr
        %td
          %a.u-purple-link{:href=> dynamic_product_version_uri('online-basic', 'VCE', '', 'feature_GetClarity')} Targeted Essay Feedback
        %td.red  ✔
        %td  x
      %tr
        %td
          %a.u-purple-link{:href=> dynamic_product_version_uri('online-basic', 'VCE', '', 'feature_online_exams')} Number of Practice Exams
        %td  5
        %td.red 10+
      %tr
        %td
          %a.u-purple-link{:href=> dynamic_product_version_uri('online-basic', 'VCE', '', 'feature_online_exams')} Auto Reporting System for Practice Exams
        %td.red  ✔
        %td  x
      %tr
        %td
          %a.u-purple-link{:href=> dynamic_product_version_uri('online-basic', 'VCE', '', '6-Online-Exams')} Exam Percentile Reported
        %td.red  ✔
        %td  x
      %tr.title
        %td{:colspan => "3"} LEARNING TOOLS
      %tr
        %td
          %a.u-purple-link{:href=> dynamic_product_version_uri('online-basic', 'VCE', '', 'feature_Course')} Videos
        %td.red  ✔
        %td  x
      %tr
        %td
          %a.u-purple-link{:href=> dynamic_product_version_uri('online-basic', 'VCE', '', 'Quality-Assurance-System')} Quality Assurance System
        %td.red  ✔
        %td  x
      %tr
        %td
          %a.u-purple-link{:href=> dynamic_product_version_uri('online-basic', 'VCE', '', 'feature_Cross')} Cross Referencing System
        %td.red  ✔
        %td  x
      %tr
        %td
        %td.highlight-price $589 (10 weeks)
        %td $725 (10 weeks)
