%a.link-gamsat{:href => "https://www.facebook.com/GradReadyGAMSAT", :target => "_blank"}
  %i.fa.fa-facebook-f
%a.link-umat{:href => "https://www.facebook.com/GradReadyUMAT", :target => "_blank"}
  %i.fa.fa-facebook-f
%a.link-vce{:href => "https://www.facebook.com/GradReadyVCE", :target => "_blank"}
  %i.fa.fa-facebook-f
%a.link-hsc{:href => "https://www.facebook.com/GradReadyHSC", :target => "_blank"}
  %i.fa.fa-facebook-f
%br

%a.link-gamsat{:href => "https://www.instagram.com/gradreadygamsat", :target => "_blank"}
  %i.fa.fa-instagram
%a.link-umat{:href => "https://www.instagram.com/gradreadyumat", :target => "_blank"}
  %i.fa.fa-instagram
%a.link-vce{:href => "https://www.instagram.com/gradreadyvce", :target => "_blank"}
  %i.fa.fa-instagram
%a.link-hsc{:href => "https://www.instagram.com/gradreadyhsc", :target => "_blank"}
  %i.fa.fa-instagram
%br

%a{:href => "https://twitter.com/GradReadyAU", :target => "_blank"}
  %i.fa.fa-twitter