%p
  Over 1000 students choose GradReady each year to help them with their GAMSAT preparations because our students have increased their GAMSAT results by
  %a{href: "https://gradready.com.au/gamsat-preparation-courses/student_testimonials"}
    an average of 24 percentile points
  = "."
%p
  If you're ready to start improving your GAMSAT results, explore one of our courses below.
= render 'product_versions_summary', product_line:  @product_line, trial_course: @trial_course
