// Place all the styles related to the Tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn.btn-default.new-ticket.large{
  margin: 10px 0px;
  font-size: 20px
}

.span_left{
  text-align: left;
  float: left;
  width: auto;
}
