#Course-IR-Videos
  .row
    .feature-icon-container.col-md-6
      .feature-icon.pull-left
        %i.fa.fa-question{"aria-hidden" => "true"}
      .feature-content.pull-right
        %h4
          MMI Overview
        .text
          %p.u-word-spacing To perform well, you need to understand the underlying principles behind the use of MMI. We will discuss why it is used by medical schools and the schools' expectation of student performance.
    .feature-icon-container.col-md-6
      .feature-icon.pull-left
        %i.fa.fa-trophy{"aria-hidden" => "true"}
      .feature-content.pull-right
        %h4
          The "ideal" medical candidates and assessment criteria
        .text
          %p.u-word-spacing We will discuss in detail the criteria assessors look for in the MMI. We will also explore the concept of the "ideal" medical candidate, why are certain traits considered important and a self reflection of whether you actually would like to be the said ideal.
  .row
    .feature-icon-container.col-md-6
      .feature-icon.pull-left
        %i.fa.fa-lightbulb-o{"aria-hidden" => "true"}
      .feature-content.pull-right
        %h4
          10 common scenarios
        .text
          %p.u-word-spacing After understanding the general concepts and expectations with in the medical MMI, we will then turn to applying that knowledge through dissecting some of the common scenarios that will be present in most medical MMIs.
    .feature-icon-container.col-md-6
      .feature-icon.pull-left
        %i.fa.fa-users{"aria-hidden" => "true"}
      .feature-content.pull-right
        %h4
          Tutor facilitated peer interviews
        .text
          %p.u-word-spacing Our experienced tutors will guide you through the peer interview process, so that you put what you understand about the scenarios into practice.
  .row
    .feature-icon-container.col-md-6
      .feature-icon.pull-left
        %i.fa.fa-file-text-o{"aria-hidden" => "true"}
      .feature-content.pull-right
        %h4
          Realistic mock MMI
        .text
          %p.u-word-spacing In the 8 station mock MMI, you will be treated and assessed as you would in the real MMI. There is no substitute for this experience, since you will not know what sort of mistakes you tend to make until you are put under realistic stress.
    .feature-icon-container.col-md-6
      .feature-icon.pull-left
        %i.fa.fa-comments-o{"aria-hidden" => "true"}
      .feature-content.pull-right
        %h4
          Critiques and discussion
        .text
          %p.u-word-spacing We will analyse peer performance from both the perspective of the interviewer and the student, so that you understand both how you are being perceived and what it is like being on the other side of the table doing the assessments.
