#Essay-Writing-Guide.feature-icon-container.col-md-6
  .feature-icon.pull-left
    %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
  .feature-content.pull-right
    %h4
      Essay Writing Guide
    %strong
      %i
        (included in course book)
        %br
      / .label.label-mini.label-enhanced
      / %i.fa.fa-magic.icon-enhance{"aria-hidden" => "true"}
      / = link_to 'enhanced', recent_update_path, class: 'c_grn'
    .text
      %p.u-word-spacing In addition to our general essay writing strategies, we provide a detailed 8-step guide to crafting the perfect essay. We also provide analysis on 48 example essays of varying quality, allowing you to understand the characteristics of good and bad essays. In addition, there are 40 sets of quotes for you to use as practise (note that the essays you write here will not be marked). The guide is included in the Course Book.
