#GAMSAT-Strategy.feature-icon-container.col-md-6
  .feature-icon.pull-left
    %i.fa.fa-bullseye{"aria-hidden" => "true"}
  .feature-content.pull-right
    %h4
      GAMSAT Strategy
    .text 
      %p.u-word-spacing Perform your best by understanding what makes the GAMSAT different, how to prepare for it and how to deal with high-pressure situations. This guide is included in the Course Book.