#Study-Timeline-Guide.feature-icon-container.col-md-6
  .clearfix
    .feature-icon.pull-left
      %i.fa.fa-book{"aria-hidden" => "true"}
    .feature-content.pull-right
      %h4
        Study Timeline Guide
        / .label.label-mini.label-new
        / %i.fa.fa-star.icon-green-star{"aria-hidden" => "true"}
        / = link_to 'new', recent_update_path, class: 'c_grn'
      %strong
        %i
          (included in course book)
          %br
      .text
        %p.u-word-spacing To help you navigate through the GAMSAT journey, we have provided a detailed Study Timeline Guide for Section I, Section II and each of the 3 Section III science areas. This guide is included in the Course Book.
