%h4 15 Additional Hours of One on One Tutoring
- if paid
  %span Individual value of item: $#{price.ceil} + 10% GST = $#{price_with_gst.ceil}
-else
  %span (Built into our systems)
%p
  Based on the recommendations of your personal GradReady Success...
.show_full_content
  Based on the recommendations of your personal GradReady Success Leader, you can book up to 15 hours of specialised advice on topics of your choosing.
