%h4
  10 common scenarios
%p
  After understanding the general concepts and expectations with in the medical ...
.show_full_content
  After understanding the general concepts and expectations with in the medical MMI, we will then turn to applying that knowledge through dissecting some of the common scenarios that will be present in most medical MMIs.
