%h4
  Critiques and discussion
%p
  We will analyse peer performance from both the perspective of the interviewer ...
.show_full_content
  We will analyse peer performance from both the perspective of the interviewer and the student, so that you understand both how you are being perceived and what it is like being on the other side of the table doing the assessments.
