%h4 Cross Referencing System
%span (Built into our systems)
%p
  To enable you to better tie together resources across platforms, we have introduced ...
.show_full_content
  To enable you to better tie together resources across platforms, we have introduced the Cross Referencing system where you will to able to match MCQs to precise videos and textbook chapters. So when you get an MCQ wrong, you will now know exactly which videos and notes to review to consolidate your knowledge.
