%h4 Diagnostic Results Discussion
- if paid
  %span Individual value of item: $#{price.ceil} + 10% GST = $#{price_with_gst.ceil}
-else
  %span (Built into our systems)

%p
  Our expert tutors will discuss with you your strengths ....

.show_full_content
  Our expert tutors will discuss with you your strengths and weaknesses based on your diagnostic results, helping you formulate a study plan that will bring out the best in you.
  
  Be fully prepared for the GAMSAT
  %sup®
  exam by addressing your remaining weak points in one on one sessions.