%h4 Supplemental Resources
- if paid
  %span Individual value of item: $#{price.ceil} + 10% GST = $#{price_with_gst.ceil}
-else
  %span (Built into our systems)
%p
  Our tutors often go out of their way to find useful material to share with you ...
.show_full_content
  Our tutors often go out of their way to find useful material to share with you. You will be able to easily access the extra content via our web portal.
