#english_study_guide.feature-icon-container
  .clearfix
    .feature-icon
      %i.fa.fa-user{"aria-hidden" => "true"}
    .feature-content
      %h4
        Comprehensive study guide for your selected text of study
      .text
        All students will receive the following
        %ul
          %li.u-word-spacing All students will be provided with a comprehensive and detailed study guide specific to the novel/film/poem that has been prescribed to them in their Area of Study. We have detailed material covering the following 10 texts:
          %li.u-word-spacing
            %ul
              %li.u-word-spacing The Complete Maus, Art Spiegelman
              %li.u-word-spacing Mabo (Film)
              %li.u-word-spacing Death of a Salesman, Arthur Miller
              %li.u-word-spacing Burial Rites, Hannah Kent
              %li.u-word-spacing Medea (Play)
              %li.u-word-spacing This Boy’s Life, by Tobias Wolf
              %li.u-word-spacing The White Tiger, Aravind Adiga
              %li.u-word-spacing Into the Wild (Film)
              %li.u-word-spacing Invictus (Film)
              %li.u-word-spacing Life of Galileo, Bertolt Brecht
        Each text-specific guide provides you with an in-depth analysis of the themes, concepts, characters and provides you with a range of annotated essays.
