#essay-writing.feature-icon-container
  .clearfix
    .feature-icon
      %i.fa.fa-user{"aria-hidden" => "true"}
    .feature-content
      %h4
        General Essay Writing Guide
        %span.enhance-features
          =image_tag dynamic_enhance_images(product_line), width: '15', height: 'auto'
          = link_to 'Enhanced', recent_update_path(tab: product_line), class:appropriate_icon(product_line)
      .text
        %p.u-word-spacing All students enrolled in an English preparation course will receive a detailed and structured Essay Writing Guide. This guide will include a detailed 8-step guide to crafting the perfect essay. We also provide analysis on 48 example essays of varying quality, allowing you to understand the characteristics of good and bad essays. In addition, there are 40 sets of quotes for you to use as practise (note that the essays you write here will not be marked).
