%h4 Evolving Strategies
- if paid
  %span Individual value of item: $#{price.ceil} + 10% GST = $#{price_with_gst.ceil}
-else
  %span (Built into our systems)
%p
  If a certain method of prioritising your studies or approach to the GAMSAT
  %sup®
  exam is not...
.show_full_content
  If a certain method of prioritising your studies or approach to the GAMSAT
  %sup®
  exam is not working, your GradReady Success Leader will help you to make adjustments to your study plans and philosophies to maximise your chance of performing your best in the GAMSAT
  %sup®
  exam.

