%h4 Exemplar Interview Response Videos
%p
  To further understand how to respond to typical MMI questions, you will ...
.show_full_content
  To further understand how to respond to typical MMI questions, you will be able to watch videos that demonstrate a high, average and low quality response to an assortment of questions. The exemplar questions are separated into the 10 common scenarios to tie into what you have learnt in class.
