%h4 GetClarity System
- if paid
  %span Individual value of item: $#{price.ceil} + 10% GST = $#{price_with_gst.ceil}
-else
  %span (Built into our systems)

%p
  We believe that the best way to improve is to understand where you went wrong and how you can ...
.show_full_content
  We believe that the best way to improve is to understand where you went wrong and how you can do better the next time. The GetClarity System is a tool that will help you to dissect your weaknesses in even more detail than our standard, but already industry leading, features. The first step in this system is to enable you to easily ask follow-up questions about any content – meaning that you practically have a personal tutor at your fingertips 24/7. The system is currently being applied to our Videos, MCQs, textbook and Online Exams.
