%h4 Assigned Personal GradReady Success Leader
- if paid
  %span Individual value of item: $#{price.ceil} + 10% GST = $#{price_with_gst.ceil}
-else
  %span (Built into our systems)
%p
  The GradReady Success Leader will put the personal touch on helping you to get...
.show_full_content
  The GradReady Success Leader will put the personal touch on helping you to get the best of yourself and GradReady’s range of web tools and content. Based on your Onboarding Exam performance, the GradReady Success Leader will help you to develop a personalised study roadmap.
