%h4
  The "ideal" medical candidate and assessment criteria
%p
  We will discuss in detail the criteria assessors look for in the MMI ...
.show_full_content
  We will discuss in detail the criteria assessors look for in the MMI. We will also explore the concept of the "ideal" medical candidate, why are certain traits considered important and a self reflection of whether you actually would like to be the said ideal.
