%h4
  In Class Booklet
%p
  On the first day of class you will be provided with a new and improved booklet ...
.show_full_content
  On the first day of class you will be provided with a new and improved booklet
  which explains all of the background information about MMI interviews and the 10 common scenarios that you will need to know.
