%h4
  KeepYouGoing
  %sup ®
%span (Built into our systems)
%p Multiple times a year, you will have the chance to join a GradReady Study Cohort where each week, our wonderful....
.show_full_content
  %p Multiple times a year, you will have the chance to join a GradReady Study Cohort where each week, our wonderful team of tutors will do a check-in session for the Cohort - to keep you on track and to discuss often-encountered issues such as how to wrap your head around everything and staying motivated. A Cohort Specific Study Plan will also be created for each Cohort.
  %p Also in each Cohort, you will be a part of a community where you will not only form study groups but also meet friends. Our fantastic team will run frequent competitions and games to help you stay engaged. You will hear from current medical students in terms of what their struggles were and what you have to look forward to once you overcome this hurdle.
  %p Keep on top of GradReady announcements or sign up to a free account for when the next GradReady Study Cohort will commence.

