%h4
  10 Marked Essays
- if paid
  %span Individual value of item: $#{price.ceil} + 10% GST = $#{price_with_gst.ceil}
-else
  %span (Built into our systems)

%p
  Get personal feedback on your essays within 72 working hours ...
.show_full_content
  Get personal feedback on your essays within 72 working hours. Our team of experienced essay makers includes tutors from diverse backgrounds, from PhDs to lawyers, to provide expert advice beyond the reach of a regular medical student. They'll help identify your specific weaknesses and teach you how to improve.
