%h4
  MMI Overview
%p
  To perform well, you need to understand the underlying principles ...
.show_full_content
  To perform well, you need to understand the underlying principles behind the use of MMI. We will discuss why it is used by medical schools and the schools' expectation of student performance.
