%h4
  Bank of MMI Questions
%p
  No matter how much you prepare for an interview, a few questions will still likely ...
.show_full_content
  No matter how much you prepare for an interview, a few questions will still likely to catch you off guard. To prepare yourself for the interview, you can set up a mock interview for yourself through our MMI Question Bank. The interview questions have been written by medical students who have gone through interviews themselves.
