.feature-content
  %h4 Mobile Friendly - Study on the Go
  %span (Built into our systems)
  %p
    We know that every minute is precious in your preparations...
  .show_full_content
    We know that every minute is precious in your preparations - you are able to access every single one of our desktop features seamlessly via your mobile, allowing you to brush up on content and do practice MCQs wherever you are.
