%h4
  No Interview Offer Refund
%p
  Secure a spot in our Interview Ready Attendance courses before receiving ...
.show_full_content
  Secure a spot in our Interview Ready Attendance courses before receiving an interview offer and be eligible for a full refund in the situation that you do not receive an interview offer. Make sure to follow the steps in our Enrolment, Payment & Refund FAQs.
