.feature-content
  .feature-content
  -if params[:id] != 'custom'
    %h4 Selective Topics Tutorials (4 optional days)
  -else
    %h4 Selective Topics Tutorials
  %span Individual value of item: $#{price.ceil} + 10% GST = $#{price_with_gst.ceil}
  %p
    Through live streaming software, Selective Topics Tutorials will allow our experienced...
  .show_full_content
    Through live streaming software, Selective Topics Tutorials will allow our experienced tutors more time to cover the more difficult topics - delivering the classes via a webinar format, allowing you the flexibility to tune in from anywhere around the world.
    %br
    Due to COVID-19 restrictions and the associated uncertainty, the exact format and structure is subject to change. Refer to the course timetable above for further information and please submit a support ticket under the category 1. Course Information if you have further queries.
