%h4 Personal Analytics of Your Performance of Each Exam
- if paid
  %span Individual value of item: $#{price.ceil} + 10% GST = $#{price_with_gst.ceil}
-else
  %span (Built into our systems)
%p
  Our system already will have provided you with ample information on your performance...
.show_full_content
  Our system already will have provided you with ample information on your performance and strength and weakness. But our GradReady Success Leader will help you in fleshing out the reasons behind why you might be weaker in certain areas and what you can do about them.

