%h4
  My Performance Profile
  %sup 速
%span (Built into our systems)
%p
  My Performance Profile
  %sup 速
  automatically identifies your area of weakness and compares your performance against...
.show_full_content
  My Performance Profile
  %sup 速
  automatically identifies your area of weakness and compares your performance against the rest of the GradReady cohort. It provides a breakdown in terms of overall content learning, performance, and a corresponding guide of what areas to focus on to maximise your study. It utilises industry-leading software to hone in on specific subjects and chapters of the course, and so helps you stay on track to achieve the best possible GAMSAT
  %sup 速
  result.


