%h4
  Portfolio Review
- if paid
  %span Individual value of item: $#{price.ceil} + 10% GST = $#{price_with_gst.ceil}
-else
  %span (Built into our systems)

%p
  The expert GradReady tutors will help you navigate through...
.show_full_content
  The expert GradReady tutors will help you navigate through the complexities of the medical school application process and recommend the best schools to apply to based on your portfolio.
