%h4 Quality Assurance System
%span (Built into our systems)
%p You are able to provide feedback on everything within the GradReady web system - from MCQs to videos...
.show_full_content
  %p You are able to provide feedback on everything within the GradReady web system - from MCQs to videos. This means that we can rapidly adapt to your needs.
