%h4
  Realistic mock MMI
%p
  In the 8 station mock MMI, you will be treated and assessed as you would ...
.show_full_content
  In the 8 station mock MMI, you will be treated and assessed as you would in the real MMI. There is no substitute for this experience, since you will not know what sort of mistakes you tend to make until you are put under realistic stress.
