%h4 Study Timeline Guide
%span (included in course book)

- if product_line == 'UMAT'
  %p
    To help you navigate through the UCAT
    %sup®
    journey, we have provided a detailed ..
  .show_full_content
    To help you navigate through the UCAT
    %sup®
    journey, we have provided a detailed Study Timeline Guide for each of the 3 sections. This guide is included in the Course Book.
- elsif product_line == 'VCE'
  %p.u-word-spacing
    To help you navigate through your VCE
    %sup{ style: "margin-right: -4px;left: -6px;"} ®
    journey, we have provided a detailed Study Timeline Guide for each of the involved in the curriculum
- elsif product_line == 'HSC'
  %p.u-word-spacing
    To help you navigate through your HSC
    %sup{ style: "margin-right: -4px;left: -6px;"} ®
    journey, we have provided a detailed Study Timeline guide.
- elsif product_line == 'GAMSAT'
  %p
    To help you navigate through the GAMSAT
    %sup®
    exam journey, we have provided a detailed ...
  .show_full_content
    To help you navigate through the GAMSAT
    %sup®
    exam journey, we have provided a detailed Study Timeline Guide for Section I, Section II and each of the Section III science areas. This guide is included in the Course Book.
