.feature-content
  %h4 Study Buddy Matching
  %span (Complimentary)
  %p
    Studying for the GAMSAT
    %sup ®
    exam is easier, more enjoyable ...
  .show_full_content
    Studying for the GAMSAT
    %sup ®
    exam is easier, more enjoyable, and more successful with a study buddy or group. We will help connect you with 1 or more of the thousands of students who use GradReady's services every year.
