%h4 1200+ Page Textbook (Online or Hardcopy)
/ %h4 1200+ Page Hard Copy Textbook
- if paid
  %span Individual value of item: $#{price.ceil} (excluding $19 Shipping) + 10% GST = $#{price_with_gst.ceil}
-else
  %span (Built into our systems)

%p
  Upon enrolment you will have the option to either select the online...
.show_full_content
  Upon enrolment you will have the option to either select the online or hardcopy textbook. If you chose the online version upon enrolment, you will be able to add-on the hardcopy textbook to your course. Similarly, if you chose the hardcopy version upon enrolment, you will be able to add-on the online textbook to your course.
