%h4 Unlimited Number of Essays Marked
- if paid
  %span Individual value of item: $#{price.ceil} + 10% GST = $#{price_with_gst.ceil}
-else
  %span (Built into our systems)
%p
  The GradReady team will work with you until your essays are perfected.
.show_full_content
  The GradReady team will work with you until your essays are perfected.
