%h4 Unlimited Additional Reattempts with GradReady
- if paid
  %span Individual value of item: $#{price.ceil} + 10% GST = $#{price_with_gst.ceil}
-else
  %span (Built into our systems)
%p
  You have the option to repeat the entire GradReady curriculum...
.show_full_content
  You have the option to repeat the entire GradReady curriculum with our Attendance Comprehensive Course free of charge.
