.feature-content
  %h4 Regular Support Sessions
  %span (Complimentary)
  %p
    We know that studying for the GAMSAT
    %sup ®
    exam is a long journey ...
  .show_full_content
    We know that studying for the GAMSAT
    %sup ®
    exam is a long journey. So at GradReady we offer extra online sessions to support you through the multi-month long preparation process, ranging from helping you to keep on track with our detail study plans to advice on stress management and keeping yourself motivated.
