- if defined? popup
  .close-btn-umat-provider.pull-right
    X

/ attendance package
.container.no_padding
  .table_overflow
    %table.umat_comparison_table
      %tr.main-title
        %td{:colspan => "3"} ATTENDANCE PACKAGE
      %tr
        %th
        %th
          =image_tag('https://gradready.s3.ap-southeast-2.amazonaws.com/static/gradready-logo-blue.png', height: "30", alt: "GradReady", class: 'umat_compare_logo')
          %br
          Attendance (Essentials)
        %th
          Other Provider
      %tr.title
        %td{:colspan => "3"} LIVE COMPONENT
      %tr
        %td
          %a.u-blue-link{:href=> dynamic_product_version_uri('attendance', 'UMAT', '', 'feature-attendance_tutorials')} Hours of Live Teaching
        %td.red 30 hours
        %td 16 hours
      %tr
        %td
          %a.u-blue-link{:href=> dynamic_product_version_uri('attendance', 'UMAT', '', 'feature_teaching')} Number of Students per Class
        %td.red 18 max
        %td uncapped
      %tr
        %td
          %a.u-blue-link{:href=> dynamic_product_version_uri('attendance', 'UMAT', '', 'feature_teaching')} Teaching Style
        %td.red Interactivity Focused
        %td Traditional Seminar
      %tr
        %td
          %a.u-blue-link{:href=> '/umat-preparation-courses/team'} Specialist Tutor in Each Subject
        %td.red ✔
        %td x
      %tr
        %td
          %a.u-blue-link{:href=> dynamic_product_version_uri('attendance', 'UMAT', '', 'feature_Mock')} Mock Exam Day
        %td.light-red  ✔
        %td.light-red  ✔
      %tr
        %td
          %a.u-blue-link{:href=> dynamic_product_version_uri('attendance', 'UMAT', '', 'feature_Mock')} Review Day
        %td.red  ✔
        %td  x
      %tr
        %td
          %a.u-blue-link{:href=> dynamic_product_version_uri('attendance', 'UMAT', '', 'feature_Mock')} Mock Exam Percentile Reported
        %td.red  ✔
        %td  x
      %tr.title
        %td{:colspan => "3"} PRACTICAL MATERIAL
      %tr
        %td
          %a.u-blue-link{:href=> dynamic_product_version_uri('attendance', 'UMAT', '', 'feature_Diagnostics')} Diagnostics Test
        %td.light-red  ✔
        %td.light-red  ✔
      %tr
        %td
          %a.u-blue-link{:href=> dynamic_product_version_uri('attendance', 'UMAT', '', 'feature_Diagnostics')} Auto Reporting System for Diagnostics
        %td.red  ✔
        %td  x
      %tr
        %td
          %a.u-blue-link{:href=> dynamic_product_version_uri('attendance', 'UMAT', '', '1500-MCQs-(and-growing)+Tracking-System')} Number of MCQs Available
        %td.red  1500 and growing weekly
        %td  1300
      %tr
        %td
          %a.u-blue-link{:href=> dynamic_product_version_uri('attendance', 'UMAT', '', '1500-MCQs-(and-growing)+Tracking-System')} Performance Tracking System
        %td.red  ✔
        %td  x
      %tr
        %td
          %a.u-blue-link{:href=> dynamic_product_version_uri('attendance', 'UMAT', '', '1500-MCQs-(and-growing)+Tracking-System')} Customisable MCQs
        %td.red  ✔
        %td  x
      %tr
        %td
          %a.u-blue-link{:href=> dynamic_product_version_uri('attendance', 'UMAT', '', 'feature_online_exams')} Number of Practice Exams
        %td  5
        %td.red 10
      %tr
        %td
          %a.u-blue-link{:href=> dynamic_product_version_uri('attendance', 'UMAT', '', 'feature_online_exams')} Auto Reporting System for Practice Exams
        %td.red  ✔
        %td  x
      %tr
        %td
          %a.u-blue-link{:href=> dynamic_product_version_uri('attendance', 'UMAT', '', 'feature_online_exams')} Exam Percentile Reported
        %td.red  ✔
        %td  x
      %tr.title
        %td{:colspan => "3"} LEARNING TOOLS
      %tr
        %td
          %a.u-blue-link{:href=> dynamic_product_version_uri('attendance', 'UMAT', '', 'feature_1000')} Textbook
        %td.light-red  ✔
        %td.light-red  ✔
      %tr
        %td
          %a.u-blue-link{:href=> dynamic_product_version_uri('attendance', 'UMAT', '', 'feature_Course')} Videos
        %td.light-red  ✔
        %td.light-red  ✔
      %tr
        %td
          %a.u-blue-link{:href=> dynamic_product_version_uri('attendance', 'UMAT', '', 'feature_quality')} Quality Assurance System
        %td.red  ✔
        %td  x
      %tr
        %td
          %a.u-blue-link{:href=> dynamic_product_version_uri('attendance', 'UMAT', '', 'feature_Cross')} Cross Referencing System
        %td.red  ✔
        %td  x
      %tr
        %td
        %td.highlight-price $743
        %td $870

%br
%br

.container.no_padding
  .table_overflow
    %table.umat_comparison_table
      %tr.main-title
        %td{:colspan => "3"} NON-ATTENDANCE PACKAGE
      %tr
        %th
        %th
          =image_tag('https://gradready.s3.ap-southeast-2.amazonaws.com/static/gradready-logo-blue.png', height: "30", alt: "GradReady", class: 'umat_compare_logo')
          %br
          Online (Essentials)
        %th
          Other Provider
      %tr.title
        %td{:colspan => "3"} PRACTICAL MATERIAL
      %tr
        %td
          %a.u-blue-link{:href=> dynamic_product_version_uri('attendance', 'UMAT', '', 'feature_Diagnostics')} Diagnostics Test
        %td.red  ✔
        %td  x
      %tr
        %td
          %a.u-blue-link{:href=> dynamic_product_version_uri('attendance', 'UMAT', '', 'feature_Diagnostics')} Auto Reporting System for Diagnostics
        %td.red  ✔
        %td  x
      %tr
        %td
          %a.u-blue-link{:href=> dynamic_product_version_uri('attendance', 'UMAT', '', '1500-MCQs-(and-growing)+Tracking-System')} Number of MCQs Available
        %td.red  1500 and growing weekly
        %td  1300
      %tr
        %td
          %a.u-blue-link{:href=> dynamic_product_version_uri('attendance', 'UMAT', '', '1500-MCQs-(and-growing)+Tracking-System')} Performance Tracking System
        %td.red  ✔
        %td  x
      %tr
        %td
          %a.u-blue-link{:href=> dynamic_product_version_uri('attendance', 'UMAT', '', '1500-MCQs-(and-growing)+Tracking-System')} Customisable MCQs
        %td.red  ✔
        %td  x
      %tr
        %td
          %a.u-blue-link{:href=> dynamic_product_version_uri('attendance', 'UMAT', '', 'feature_online_exams')} Number of Practice Exams
        %td  5
        %td.red 10
      %tr
        %td
          %a.u-blue-link{:href=> dynamic_product_version_uri('attendance', 'UMAT', '', 'feature_online_exams')} Auto Reporting System for Practice Exams
        %td.red  ✔
        %td  x
      %tr
        %td
          %a.u-blue-link{:href=> dynamic_product_version_uri('attendance', 'UMAT', '', 'feature_online_exams')} Exam Percentile Reported
        %td.red  ✔
        %td  x
      %tr.title
        %td{:colspan => "3"} LEARNING TOOLS
      %tr
        %td
          %a.u-blue-link{:href=> dynamic_product_version_uri('attendance', 'UMAT', '', 'feature_1000')} Textbook
        %td.light-red  ✔
        %td.light-red  ✔
      %tr
        %td
          %a.u-blue-link{:href=> dynamic_product_version_uri('attendance', 'UMAT', '', 'feature_Course')} Videos
        %td.light-red  ✔
        %td.light-red  ✔
      %tr
        %td
          %a.u-blue-link{:href=> dynamic_product_version_uri('attendance', 'UMAT', '', 'feature_quality')} Quality Assurance System
        %td.red  ✔
        %td  x
      %tr
        %td
          %a.u-blue-link{:href=> dynamic_product_version_uri('attendance', 'UMAT', '', 'feature_Cross')} Cross Referencing System
        %td.red  ✔
        %td  x
      %tr
        %td
        %td.highlight-price $325
        %td $395
