.img-col.podcast-icon.col-md-12
	=link_to image_tag('https://gradready.s3.ap-southeast-2.amazonaws.com/static/podcast/apple-podcast.png', class: "img-responsive", width: 165, height: 40),"https://podcasts.apple.com/us/podcast/gamsat-to-med-school-presented-by-gradready/id1543134805", target: '_blank'
	=link_to image_tag('https://gradready.s3.ap-southeast-2.amazonaws.com/static/podcast/google-podcast.svg', class: "img-responsive", width: 165, height: 40), "https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy80MjY3M2Y2Yy9wb2RjYXN0L3Jzcw?sa=X&ved=0CAMQ4aUDahcKEwjwjvWiiMXtAhUAAAAAHQAAAAAQAQ&hl=en-AU", target: '_blank'
	=link_to image_tag('https://gradready.s3.ap-southeast-2.amazonaws.com/static/podcast/spotify-podcast.png', class: "img-responsive", width: 165, height: 40), "https://open.spotify.com/show/4Hs13vioY4O1MS3U645uvR?si=C9MwJHowQ0m1lgeF6arzcw", target: '_blank'
.follow-us-podcast.col-md-12
	%p
		Follow Us:
		%a{href: "https://www.facebook.com/GradReadyGAMSAT/", target: "_blank"}
			%i.fa.social_icn.fa-facebook.fb_icon
		%a{href: "https://www.youtube.com/channel/UCNlMQp7pKMWP65uoGSrl4oA", target: "_blank"}
			%i.fa.social_icn.fa-youtube.utube_icon