There is new inquire from website

Email: = @form.mail
Phone: = @form.phone
Subject: = @form.subject
Location: = @form.contact_location
Message: = @form.message

Kind regards,
GradReady Student Success Team
