%div{:itemscope => "", :itemtype => "http://www.schema.org/SiteNavigationElement"}
  %span
    %a{:href => "https://gradready.com.au/", :itemprop => "url"}
      %span{:content => "HOME", :itemprop => "name"}
  %span
    %a{:href => "https://gradready.com.au/gamsat-preparation-courses/scholarship", :itemprop => "url"}
      %span{:content => "Scholarship", :itemprop => "name"}
  %span
    %a{:href => "https://gradready.com.au/gamsat-preparation-courses", :itemprop => "url"}
      %span{:content => "GAMSAT Courses", :itemprop => "name"}
  %span
    %a{:href => "https://gradready.com.au/umat-preparation-courses", :itemprop => "url"}
      %span{:content => "UMAT Courses", :itemprop => "name"}
  %span
    %a{:href => "https://gradready.com.au/gamsat-preparation-courses/faq", :itemprop => "url"}
      %span{:content => "GAMSAT FAQ", :itemprop => "name"}
  %span
    %a{:href => "https://gradready.com.au/umat-preparation-courses/faq", :itemprop => "url"}
  %span
    %a{:href => "https://gradready.com.au/login", :itemprop => "url"}
      %span{:content => "Login", :itemprop => "name"}
  %span
    %a{:href => "https://gradready.com.au/gamsat-preparation-courses/contact", :itemprop => "url"}
      %span{:content => "Contact US", :itemprop => "name"}
