<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <!--
  Email requirements
  1. Styles must be inline; some email clients delete <style> tags
  2. Use tables
  3. It should look good without images loaded
  -->
</head>
<body style="
  background-color: #efefef;
  font-family: verdana;
">
  <table align="center" border="0" cellpadding="0" cellspacing="0" style="
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
  ">
    <tbody>
      <tr>
        <td height="30px"></td>
      </tr>
      <tr>
        <td style="
          padding: 0 20px 20px;
        ">
          <img src="http://stage.gradready.com.au/assets/gradready-logo-green-bab4332ab3cb999f6b0fca7080539eca934b2713b88d8ce473728e063a6f4a20.png" style="
            height: 40px;
            width: auto;
          ">
        </td>
      </tr>
      <tr>
        <td>
          <table align="center" border="0" cellpadding="0" cellspacing="0" style="
            background-color: #ffffff;
            box-shadow: 0 0 3px 1px #dadada;
            border-radius: 3px;
          ">
            <tbody>
              <tr>
                <td>
                  <img src="http://stage.gradready.com.au/assets/hero_img-main-page-a6c4410683d6c68e94cc05f1d9004dd2596d73903f5320df1e916f810a0871f2.jpg" style="
                    width: 100%;
                    height: auto;
                    background-color: #009348;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                  ">
                </td>
              </tr>
              <tr>
                <td>
                  <table align="center" border="0" cellpadding="0" cellspacing="0" style="
                    padding: 30px;
                  ">
                    <tbody>
                      <tr><!-- title -->
                        <td style="
                          color: #009348;
                          font-size: 24px;
                          font-weight: normal;
                        ">
                          Example Title
                        </td>
                      </tr>
                      <tr>
                        <!-- content -->
                        <td style="
                          font-size: 14px;
                          padding: 14px 0 0;
                        ">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                          ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                          aliquip ex ea commodo consequat. Duis aute irure dolor in
                          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                          culpa qui officia deserunt mollit anim id est laborum.
                          <br/>
                          <br/>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                          ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                          aliquip ex ea commodo consequat.
                          <br/>
                          <br/>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                          ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                          aliquip ex ea commodo consequat. Duis aute irure dolor in
                          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                          culpa qui officia deserunt mollit anim id est laborum.
                        </td>
                      </tr>
                      <tr>
                        <td align="center" style="
                          padding-top: 30px;
                        ">
                          <a href="http://gradready.com.au/" target="_blank" style="
                              padding: 14px 30px;
                              color: #ffffff;
                              text-align: center;
                              display: inline-block;
                              background-color: #009348;
                              border-radius: 5px;
                              border-color: #00813f;
                              border-width: 1px;
                              border-style: solid;
                              text-decoration: none;
                            ">Visit GradReady</a>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td style="
          font-size: 12px;
          color: #bcbcbc;
          padding: 20px 20px 0;
        " align="center">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
          ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </td>
      </tr>
      <!-- <tr>
        <td align="center" style="
          padding: 10px 20px 0;
          font-size: 10px;
        ">
          <a href="">Privacy Policy</a> | <a href="">Unsubscribe</a>
        </td>
      </tr>
      <tr> -->
        <td align="center">
          <i style="
            width: 32px;
            height: 32px;
            line-height: 32px;
            margin: 20px 10px 0 0;
            text-align: center;
            display: inline-block;
            border-radius: 100%;
            background-color: #bcbcbc;
            color: #efefef;
            font-style: normal;
          ">t</i>
          <i style="
            width: 32px;
            height: 32px;
            line-height: 32px;
            margin: 20px 0 0 0;
            text-align: center;
            display: inline-block;
            border-radius: 100%;
            background-color: #bcbcbc;
            color: #efefef;
            font-style: normal;
          ">f</i>
        </td>
      </tr>
      <tr>
        <td height="30px"></td>
      </tr>
    </tbody>
  </table>
</body>
</html>
